<!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3><%= @users_count %></h3>

              <p><%= t("Total Users")%></p>
            </div>
            <div class="icon">
              <i class="ion ion-bag"></i>
            </div>
            <a href="/admin/users" class="small-box-footer"><%= t("More info")%> <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3><%= @visitor_services_count %><sup style="font-size: 20px"></sup></h3>

              <p><%= t("Total Services")%></p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="/admin/visitor_services" class="small-box-footer"><%= t("More info")%><i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>44</h3>

              <p>User Registrations</p>
            </div>
            <div class="icon">
              <i class="ion ion-person-add"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>65</h3>

              <p>Unique Visitors</p>
            </div>
            <div class="icon">
              <i class="ion ion-pie-graph"></i>
            </div>
            <a href="#" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->      
      </div>
      <!-- /.row (main row) -->
      <!-- <div class='col-lg-4 col-md-4 col-xs-12'>
              <iframe frameborder='0' height='270' src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d869.1776454230938!2d47.99345784603378!3d29.37876230589819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fcf849850d401e9%3A0x767eb1122316959c!2sAl+Hamra+Tower%2C+Al-Shuhada+St%2C+Kuwait+City%2C+Kuwait!5e0!3m2!1sen!2seg!4v1431479858381' style='border:0' width='100%'></iframe>
            </div> -->

    </section>
    <!-- /.content -->
  