<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><%= t("Edit Data")%></h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <%= form_for @notification , :url => admin_notification_path do |form| %>
            <% if @notification.errors.any? %>
                <div id="error_explanation">
                <h2><%= pluralize(@notification.errors.count, "error") %> prohibited this notification from being saved:</h2>
                    <ul>
                    <% @notification.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                    </ul>
                </div>
            <% end %>
          <div class="box-body">
            <div class="form-group">
              <label><%= t("Name") %></label>
              <%= form.select(:user_id,  options_for_select(User.where(:role_id => "user").all.collect {|p| [ p.email, p.id ] }, :selected => form.object.user_id) ,{:include_blank =>  'choose from list'} ,  :class => 'form-control' ) %>
            </div>
            <div class="form-group">
              <label><%= t("details") %></label>
              <%= form.text_area :description, :class => "form-control", :placeholder => t("Details"), :required => true %>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary" id="submit" >Submit</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>


<%= link_to t('Show'), admin_notification_path(@notification) %> |
<%= link_to t('Back'), admin_notifications_path %>








