<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
          
        <div class="box-header">
          <h3 class="box-title">
            <%= t("Notifications List") %></h3>          
        </div>
            
        <!-- /.box-header -->
          <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th><%= t("User")%></th>
                  <th><%= t("Description")%></th>
                  <th><%= t("Status") %></th> 
                  <th><%= t("created_at") %></th>
                  <th><%= t("updated_at") %></th>
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @notifications.each do |notification| %>
                  <tr>
                      <td><%= notification.user.username %></td>
                      <td><%= notification.description %></td>
                      <td><%= notification.seen %></td>
                      <td><%= notification.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>
                      <td><%= notification.updated_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>                   
                      <td><%= link_to t("Show"), admin_notification_path(notification) %></td>
                      <td><%= link_to t("Edit"), edit_admin_notification_path(notification) %></td>
                      <td><%= link_to t("Destroy"), admin_notification_path(notification), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>               
                </tbody> 
              </table>
            </div>
          </div>
        </div>
      </div>
  </section>


<br>
  <%= link_to t('New Notification'), new_admin_notification_path %>|

<%= link_to t('Back'), admin_dashboard_path %>



