 <section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"><%= t("Details") %></h3>
        </div><br>         
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead></thead>
                <tbody>
                    <tr>
                      <td><%= t("UserName") %></td>
                      <td><%= @notification.user.username %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("Description") %></td>
                      <td><%= @notification.description %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("Status") %></td>
                      <td><%= @notification.seen %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("created_at") %></td>
                      <td><%= @notification.created_at %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("updated_at") %></td>
                      <td><%= @notification.updated_at %></td>                      
                    </tr>
                    <tr>
                      <td></td>
                      <td><%= link_to t('Edit'), edit_admin_notification_path(@notification) %> | 
                          <%= link_to t('Back'), admin_notifications_path %>
                      </td>                      
                    </tr>
                </tbody> 
              </table>
            </div>
          </div>
        </div>
      </div>
  </section>




