<!-- <%# form_for :session, url: session_path do |form| %>
  <div class="text-field">
    <%# form.label :email %>
    <%# form.text_field :email, type: 'email' %>
  </div>

  <div class="password-field">
    <%# form.label :password %>
    <%# form.password_field :password %>
  </div>

  <div class="submit-field">
    <%# form.submit %>
  </div>

  <div class="other-links">
    <%# if Clearance.configuration.allow_sign_up? %>
      <%# link_to t(".sign_up"), sign_up_path %>
    <%# end %>
    <%# link_to t(".forgot_password"), new_password_path %>
  </div>
<%# end %> -->


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%= csrf_meta_tag %>
    <meta charset="utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @website_name %></title>
    <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/bootstrap.min.css">
    <% if session[:locale] == "en" %>
      <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/main.css">
    <% else %>
      <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/css2.css"> 
    <% end %>    <link rel='stylesheet' href='<%= Rails.application.credentials[:app_host]%>/site/css/font-awesome.min.css'/>
    <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/media.css">
  </head>
  <body>
    <section class="limiter2 text-center">
      <div class="limiter-overlay">
        <div class="container-login1002">
          <div class="modal-body" id="flash">
            <% flash.each do |name, msg| %>
              <div class="msg-alert alert box-size border-color-brand hlf-btm bg-white padding-ver-xs clearfix">
                <button  class="font-bold" type="button" class="close" data-dismiss="modal" id="close">&times;</button>
                <i class="fa fa-close" id="id3"></i>
                <h6 class="font-bold"><%= content_tag :div, msg, :id => "flash_#{name}" %></h6>
              </div>
            <% end %>
          </div>
          <div class="wrap-login100" style="position:fixed">
            <%= form_for :session, url: session_path, :html => {:class => 'login100-form validate-form'} do |form| %>
              <span class="login100-form-title p-b-26">
                <%= t("Sign In")%>
              </span>
              <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                <%= form.text_field :email, type: 'email', class: "input100", :required => true %>
                <span class="focus-input100" data-placeholder="<%= t("Email")%>"></span>
              </div>
              <div class="wrap-input100 validate-input" data-validate="Enter password">
                <%= form.password_field :password, class: "input100", :required => true %>
                <span class="focus-input100" data-placeholder="<%= t("Password")%>"></span>
              </div>
              <div class="row">
                <div class="col-lg-6 col-sm-6 col-xs-6">
                  <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                      <div class="login100-form-bgbtn"></div>
                      <button type="submit" class="login100-form-btn">
                        <%= t(".sign_in")%>
                      </button>
                    </div>
                  </div>
                </div>
                <% if Clearance.configuration.allow_sign_up? %>
                <div class="col-lg-6 col-sm-6 col-xs-6">
                  <div class="container-login100-form-btn">
                    <div class="wrap-login100-form-btn">
                      <div class="login100-form-bgbtn"></div>
                      <%= link_to t(".sign_up"), sign_up_path, :class => "login100-form-btn" %>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
              <div class="new-text">
                <span class="txt1">
                  <%= link_to t(".forgot_password"), new_password_path, class: "txt2" %>
                </span>
              </div>
              <div class="row">
                <div class="footer-bottom1">
                  <ul>
                    <li><a href="<%= Rails.application.credentials[:app_host]%>/pages/privacy_policy" id="ctrl_footer_master_rptFooterLinks_ctl00_lnkFooter"><%= t("privacy policy") %></a> </li>
                    <li><a href="<%= Rails.application.credentials[:app_host]%>/pages/terms_of_use" id="ctrl_footer_master_rptFooterLinks_ctl01_lnkFooter"><%= t("terms of use") %></a> </li>
                    <li><a href="<%= Rails.application.credentials[:app_host]%>/pages/disclaimer" id="ctrl_footer_master_rptFooterLinks_ctl01_lnkFooter"><%= t("disclaimer") %></a> </li>
                  </ul>
                  <p class="copy_right">
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> <span>Progress</span> Organization All rights reserved
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
    <script src="<%= Rails.application.credentials[:app_host]%>/site/js/jquery-3.3.1.min.js"></script>
    <script src="<%= Rails.application.credentials[:app_host]%>/site/js/popper.min.js"></script>
    <script src="<%= Rails.application.credentials[:app_host]%>/site/js/bootstrap.min.js"></script>
    <script src="<%= Rails.application.credentials[:app_host]%>/site/js/main.js"></script>
  </body>
</html>
