<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @errors_log.user %>
</p>

<p>
  <strong>Code:</strong>
  <%= @errors_log.code %>
</p>

<p>
  <strong>Message:</strong>
  <%= @errors_log.message %>
</p>

<p>
  <strong>Location:</strong>
  <%= @errors_log.location %>
</p>

<%= link_to 'Edit', edit_errors_log_path(@errors_log) %> |
<%= link_to 'Back', errors_logs_path %>
