<section class="content">
  <div class="row">
    <!-- left column -->
      <div class="col-md-6">
        <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><%= t("Add User")%></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <%= form_for @user , :url => admin_add_user_path do |form| %>
              <% if @user.errors.any? %>
                <div id="error_explanation">
                  <%= pluralize(@user.errors.count, t("error")) %> <%= t("prohibited from being saved") %>
                  <ul>
                    <% @user.errors.full_messages.each do |message| %>
                      <li><%= t(message) %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="box-body">

                <div class="form-group">
                  <label for="exampleInputEmail1"><%= t("Email") %></label>
                  <%= form.text_field :email, type: 'email', :class => "form-control", :placeholder => t("Email"), :required => true %>
                </div>

                <div class="form-group">
                  <label for="exampleInputEmail1"><%= t("Username") %></label>
                    <%= form.text_field :username, :class => "form-control", :placeholder => t("Username"), :required => true %>
                </div>

                <div class="form-group">
                  <label><%= t("Role") %></label>
                  <%= form.select(:role_id, options_for_select([[t("User"),"user"],[t("Admin"),"admin"]]), {},:class => 'form-control',:include_blank =>  'choose from list')%>
                </div>

                <div class="checkbox">
                  <label for="exampleInputEmail1"><%= t("Account Status") %></label>
                    <%= form.check_box :active,{},"Active","Disabled" %>                  
                </div>

              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                    <button type="submit" class="btn btn-primary" id="submit" >Submit</button>
              </div>
            <% end %>
          </div>
      </div>
  </div>
</section>


<br>
<%= link_to t('Back'), admin_dashboard_path %>

