 <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
          
            <div class="box-header">
              <h3 class="box-title"><%= t("Admins List") %></h3>
            </div>
            <%= form_tag  url_for(:controller => 'admin/members', :action => 'admin_search'), :method => 'get' do %>
                <div class="box-body">
                  <div class="row">
                    <div class="col-xs-2">
                      <input type="text" name="usernamesearch" class="form-control" placeholder="<%= t('Username') %>" >
                    </div>
                    <div class="col-xs-2">
                      <input type="text" name="emailsearch" class="form-control" placeholder="<%= t('Email') %>" >
                    </div>
                    <div class="col-xs-2">
                      <input type="text" name="phonesearch" class="form-control" placeholder="<%= t('Phone') %>" >
                    </div>
                    <div class="col-xs-2">
                      <%= select_tag(:active, options_for_select([[t('Active'),'Active'],[t('Disabled'),'Disabled']]),:class => 'form-control',:include_blank => t('Account Status') )  %>
                    </div>
                    <div class="col-xs-2">
                      <button type="submit"  class="btn btn-primary waves-effect waves-light  text-center" style="margin:auto !important;"><%= 'search' %> </button>  
                    </div>
                  </div>
                </div>
            <% end %><br>
          

            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th><%= t("Username") %></th>
                  <th><%= t("Email") %></th>
                  <th><%= t("Phone") %></th>
                  <th><%= t("Address") %></th> 
                  <th><%= t("registerd_at") %></th>
                  <th><%= t("updated_at") %></th>
                  <th colspan="3"></th>
                </tr>
                </thead>
                <tbody>
                  <% @admins.each do |admin| %>
                    <tr>
                      <td><%= admin.username %></td>
                      <td><%= admin.email %></td>
                      <td><%= admin.phone %></td>
                      <td><%= admin.address %></td>
                      <td><%= admin.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ')  %></td>
                      <td><%= admin.updated_at.strftime('%H:%M:%S%p at %d/%m/%Y ')  %></td>                      
                      <td><%= link_to t("Show"), admin_member_path(admin) %></td>
                      <td><%= link_to t("Edit"), edit_admin_member_path(admin) %></td>
                      <td><%= link_to t("Destroy"), admin_member_path(admin), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>               
                </tbody> 
              </table>
            </div>
          </div>
        </div>
      </div>
  </section>

  <br>
<%= link_to t('Back'), admin_admins_path %>










