
		<h2>	Email Code Authentication </h2>	
        

      <%= form_for :confirm , :url => confirm_signin_path do |form| %>
		    <div class="text-field">
          <label>Authentication Code</label><br>
		      <%= form.text_field :code , :required => true %>
        </div>
              
        <div class="submit-field">
         <%= form.submit %>
        </div>
	  <% end %><br>
    
            <div><%= button_to "Sign Out", sign_out_path, method: :delete, class: "text-primary _600" %></div>		
		