<h1>Editing User</h1>

  <%= form_for @user do |form| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <%= pluralize(@user.errors.count, t("error")) %> <%= t("prohibited from being saved") %>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
      </div>
    <% end %>


    <div class="text-field">
      <label>New Password</label>
      <%= form.password_field :password, :required => true,class: 'form-control' %>
    </div>
    <br>

    <% if current_user.id == @user.id %>
      <div class="form-group">
        <label>Old Password</label>
        <%= form.password_field :confirm_password, :required => true,class: 'form-control' %>
      </div>
    <% end %>

    <div class="submit-field">
      <%= form.submit %>
    </div>

  <% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
