<section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><%= t("Edit User's Data")%></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <%= form_for @user , :url => admin_member_path do |form| %>
              <% if @user.errors.any? %>
                <div id="error_explanation">
                  <%= pluralize(@user.errors.count, t("error")) %> <%= t("prohibited from being saved") %>
                  <ul>
                    <% @user.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="box-body">
                <div class="form-group">
                  <label for="exampleInputEmail1"><%= t("Email") %></label>
                  <%= form.text_field :email, type: 'email', :class => "form-control", :placeholder => t("Email"), :required => true %>
                </div>
                <div class="form-group">
                  <label><% if @user.role_id == "user" %><%= t("Company Name") %><% else %><%= t("Username") %><% end %></label>
                    <%= form.text_field :username, :class => "form-control", :placeholder => t("Username"), :required => true %>
                </div>
                <% if @user.role_id == "user" %>
                  <div class="form-group">
                    <label><%= t("Company Type") %></label>
                      <%= form.select(:company_type, options_for_select([[t("Business Administration"),"Business_Administration"],[t("Accounting"),"Accounting"]], :selected => form.object.company_type), {},:class => 'form-control',:include_blank =>  'choose from list')%>
                  </div>
                  <div class="form-group">
                    <label><%= t("Company Activites") %></label>
                      <%= form.text_field :company_activity, :class => "form-control", :placeholder => t("Company Activites") %>
                  </div>
                  <div class="form-group">
                    <label><%= t("Adminstrator name") %></label>
                      <%= form.text_field :admin_name, :class => "form-control", :placeholder => t("Adminstrator name") %>
                  </div>
                  <div class="form-group">
                    <label><%= t("Adminstrator job") %></label>
                      <%= form.text_field :admin_job, :class => "form-control", :placeholder => t("Adminstrator job") %>
                  </div>
                  <div class="form-group">
                    <label><%= t("Fax") %></label>
                      <%= form.text_field :fax, :class => "form-control", :placeholder => t("Fax") %>
                  </div>
                <% end %>
                <div class="form-group">
                  <label><%= t("Phone") %></label>
                    <%= form.text_field :phone, :class => "form-control", :placeholder => t("Phone") %>
                </div>
                <div class="form-group">
                  <label><% if @user.role_id == "user" %><%= t("Main Company Address") %><% else %><%= t("Address") %><% end %></label>
                    <%= form.text_field :address, :class => "form-control", :placeholder => t("Address") %>
                </div>
                <div class="form-group">
                  <label><%= t("Role") %></label>
                  <%= form.select(:role_id, options_for_select([[t("User"),"user"],[t("Admin"),"admin"]], :selected => form.object.role_id), {},:class => 'form-control',:include_blank =>  'choose from list')%>
                </div>

                <div class="checkbox">
                  <label><%= t("Account Status") %></label>
                  <%= form.select(:active, options_for_select([[t("Active"),"Active"],[t("Disabled"),"Disabled"]], :selected => form.object.active), {},:class => 'form-control')%>
                </div>

              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                    <button type="submit" class="btn btn-primary" id="submit" >Submit</button>
              </div>
            <% end %>
          </div>
          </div>
          </div>
          </section>







<%= link_to t('Show'), admin_member_path(@user) %> |
<% if @user.role_id == "user" %>
  <%= link_to t('Back'), admin_members_path %>
<% else %>
  <%= link_to t('Back'), admin_admins_path %>
<% end %></td> 
