 <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
          
            <div class="box-header">
              <h3 class="box-title"><%= t("Details") %></h3>
            </div>
            <br>
          

            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead></thead>
                <tbody>
                    <tr>
                      <td><% if @user.role_id == "user" %><%= t("Company Name") %><% else %><%= t("Username") %><% end %></td>
                      <td><%= @user.username %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("Email") %></td>
                      <td><%= @user.email %></td>                      
                    </tr>
                    <% if @user.role_id == "user" %>
                    <tr>
                      <td><%= t("Company Type") %></td>
                      <td><%= @user.company_type %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("Company Activites") %></td>
                      <td><%= @user.company_activity %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("Adminstrator name") %></td>
                      <td><%= @user.admin_name %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("Adminstrator job") %></td>
                      <td><%= @user.admin_job %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("Fax") %></td>
                      <td><%= @user.fax %></td>                      
                    </tr>                    
                    <% end %>
                    <tr>
                      <td><%= t("Phone") %></td>
                      <td><%= @user.phone %></td>                      
                    </tr>
                    <tr>
                      <td><% if @user.role_id == "user" %><%= t("Main Company Address") %><% else %><%= t("Address") %><% end %></td>
                      <td><%= @user.address %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("Account Status") %></td>
                      <td><%= @user.active %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("SignIn Count") %></td>
                      <td><%= @user.sign_in_count %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("created_at") %></td>
                      <td><%= @user.created_at %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("updated_at") %></td>
                      <td><%= @user.updated_at %></td>                      
                    </tr>
                    <tr>
                      <td></td>
                      <td><%= link_to t('Edit'), edit_admin_member_path(@user) %> | 
                      <% if @user.role_id == "user" %>
                        <%= link_to t('Back'), admin_members_path %>
                      <% else %>
                        <%= link_to t('Back'), admin_admins_path %>
                      <% end %></td>                      
                    </tr>
                </tbody> 
              </table>
            </div>
          </div>
        </div>
      </div>
  </section>

