
<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
        <%# @posts=params[:posts] %>

    <Table>
      <Row>
        <Cell><Data ss:Type="String"> ID</Data></Cell>
        <Cell><Data ss:Type="String">user_id</Data></Cell>
        <Cell><Data ss:Type="String"> description</Data></Cell>
        <Cell><Data ss:Type="String">status</Data></Cell>
        <Cell><Data ss:Type="String"> created_at</Data></Cell>
        <Cell><Data ss:Type="String">updated at</Data></Cell>
        
      </Row>
    <% @required_files.each do |required_file| %>
      <Row>
        <Cell><Data ss:Type="String"><%= required_file.id %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= required_file.user.username %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= required_file.description %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= required_file.status %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= required_file.created_at %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= required_file.updated_at %></Data></Cell>


      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>