 <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
          
            <div class="box-header">
              <h3 class="box-title"><%= t("Required Files") %></h3>
              <%= link_to "Export To Excel", admin_required_files_path(format: "xls"), :class => "btn btn-primary waves-effect waves-light  text-center" %>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th><%= t("UserName") %></th>
                  <th><%= t("Required Data") %></th>
                  <th><%= t("status") %></th>
                  <th><%= t("file") %></th>
                  <th><%= t("created_at") %></th>
                  <th><%= t("updated_at") %></th>
                  <th colspan="3"></th>
                </tr>
                </thead>
                <tbody>
                  <% @required_files.each do |required_file| %>
                    <tr>
                      <td><%= required_file.user.username %></td>
                      <td><%= required_file.description %></td>
                      <td><%= required_file.status %></td>
                      <% if required_file.file.attached? %>
                        <td><%= link_to "download", rails_blob_path(required_file.file, disposition: 'download') %></td>
                      <% else %>
                         <td></td>
                      <% end %>
                      <td><%= required_file.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ')  %></td>
                      <td><%= required_file.updated_at.strftime('%H:%M:%S%p at %d/%m/%Y ')  %></td>
                      <td><%= link_to t("Show"), admin_required_file_path(required_file) %></td>
                      <td><%= link_to t("Edit"), edit_admin_required_file_path(required_file) %></td>
                      <td><%= link_to t("Destroy"), admin_required_file_path(required_file), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>               
                </tbody> 
              </table>
            </div>
          </div>
        </div>
      </div>
  </section>


<br>
<%= link_to t('Back'), admin_dashboard_path %>| <%= link_to  t("New required file"), new_admin_required_file_path %>



