 <section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"><%= t("Details") %></h3>
        </div><br>         
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead></thead>
                <tbody>
                    <tr>
                      <td><%= t("UserName") %></td>
                      <td><%= @required_file.user.username %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("Description") %></td>
                      <td><%= @required_file.description %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("Status") %></td>
                      <td><%= @required_file.status %></td>                      
                    </tr>
                  <% if @required_file.file.attached? %>
                    <tr>
                      <td><%= t("file") %></td>
                      <td><%= link_to "download", rails_blob_path(@required_file.file, disposition: 'download') %></td>                      
                    </tr>
                  <% end %>
                    <tr>
                      <td><%= t("created_at") %></td>
                      <td><%= @required_file.created_at %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("updated_at") %></td>
                      <td><%= @required_file.updated_at %></td>                      
                    </tr>
                    <tr>
                      <td></td>
                      <td><%= link_to t('Edit'), edit_admin_required_file_path(@required_file) %> | 
                          <%= link_to t('Back'), admin_required_files_path %>
                      </td>                      
                    </tr>
                </tbody> 
              </table>
            </div>
          </div>
        </div>
      </div>
  </section>





