<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans" rel="stylesheet">
  </head>
  <body style="margin:0px;padding: 0px;">
    <div style="background: -webkit-linear-gradient(left, #f2f4f7, #f7f8fa);background: -o-linear-gradient(right, #f2f4f7, #f7f8fa);background: -moz-linear-gradient(right, #f2f4f7, #f7f8fa);background: linear-gradient(to right, #f2f4f7, #f7f8fa);padding: 145px 15px;font-family: 'Arabic-font', sans-serif;">
      <div class="div-wrapper" style="max-width: 1052px;margin: auto;direction: rtl;">
        <table class="whole-cotent" style="border-collapse: collapse;background: #ffffff;border-radius: 15px;width: 100%;">
          <tr>
            <td>
              <table class="table-100" style="border-collapse: collapse;width: 100%;margin-bottom: 70px;">
                <tr>
                  <td class="text-right logo-td" style="text-align: right;vertical-align: top;padding-right: 80px;">
                    <img src="<%= Rails.application.credentials.production[:app_host]%>/site/imgs/logo.png" alt="logo" class="logo-img" style="width: 75px;">
                  </td>
                  <td class="number-table text-left" style="text-align: left;vertical-align: top;font-family: &quot;English-font&quot;;padding: 35px;font-size: 12px;font-weight: 700;color: #888888;line-height: 18px;">
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td class="text-right text-block" style="text-align: right;padding-right: 80px;padding-left: 15px;">
              <h4 style="color: #3d4565;font-size: 30px;font-weight: 400;margin-top: 0px;margin-bottom: 20px;"> <%= t("confirm_signin_msg")%>
              <br> </h4>
              <p>
                <%= @token %> 
              </p>
              <p style="font-size: 16px;font-weight: 400;color: #99a3b1;line-height: 36px;margin-top: 0px;margin-bottom: 20px;">
                <%= raw t('Email_closing') %>
              </p>
            </td>
          </tr>
          <tr>
            <td class="custome-footer" style="width: 100%;border-top: 2px solid #efefef;">
              <table class="cutome-table" style="border-collapse: collapse;width: 100%;">
                <tr>
                  <td class="social-td" style="padding-right: 80px;">
                    <a href="https://www.facebook.com/" style="display: inline-block;margin-left: 20px;"><i class="fa fa-facebook" style="color: #99a3b1;"></i></a>
                    <a href="https://twitter.com/login" style="display: inline-block;margin-left: 20px;"><i class="fa fa-twitter" style="color: #99a3b1;"></i></a>
                    <a href="https://www.youtube.com/" style="display: inline-block;margin-left:20px"><i class="fa fa-youtube" style="color: #99a3b1;"></i></a>
                    <a href="https://www.instagram.com/" style="display: inline-block;margin-left:20px"><i class="fa fa-instagram" style="color: #99a3b1;"></i></a>
                    <a href="https://plus.google.com/discover" style="display: inline-block;margin-left:20px"><i class="fa fa-google-plus" style="color: #99a3b1;"></i></a>
                    <a href="https://www.skype.com/en/get-skype/" style="display: inline-block;margin-left:20px"><i class="fa fa-skype" style="color: #99a3b1;"></i></a>
                    <a href="https://www.whatsapp.com/" style="display: inline-block;margin-left:20px"><i class="fa fa-whatsapp" style="color: #99a3b1;"></i></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>

