
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to progresspioneers, </h1>    
    <p>
        <a href="https://progresspioneers.com/sign_in"  target="_blank"><%= "click here to sign in using this data:" %></a>
    </p>
    
    <h3>email: <%= @email %></h3>
    <h3>password: <%= @password %></h3>
    
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
