<section class="content">
  <div class="row">
    <!-- left column -->
      <div class="col-md-6">
        <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><%= t("Premium Customers")%></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <%= form_for @premium_customer , :url => admin_premium_customer_path do |form| %>
              <% if @premium_customer.errors.any? %>
                <div id="error_explanation">
                  <%= pluralize(@premium_customer.errors.count, t("error")) %> <%= t("prohibited from being saved") %>
                    <ul>
                      <% @premium_customer.errors.full_messages.each do |message| %>
                         <li><%= message %></li>
                      <% end %>
                    </ul>
                </div>
              <% end %> 
              <div class="box-body">

              <div class="form-group">
                  <label for="category"><%= t("status") %></label>
                  <%= form.select(:category, options_for_select([[t("customer_opinions"),"customer_opinions"],[t("our_partners"),"our_partners"]], :selected => form.object.category), {},:class => 'form-control')%>
                </div>

                <div class="form-group">
                  <label for="exampleInputkey"><%= t("Key") %></label>
                  <%= form.text_field :key, :class => "form-control", :placeholder => t("Key"), :required => true %>
                </div>

                <div class="form-group">
                  <label for="exampleInputname"><%= t("Name") %></label>
                    <%= form.text_field :name_ar, :class => "form-control", :placeholder => t("Name"), :required => true %>
                </div>

                <div class="form-group">
                  <label for="exampleInputname"><%= t("Name") %></label>
                    <%= form.text_field :name_en, :class => "form-control", :placeholder => t("Name"), :required => true %>
                </div>

                <div class="form-group">
                  <label for="exampleInputdetails"><%= t("Details") %></label>
                    <%= form.text_field :description_ar, :class => "form-control", :placeholder => t("Details"), :required => true %>
                </div>

                <div class="form-group">
                  <label for="exampleInputdetails"><%= t("Details") %></label>
                    <%= form.text_field :description_en, :class => "form-control", :placeholder => t("Details"), :required => true %>
                </div>

                <div class="checkbox">
                  <label for="exampleInputstatus"><%= t("Status") %></label>
                    <%= form.check_box :status,{},"true","false" %>                  
                </div>

                <div class="form-group">
                  <label><%= t("Image") %></label>
                  <%= form.file_field :image %>
                </div>

              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                    <button type="submit" class="btn btn-primary" id="submit" >Submit</button>
              </div>
            <% end %>
          </div>
      </div>
  </div>
</section>

