<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
          
        <div class="box-header">
          <h3 class="box-title"><% if params[:type] == "our_partners" %>
            <%= t("our_partners") %></h3>
          <% else %>
            <%= t("customer_opinions") %></h3>
          <% end %>
          
        </div>
            
        <!-- /.box-header -->
          <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th><%= t("ar_name")%></th>
                  <th><%= t("en_name")%></th>
                  <th><%= t("Status") %></th> 
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @premium_customers.each do |premium_customer| %>
                  <tr>
                      <td><%= premium_customer.name_ar %></td>
                      <td><%= premium_customer.name_en %></td>
                      <td><%= premium_customer.status %></td>
                      <td><%= link_to t("Show"), admin_premium_customer_path(premium_customer) %></td>
                      <td><%= link_to t("Edit"), edit_admin_premium_customer_path(premium_customer) %></td>
                      <td><%= link_to t("Destroy"), admin_premium_customer_path(premium_customer), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>               
                </tbody> 
              </table>
            </div>
          </div>
        </div>
      </div>
  </section>


<br>
<% if params[:type] == "our_partners" %>
  <%= link_to t('New Partner'), new_admin_premium_customer_path(type: "our_partners") %>|
<% else %>
  <%= link_to t('New Customer Opinion'), new_admin_premium_customer_path(type: "customer_opinions") %>|
<% end %>

<%= link_to t('Back'), admin_dashboard_path %>

