<section class="content">
  <div class="row">
    <!-- left column -->
      <div class="col-md-6">
        <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">
                <% if params[:type] == "our_partners" %>
                  <%= t("'New Partner") %></h3>
                <% else %>
                  <%= t("New Customer Opinion") %></h3>
                <% end %>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <%= form_for @premium_customer , :url => admin_premium_customers_path do |form| %>
              <% if @premium_customer.errors.any? %>
                <div id="error_explanation">
                  <%= pluralize(@premium_customer.errors.count, t("error")) %> <%= t("prohibited from being saved") %>
                    <ul>
                      <% @premium_customer.errors.full_messages.each do |message| %>
                         <li><%= message %></li>
                      <% end %>
                    </ul>
                </div>
              <% end %> 
              <div class="box-body">

              <div class="form-group4">
                <label for="name"><%= t(params[:type]) %></label>
                <%= form.hidden_field :category %>         
              </div>

                <div class="form-group">
                  <label for="exampleInputkey"><%= t("Key") %></label>
                  <%= form.text_field :key, :class => "form-control", :placeholder => t("Key"), :required => true %>
                </div>

                 <div class="form-group">
                  <label for="exampleInputname"><%= t("ar_name") %></label>
                    <%= form.text_field :name_ar, :class => "form-control", :placeholder => t("ar_name"), :required => true %>
                </div>

                <div class="form-group">
                  <label for="exampleInputname"><%= t("en_name") %></label>
                    <%= form.text_field :name_en, :class => "form-control", :placeholder => t("en_name"), :required => true %>
                </div>

                <div class="form-group">
                  <label for="exampleInputdetails"><%= t("ar_description") %></label>
                    <%= form.text_field :description_ar, :class => "form-control", :placeholder => t("ar_description"), :required => true %>
                </div>

                <div class="form-group">
                  <label for="exampleInputdetails"><%= t("en_description") %></label>
                    <%= form.text_field :description_en, :class => "form-control", :placeholder => t("en_description"), :required => true %>
                </div>

                <div class="checkbox">
                  <label for="exampleInputstatus"><%= t("Status") %></label>
                    <%= form.check_box :status,{},"true","false" %>                  
                </div>

                <div class="form-group">
                  <label><%= t("Image") %></label>
                  <%= form.file_field :image %>
                </div>

              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                    <button type="submit" class="btn btn-primary" id="submit" >Submit</button>
              </div>
            <% end %>
          </div>
      </div>
  </div>
</section>


<%= link_to 'Back', admin_premium_customers_path %>


<script language="JavaScript" type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function() {
      $('#premium_customer_category').val("<%= params[:type] %>");
        });
</script>



