<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">          
        <div class="box-header">
          <h3 class="box-title">
          <% if @premium_customer.category == "our_partners" %>
            <%= t("our_partners") %></h3>
          <% else %>
            <%= t("customer_opinions") %></h3>
          <% end %>
        </div><br>
          
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead></thead>
              <tbody>
              <tr>
                  <td><%= t("category") %></td>
                  <td><%= @premium_customer.category %></td>                      
                </tr>
                <tr>
                  <td><%= t("Key") %></td>
                  <td><%= @premium_customer.key %></td>                      
                </tr>
                <tr>
                  <td><%= t("ar_name") %></td>
                  <td><%= @premium_customer.name_ar %></td>                      
                </tr>
                <tr>
                  <td><%= t("en_name") %></td>
                  <td><%= @premium_customer.name_en %></td>                      
                </tr>
                <tr>
                  <td><%= t("ar_description") %></td>
                  <td><%= @premium_customer.description_ar %></td>                      
                </tr>
                <tr>
                  <td><%= t("en_description") %></td>
                  <td><%= @premium_customer.description_en %></td>                      
                </tr>
                <tr>
                  <td><%= t("Status") %></td>
                  <td><%= @premium_customer.status %></td>                      
                </tr>
                <tr>
                  <td><%= t("Image") %></td>
                  <% if @premium_customer.image.attached? %>                
                    <td>
                      <%= image_tag @premium_customer.image.variant(resize: "100x100!") %> 
                      <a href="<%= Rails.application.credentials[:app_host]%>/admin/delete_customer_image/?id=<%= @premium_customer.id%>">delete image</a><br><br>
                    </td> 
                  <% end %>     
                </tr>         
                <tr>
                  <td><%= t("created_at") %></td>
                  <td><%= @premium_customer.created_at %></td>                      
                </tr>
                <tr>
                  <td><%= t("updated_at") %></td>
                  <td><%= @premium_customer.updated_at %></td>                      
                </tr>
                </tbody> 
              </table>
            </div>
          </div>
        </div>
    </div>
  </section>


<%= link_to t('Edit'), edit_admin_premium_customer_path(@premium_customer) %> |
<%= link_to t('Back'), admin_premium_customers_path %>



