<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">          
        <div class="box-header">
          <h3 class="box-title"><%= t("News List") %></h3>
        </div><br>  
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th><%= t("ar_title") %></th>
                <th><%= t("en_title") %></th>
                <th><%= t("created_at") %></th>
                <th><%= t("updates_at") %></th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @news.each do |news| %>
                <tr>
                  <td><%= news.title_ar %></td>
                  <td><%= news.title_en %></td>
                  <td><%= news.created_at %></td>
                  <td><%= news.updated_at %></td>
                  <td><%= link_to t("Show"), admin_news_path(news) %></td>
                  <td><%= link_to t('Edit'), edit_admin_news_path(news) %></td>
                  <td><%= link_to t('Destroy'), admin_news_path(news), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>               
            </tbody> 
          </table>
        </div>
      </div>
    </div>
  </div>
</section>


<br>
<%= link_to t('Add New'), new_admin_news_path %> |
<%= link_to t('Back'), admin_dashboard_path %> 






