<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><%= t("New Model")%></h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <%= form_for @model , :url => admin_models_path do |form| %>
          <% if @model.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@model.errors.count, "error") %> prohibited this model from being saved:</h2>
                <ul>
                  <% @model.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
            </div>
          <% end %>
          <div class="box-body">
            <div class="form-group">
              <label><%= t("Name") %></label>
              <%= form.text_field :name, :class => "form-control", :placeholder => t("Name"), :required => true %>
            </div>
            <div class="form-group">
              <label><%= t("Attachment") %></label>
                <%= form.file_field :file, :class => "form-control"%>
            </div>
            <div class="form-group">
              <label><%= t("Status") %></label>
               <%= form.select(:status, options_for_select([[t("Active"),true],[t("Disabled"),false]]), {},:class => 'form-control')%>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary" id="submit" >Submit</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>





