 <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
          
            <div class="box-header">
              <h3 class="box-title"><%= t("Models") %></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th><%= t("Name") %></th>
                  <th><%= t("status") %></th>
                  <th><%= t("file") %></th>
                  <th><%= t("created_at") %></th>
                  <th><%= t("updated_at") %></th>
                  <th colspan="3"></th>
                </tr>
                </thead>
                <tbody>
                  <% @models.each do |model| %>
                    <tr>
                      <td><%= model.name %></td>
                      <td><%= model.status %></td>
                      <% if model.file.attached? %>
                        <td><%= link_to "download", rails_blob_path(model.file, disposition: 'download') %></td>
                      <% else %>
                         <td></td>
                      <% end %>
                      <td><%= model.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>
                      <td><%= model.updated_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>                   
                      <td><%= link_to t("Show"), admin_model_path(model) %></td>
                      <td><%= link_to t("Edit"), edit_admin_model_path(model) %></td>
                      <td><%= link_to t("Destroy"), admin_model_path(model), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>               
                </tbody> 
              </table>
            </div>
          </div>
        </div>
      </div>
  </section>


<br>
<%= link_to t('Back'), admin_dashboard_path %>| <%= link_to  t("New Model"), new_admin_model_path %>

