 <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
          
            <div class="box-header">
              <h3 class="box-title"><%= t("Details") %></h3>
            </div>
            <br>
          

            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead></thead>
                <tbody>
                    <tr>
                      <td><%= t("Name") %></td>
                      <td><%= @model.name %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("Status") %></td>
                      <td><%= @model.status %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("file") %></td>
                      <td> <%# link_to @model.file.filename, rails_blob_path(@model.file, disposition: 'preview') %>
                          <%= link_to "download", rails_blob_path(@model.file, disposition: 'download') %>
                          <%# link_to @model.file.filename, rails_blob_path(@model.file, disposition: 'attachment') %>
                          <%# link_to @model.file.filename, rails_blob_path(@model.file, only_path: true) %>
                      </td>                      
                    </tr>
                    <tr>
                      <td><%= t("created_at") %></td>
                      <td><%= @model.created_at %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("updated_at") %></td>
                      <td><%= @model.updated_at %></td>                      
                    </tr>
                    <tr>
                      <td></td>
                      <td><%= link_to t('Edit'), edit_admin_model_path(@model) %> | 
                          <%= link_to t('Back'), admin_models_path %>
                      </td>                      
                    </tr>
                </tbody> 
              </table>
            </div>
          </div>
        </div>
      </div>
  </section>

