<% provide :head_tags do %>
  <script src="<%= Rails.application.credentials[:app_host]%>/admin/plugins/jQuery/jquery-2.2.3.min.js"></script>
  <!-- CK Editor -->
  <script src="<%= Rails.application.credentials[:app_host]%>/admin/plugins/ckeditor/ckeditor.js"></script>
  <script>
    $(function () {
      // Replace the <textarea id="editor1"> with a CKEditor
      // instance, using default configuration.
      CKEDITOR.replace('editor1');
     CKEDITOR.replace('editor2');   
      });
   </script>
<% end %>
<section class="content">
  <div class="row">
    <!-- left column -->
    <%= form_for @content , :url => admin_content_path do |form| %>
      <div class="col-md-6">
        <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><%= t("Edit Content")%></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <% if @content.errors.any? %>
                <div id="error_explanation">
                  <%= pluralize(@content.errors.count, t("error")) %> <%= t("prohibited from being saved") %>
                  <ul>
                    <% @content.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
              
              <div class="box-body">
                <div class="form-group">
                  <label for="key"><%= t("key") %></label>
                  <%= form.text_field :key, :class => "form-control", :disabled => true %>
                </div>
               
                <div class="form-group">
                  <label><%= t("Category") %></label>
                  <%= form.text_field :category, :class => "form-control", :disabled => true %>
                </div>
                <% if @content.key == "map" %>
                  <div class="form-group">
                  <label for="category"><%= t("ar_title") %></label>
                    <%= form.text_field :description_ar, :class => "form-control", :placeholder => t("ar_title"), :required => true %>
                </div>
                <% else %>

                <div class="form-group">
                  <label for="category"><%= t("ar_title") %></label>
                    <%= form.text_field :title_ar, :class => "form-control", :placeholder => t("ar_title"), :required => true %>
                </div>

                <div class="form-group">
                  <label for="category"><%= t("en_title") %></label>
                    <%= form.text_field :title_en, :class => "form-control", :placeholder => t("en_title"), :required => true %>
                </div>              

                <div class="form-group">
                  <label for="exampleInputFile"><%= t("Image") %></label>
                  <%= form.file_field :images, multiple: true, direct_upload: true , :id => "exampleInputFile" %>
                  <p class="help-block">maximum size is </p>
                </div>
                <% end %>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary" id="submit" >Submit</button>
                </div>
              </div>   
          </div>
      </div>
    <% if (@content.key != "map") %>
      <div class="col-md-6">
        <div class="box box-info">
          <div class="box-header">
            <h3 class="box-title"><%= t("ar_description") %></h3>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                      <i class="fa fa-times"></i></button>
              </div>
              <!-- /. tools -->
          </div>
          <!-- /.box-header -->
          <div class="box-body pad">
            <%= form.text_area :description_ar, :id => "editor1", :name => "content[description_ar]",:rows => "10" ,:cols => "80", :required => true %>
          </div>
        </div>
        <!-- /.box -->

        <div class="box box-info">
          <div class="box-header">
            <h3 class="box-title"><%= t("en_description") %></h3>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
              </div>
              <!-- /. tools -->
          </div>
          <!-- /.box-header -->
          <div class="box-body pad">
            <%= form.text_area :description_en, :id => "editor2", :name => "content[description_en]",:rows => "10" ,:cols => "80", :required => true %>
          </div>
        </div>
        <!-- /.box -->
        
      </div>
      <% end %>
    <% end %>

  </div>
</section>
<%= link_to t('Show'), admin_content_path(@content) %> |
<%= link_to t('Back'), admin_dashboard_path %>
