
  
  <div class="box">
  <div class="box-header">
    <h3 class="box-title"><%= t("Contents") %></h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Key</th>
          <th>Category</th>
          <th><%= t("ar_title") %></th>
          <th><%= t("en_title") %> </th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @contents.each do |content| %>
          <tr>
            <td><%= content.key %></td>
            <td><%= content.category %></td>
            <td><%= content.title_ar %></td>
            <td><%= content.title_en %></td>
            <td><%= link_to t("Show"), admin_content_path(content) %></td>
            <td><%= link_to t('Edit'), edit_admin_content_path(content) %></td>
            <td><%# link_to t('Destroy'), admin_content_path(content), method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%# link_to t('New Content'), new_admin_content_path %>


    



  

