<% provide :head_tags do %>
  <script src="<%= Rails.application.credentials[:app_host]%>/admin/plugins/jQuery/jquery-2.2.3.min.js"></script>
  <!-- CK Editor -->
  <script src="<%= Rails.application.credentials[:app_host]%>/admin/plugins/ckeditor/ckeditor.js"></script>
  <script>
    $(function () {
      // Replace the <textarea id="editor1"> with a CKEditor
      // instance, using default configuration.
      CKEDITOR.replace('editor1');
     CKEDITOR.replace('editor2');   
      });
   </script>
<% end %>

<%= render 'form' %>

<%= link_to 'Back', admin_contents_path %>
