<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
          
        <div class="box-header">
          <h3 class="box-title"><%= t("Details") %></h3>
        </div><br>       
        <!-- /.box-header -->
          <div class="box-body">
            <div class="col-xs-6">
              <table id="example2" class="table table-bordered table-hover">
                <thead></thead>
                <tbody>
                  <tr>
                    <td><%= t("Category") %></td>
                    <td><%= @content.category %></td>                      
                  </tr>
                  <tr>
                    <td><%= t("Key") %></td>
                    <td><%= @content.key %></td>                      
                  </tr>
                  <tr>
                    <td><%= t("ar_title") %></td>
                    <td><%= @content.title_ar %></td>                      
                  </tr>
                  <tr>
                    <td><%= t("en_title") %></td>
                    <td><%= @content.title_en %></td>                      
                  </tr>
                  <tr>
                    <td><%= t("ar_description") %></td>
                    <td><%= @content.description_ar.html_safe %></td>                      
                  </tr>
                  <tr>
                    <td></td>
                    <td><%= link_to t('Edit'), edit_admin_content_path(@content) %> | <%# link_to t("Destroy"), admin_content_path(@content), method: :delete, data: { confirm: 'Are you sure?' } %></td>                      
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-xs-6">
              <table id="example2" class="table table-bordered table-hover">
                <thead></thead>
                <tbody>
                <tr>
                    <td><%= t("created_at") %></td>
                    <td><%= @content.created_at %></td>                      
                  </tr>
                  <tr>
                    <td><%= t("updated_at") %></td>
                    <td><%= @content.updated_at %></td>                      
                  </tr>              
                  <tr>
                    <td><%= t("Image") %></td>
                    <% if @content.images.attached? %> 
                      <td> 
                        <% @content.images.each do |image| %>                                     
                          <%= image_tag image.variant(resize: "100x100!") %>
                          <a href="<%= Rails.application.credentials[:app_host]%>/admin/delete_image/?id=<%= @content.id%>&attachment_id=<%= image.id%>">delete image</a><br><br>
                        <% end %> 
                      </td>                     
                    <% end %>     
                  </tr>                  
                  <tr>
                    <td><%= t("en_description") %></td>
                    <td><%= @content.description_en.html_safe %></td>                      
                  </tr>
                </tbody> 
              </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>


<br>
<%= link_to t('Back'), admin_dashboard_path %>
