<section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><%= t("New Ticket")%></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <%= form_for @ticket , :url => admin_messages_path do |form| %>
              <% if @ticket.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>

                  <ul>
                  <% @ticket.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>
              <div class="box-body">
                <div class="form-group">
                  <label><%= t("UserName") %></label>
                  <%= form.select(:user_id,  options_for_select(User.where(:role_id => "user").all.collect {|p| [ p.email, p.id ] }) ,{:include_blank =>  'choose from list'} ,  :class => 'form-control' ) %>
                </div>
                
                <div class="form-group">
                  <label><%= t("Title") %></label>
                    <%= form.text_field :title, :class => "form-control", :placeholder => t("Title"), :required => true %>
                </div>
                <div class="form-group">
                  <label><%= t("Content") %></label>
                    <%= form.text_area :description, :class => "form-control", :placeholder => t("Content"), :required => true %>
                </div>

              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                    <button type="submit" class="btn btn-primary" id="submit" >Submit</button>
              </div>
            <% end %>
          </div>
          </div>
          </div>
          </section>


