 <section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title"><%= t("Details") %></h3>
        </div><br>         
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead></thead>
                <tbody>
                    <tr>
                      <td><%= t("Username") %></td>
                      <td><%= @ticket.user.username %></td>                      
                    </tr>
                    <% if @ticket.ticket_id != nil%>
                      <tr>
                        <td><%= t("Ticket") %></td>
                        <td><%= @ticket.ticket_id %></td>                      
                      </tr>
                    <% end %>
                     <tr>
                      <td><%= t("Ticket Number") %></td>
                      <td><%= @ticket.ticket_number %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("Title") %></td>
                      <td><%= @ticket.title %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("Description") %></td>
                      <td><%= @ticket.description %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("Status") %></td>
                      <td><%= t(@ticket.status) %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("Type") %></td>
                      <td><%= t(@ticket.ticket_type) %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("created_at") %></td>
                      <td><%= @ticket.created_at %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("updated_at") %></td>
                      <td><%= @ticket.updated_at %></td>                      
                    </tr>
                    <tr>
                      <td></td>
                      <td><%= link_to t('Edit'), edit_admin_message_path(@ticket) %> | 
                          <%= link_to t('Back'), admin_messages_path %>
                      </td>                      
                    </tr>
                </tbody> 
              </table>
            </div>
          </div>
        </div>
      </div>
  </section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">          
        <div class="box-header">
          <h3 class="box-title">
            <%= t("Tickets Replies") %>
          </h3>        
        </div>     
        <!-- /.box-header -->
          <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th><%= t("type")%></th>
                  <th><%= t("Title") %></th>
                  <th><%= t("Description")%></th>

                </tr>
              </thead>
              <tbody>
                <% @ticket_replies.each do |ticket| %>
                  <tr>
                      <td><%= ticket.ticket_type %></td>
                      <td><%= ticket.title %></td>
                      <td><%= ticket.description %></td>
                  </tr>
                <% end %>               
              </tbody> 
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>


  

<% if @ticket.status == "opened" %>

  <section class="content">
  <div class="row">
    <!-- left column -->
      <div class="col-xs-12">
       <!-- quick email widget -->
          <div class="box box-info">
            <div class="box-header">
              <i class="fa fa-envelope"></i>

              <h3 class="box-title"><%= t("Reply")%></h3>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i></button>
              </div>
              <!-- /. tools -->
            </div>
            <%= form_for Message.new , :url => admin_messages_path ,:html => { :multipart => true } do |form| %>
              <%= form.hidden_field  :ticket_id,:value =>  params['id'] %>
              <%= form.hidden_field  :user_id, :value => @ticket.user_id %>
              <%= form.hidden_field  :status, :value => 'opened' %>
              <%= form.hidden_field  :ticket_type, :value => 'admin_reply' %>
              <div class="box-body">
                <div class="form-group">
                  <%= form.text_field :title, :class => "form-control", :placeholder => t("Title"), :required => true %>
                </div>
                <div>
                  <%= form.text_area :description, :class => "textarea", :placeholder => t("Content"), :style => "width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;", :required => true %>
                </div>              
              </div>
              <div class="box-footer clearfix">
                <button type="submit" class="pull-right btn btn-default" id="sendEmail" ><%= t("Send") %></button>
                  <i class="fa fa-arrow-circle-right"></i></button>
              </div>
            <% end %>
          </div>
      </div>

  </div>
</section>
<% end %>



