<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
          
        <div class="box-header">
          <h3 class="box-title">
            <%= t("Tickets") %>
          </h3>        
        </div>

        <%= form_tag  url_for(:controller => 'admin/messages', :action => 'ticket_search'), :method => 'get' do %>
          <div class="box-body">
            <div class="row">
              <div class="col-xs-2">
                <input type="text" name="usernamesearch" class="form-control" placeholder="<%= t('Username') %>" >
              </div>
              <div class="col-xs-2">
                <input type="text" name="emailsearch" class="form-control" placeholder="<%= t('Email') %>" >
              </div>
              <div class="col-xs-2">
                <input type="text" name="ticketnumbersearch" class="form-control" placeholder="<%= t('Ticket Number') %>" >
              </div>
              <div class="col-xs-2">
                <%= select_tag(:status, options_for_select([[t('opened'),'opened'],[t("Received"),"Received"],[t('closed'),'closed']]),:class => 'form-control',:include_blank => t('Ticket Status') )  %>
              </div>
              <div class="col-xs-2">
                <%= select_tag(:ticket_type, options_for_select([[t('created_by_user'),'created_by_user'],[t('created_by_admin'),'created_by_admin']]),:class => 'form-control',:include_blank => t('Ticket Type') )  %>
              </div>
              <div class="col-xs-2">
                <button type="submit"  class="btn btn-primary waves-effect waves-light  text-center" style="margin:auto !important;"><%= 'search' %> </button>  
              </div>
            </div>
          </div>
        <% end %><br>
            
        <!-- /.box-header -->
          <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th><%= t("Username")%></th>
                  <th><%= t("Ticket number")%></th>
                  <th><%= t("Title") %></th>
                  <th><%= t("Status") %></th> 
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @tickets.each do |ticket| %>
                  <tr>
                      <td><%= ticket.user.username %></td>
                      <td><%= ticket.ticket_number %></td>
                      <td><%= ticket.title %></td>
                      <td><%= t(ticket.status) %></td>
                      <td><%= link_to t("Show"), admin_message_path(ticket) %></td>
                      <td><%= link_to t("Edit"), edit_admin_message_path(ticket) %></td>
                      <td><%= link_to t("Destroy"), admin_message_path(ticket), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>               
                </tbody> 
              </table>
            </div>
          </div>
        </div>
      </div>
  </section>


<br>

<%= link_to t('New Ticket'), new_admin_message_path %>|

<%= link_to t('Back'), admin_dashboard_path %>


