<div class="text-field">
  <%= form.label :email %>
  <%= form.text_field :email, type: 'email' %>
</div>

  <div class="text-field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>
  <div class="text-field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>
  <div class="text-field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="password-field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="col-xs-7">
    <div class="pos-abs-checkbox">
      <label class="checkbox">
            <input  required type="checkbox" name="accept_terms" id="accept_terms" >
              <span  class="checkbox-view"></span>
      </label>
      <span class="iblock sm-md-fontsize font-bold text-blue"><%= t('موافق على شروط الإستخدام') %><br> 
        <span class="sm-sm-fontsize font-bold text-dgray"> 
          <a href="" target="_blank"><%= t('يرجى مراجعة الشروط والأحكام') %></a>
        </span>
      </span>
    </div>
  </div>
