<%= form_for @user , :url => add_user_path do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved: 
        <ul>
          <% @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  <div class="text-field">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email' , :required => true %>
  </div>
  <div class="text-field">
    <%= form.label :username %>
    <%= form.text_field :username, :required => true %>
  </div>
  <div class="text-field">
    <%= form.label :role_id %>
    <%= form.select(:role_id, options_for_select([["user","user"],["admin","admin"]]), {},:class => 'form-control',:include_blank =>  'choose from list')%>
  </div>
  <div class="text-field">
    <%= form.label :active %>
    <%= form.check_box :active,{},"Active","Disabled" %>    
  </div>   
  <div class="form-group row m-t-md">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-fw primary" id="submit" >Submit</button>
    </div>
  </div>
<% end %>

<%= link_to 'back', root_path %>
