
<!-- <h2> Email Code Authentication </h2>
  <%# form_for :confirm , :url => confirm_signin_path do |form| %>
	<div class="text-field">
      <label>Authentication Code</label><br>
		<%# form.text_field :code , :required => true %>
    </div>              
    <div class="submit-field">
      <%# form.submit %>
    </div>
  <%# end %><br>    
<div><%# button_to "Sign Out", sign_out_path, method: :delete, class: "text-primary _600" %></div> -->		

<!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Progress Pioneers</title>
      <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/bootstrap.min.css">
      <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/main.css">
      <link rel='stylesheet' href='<%= Rails.application.credentials[:app_host]%>/site/css/font-awesome.min.css'/>
      <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/media.css">
    </head>
    <body>
    <section class="limiter2 text-center">
      <div class="limiter-overlay">
        <div class="container-login1002">
          <div  class="modal-body" id="flash">
            <% flash.each do |name, msg| %>
              <div class="row msg-alert2 alert box-size border-color-brand hlf-btm bg-white padding-ver-xs clearfix">
                <button  class="col-lg-1 font-bold" type="button" class="close" data-dismiss="modal" id="close">&times;</button>
                  <h6 class="col-lg-10" class="font-bold"><%= content_tag :div, msg, :id => "flash_#{name}" %></h6>
                  <i class="fa fa-close" class="col-lg-1" style="color:red;"></i>
              </div>
            <% end %>
          </div>        
          <div class="wrap-login100" style="position:fixed">
            <%= form_for :confirm , :url => confirm_signin_path, :html => {:class => 'login100-form validate-form'} do |form| %>
              <span class="login100-form-title p-b-26">
                <%= t("confirm_signin")%>
              </span>
              <span class="login100-form-title p-b-48">
                <i class="zmdi zmdi-font"></i>
              </span>
              <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                <%= form.text_field :code,  :class => "input100" , :required => true,  :autocomplete => :off  %>
                <span class="focus-input100" data-placeholder="<%= t("confirmation_code")%>"></span>
              </div>
              <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                  <div class="login100-form-bgbtn"></div>
                  <button type="submit" class="login100-form-btn">
                    <%= t("Send")%>
                  </button>
                </div>
              </div>
              <div class="new-text">
                <span class="txt1">
                  <%= link_to t("resendcode"), resend_code_path, class: "txt2" %>
                </span>
              </div>
              <div class="row">
                <div class="footer-bottom1">
                  <ul>
                    <li><a href="<%= Rails.application.credentials[:app_host]%>/pages/privacy_policy" id="ctrl_footer_master_rptFooterLinks_ctl00_lnkFooter"><%= t("privacy policy") %></a> </li>
                    <li><a href="<%= Rails.application.credentials[:app_host]%>/pages/terms_of_use" id="ctrl_footer_master_rptFooterLinks_ctl01_lnkFooter"><%= t("terms of use") %></a> </li>
                    <li><a href="<%= Rails.application.credentials[:app_host]%>/pages/disclaimer" id="ctrl_footer_master_rptFooterLinks_ctl01_lnkFooter"><%= t("disclaimer") %></a> </li>
                  </ul>
                  <p class="copy_right">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> <span>Progress</span> Organization All rights reserved
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
    <script src="<%= Rails.application.credentials[:app_host]%>/site/js/jquery-3.3.1.min.js"></script>
    <script src="<%= Rails.application.credentials[:app_host]%>/site/js/popper.min.js"></script>
    <script src="<%= Rails.application.credentials[:app_host]%>/site/js/bootstrap.min.js"></script> 
    <script src="<%= Rails.application.credentials[:app_host]%>/site/js/main.js"></script>
  </body>
</html>

		