<!-- Main content -->
<section class="content">
  <div class="box-header with-border with-border4 box--header">
    <div class="box box-info">
      <div class="box-header with-border with--border">
        <h3 class="box-title"><%= t("Edit Data") %> </h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <div class="row">
        <div class="col-lg-6">
          <%= form_for @user, :html => { :class => "form-horizontal" } do |form| %>
            <% if @user.errors.any? %>
              <div id="error_explanation">
                <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved: 
                  <ul>
                    <% @user.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
              </div>
            <% end %>
            <div class="box-body">
              <div class="form-group row">
                <div class="col-lg-6">
                  <label for="inputEmail3" class=" control-label"><%= t("Email") %></label>
                </div>
                <div class="col-lg-6">
                  <%= form.text_field :email, type: 'email', class: "form-control", placeholder: t("Email") %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-6">
                  <label for="inputEmail3" class="control-label"><%= t("Company Name") %></label>
                </div>
                <div class="col-lg-6">
                  <%= form.text_field :username, class: "form-control", placeholder: t("Company Name")  %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-6">
                  <label for="inputEmail3" class=" control-label"><%= t("Company Type") %></label>
                </div>
                <div class="col-lg-6">
                  <%= form.select(:company_type, options_for_select([[t("Business Administration"),"Business_Administration"],[t("Accounting"),"Accounting"]], :selected => form.object.company_type), {},:class => 'form-control select2',:include_blank =>  'choose from list')%>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-6">
                  <label for="inputEmail3" class=" control-label"><%= t("Main Company Address") %></label>
                </div>
                <div class="col-lg-6">
                   <%= form.text_field :address, class: "form-control", placeholder: t("Main Company Address")  %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-6">
                  <label for="inputEmail3" class=" control-label"><%= t("Company Activites") %></label>
                </div>
                <div class="col-lg-6">
                  <%= form.text_field :company_activity, class: "form-control", placeholder: t("Company Activites")  %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-6">
                  <label for="inputEmail3" class=" control-label"><%= t("Phone") %></label>
                </div>
                <div class="col-lg-6">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <%= form.text_field :phone, class: "form-control", 'data-inputmask' =>' &quot;mask&quot;: &quot;(999) 999-9999&quot;' , 'data-mask'=>''  %>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-6">
                  <label for="inputEmail3" class=" control-label"><%= t("Fax") %></label>
                </div>
                <div class="col-lg-6">
                  <div class="input-group">
                    <div class="input-group-addon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <%= form.text_field :fax, class: "form-control", 'data-inputmask' =>' &quot;mask&quot;: &quot;(999) 999-9999&quot;' , 'data-mask'=>''  %>
                  </div>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-6">
                  <label for="inputEmail3" class=" control-label"><%= t("Adminstrator name") %></label>
                </div>
                <div class="col-lg-6">
                  <%= form.text_field :admin_name, class: "form-control", placeholder: t("Adminstrator name")  %>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-lg-6">
                  <label for="inputEmail3" class=" control-label"><%= t("Adminstrator job") %></label>
                </div>
                <div class="col-lg-6">
                  <%= form.text_field :admin_job, class: "form-control", placeholder: t("Adminstrator job")  %>
                </div>
              </div>            
              <div class="form-group row">
                <div class="col-lg-6">
                  <label for="inputEmail3" class=" control-label"><%= t("Password") %></label>
                </div>
                <div class="col-lg-6">
                  <%= form.password_field :confirm_password, :required => true,class: 'form-control' %>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-info pull-left"><%= t("Edit") %></button>
            </div>
          <!-- /.box-footer -->
          <% end %>
        </div>
        <div class="col-lg-6 imgg">
          <img src="<%= Rails.application.credentials[:app_host]%>/user/dist/img/accounting-achievement-aerial-1043506.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<%= link_to 'show', user_path(@user) %> |

