<!-- Main content -->
<section class="content">
  <div class="box-header with-border with-border4 box--header">
    <div class="box box-info">
      <div class="box-header with-border with--border">
        <h3 class="box-title"><%= t("Edit Password") %> </h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <div class="row">
        <div class="col-lg-6">
          <%= form_for @user, :html => { :class => "form-horizontal" } do |form| %>
            <% if @user.errors.any? %>
              <div id="error_explanation">
                <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved: 
                  <ul>
                    <% @user.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
              </div>
            <% end %>
            <div class="box-body">
              <div class="form-group row">
                <div class="col-lg-6">
                  <label class=" control-label"><%= t("New Password") %></label>
                </div>
                <div class="col-lg-6">
                  <%= form.password_field :password, :required => true,class: 'form-control' %>
                </div>
              </div>     
              <div class="form-group row">
                <div class="col-lg-6">
                  <label class=" control-label"><%= t("Current Password") %></label>
                </div>
                <div class="col-lg-6">
                  <%= form.password_field :confirm_password, :required => true,class: 'form-control' %>
                </div>
              </div>
            </div>
            <!-- /.box-body -->
            <div class="box-footer">
              <button type="submit" class="btn btn-info pull-left"><%= t("Edit") %></button>
            </div>
          <!-- /.box-footer -->
          <% end %>
        </div>
        <div class="col-lg-6 imgg">
          <img src="<%= Rails.application.credentials[:app_host]%>/user/dist/img/accounting-achievement-aerial-1043506.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<%= link_to 'show', user_path(@user) %> |
