
<!-- Main content -->
<section class="content">
  <div class="box-header with-border with-border4 box--header">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-fw fa-laptop"></i><%= t("Models") %></h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th style="width: 10px"><%= t("id") %></th>
            <th><%= t("Model Name") %></th>
            <th><%= t("file") %></th>
          </tr>
          <% @models.all.each_with_index do |model,i|  %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= model.name %></td>
              <% if model.file.attached? %>
                <td><a ><%= link_to "Download", rails_blob_path(model.file, disposition: 'download'),:class => "btn btn-block btn-social btn-facebook fa fa-download text-center" %><i ></i></a></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>
