
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @website_name %></title>
    <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/bootstrap.min.css">
    <% if session[:locale] == "en" %>
      <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/main.css">
    <% else %>
      <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/css2.css"> 
    <% end %> 
    <link rel='stylesheet' href='<%= Rails.application.credentials[:app_host]%>/site/css/font-awesome.min.css'/>
    <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/media.css">
  </head>
  <body>
    <section class="limiter2 text-center">
      <div class="limiter-overlay">
        <div class="container-login1002">
          <div id="flash">
            <% flash.each do |name, msg| %>
              <div class="modal-body">
                <div class="msg-alert alert box-size border-color-brand hlf-btm bg-white padding-ver-xs clearfix">
                  <button  class="font-bold" type="button" class="close" data-dismiss="modal" id="close">&times;</button>
                  <i class="fa fa-close" id="id3"></i>
                  <h6 class="font-bold"><%= content_tag :div, msg, :id => "flash_#{name}" %></h6>
                </div>
              </div>
            <% end %>
          </div>
          <div class="wrap-login100" style="">
            <%= form_for @user do |form| %>
              <span class="login100-form-title p-b-26">
                Welcome
              </span>
              <% if @user.errors.any? %>
                <div class="card5" style="width:100%; background:#fff;box-shadow: inset 0 0 10px #b5b3b3; border:2px solid red;margin-bottom:2.5rem;padding:20px">
                  <div id="error_explanation">
                  <!-- <%# pluralize(@user.errors.count, "error") %> prohibited this user from being saved: -->
                    <ul>
                      <% @user.errors.full_messages.each do |message| %>
                        <li class="txt2" style="color:red;"><%= message %> * </li>
                      <% end %>
                    </ul>
                  </div>
                  </div>
              <% end %>
              <div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">
                  <%= form.text_field :email, type: 'email', class: "input100", :required => true ,:autocomplete => "off" %>
                <span class="focus-input100" data-placeholder="<%= t("Email")%>"></span>
              </div>
              <div class="wrap-input100">
                  <%= form.text_field :username, class: "input100", :required => true ,:autocomplete => "off" %>
                <span class="focus-input100" data-placeholder="<%= t("Username")%>"></span>
              </div>
              <div class="wrap-input100">
                  <%= form.text_field :address, class: "input100" , :required => true ,:autocomplete => "off"%>
                <span class="focus-input100" data-placeholder="<%= t("Address")%>"></span>
              </div>
              <div class="wrap-input100">
                  <%= form.text_field :phone, class: "input100" , :required => true ,:autocomplete => "off"%>
                <span class="focus-input100" data-placeholder="<%= t("Phone")%>"></span>
              </div>
              <div class="wrap-input100 validate-input" data-validate="Enter password">
                <%= form.password_field :password , class: "input100", :required => true ,:autocomplete => "off" %>
                <span class="focus-input100" data-placeholder="<%= t("Password")%>"></span>
              </div>
              <div class="form-check">
                <input type="checkbox" required class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1"><%= t("agree to the terms and conditions")%></label>
              </div>
              <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                  <div class="login100-form-bgbtn"></div>
                  <button class="login100-form-btn" data-dismiss="modal">
                    <%= t("register")%>
                  </button>
                </div>
              </div>
              <div class="new-text">
                <span class="txt1">
                  <%= link_to t("signin"), sign_in_path, class: "txt2" %>
                </span>
              </div>
              <div class="row">
                <div class="footer-bottom1">
                  <ul>
                    <li><a href="<%= Rails.application.credentials[:app_host]%>/pages/privacy_policy" id="ctrl_footer_master_rptFooterLinks_ctl00_lnkFooter"><%= t("privacy policy") %></a> </li>
                    <li><a href="<%= Rails.application.credentials[:app_host]%>/pages/terms_of_use" id="ctrl_footer_master_rptFooterLinks_ctl01_lnkFooter"><%= t("terms of use") %></a> </li>
                    <li><a href="<%= Rails.application.credentials[:app_host]%>/pages/disclaimer" id="ctrl_footer_master_rptFooterLinks_ctl01_lnkFooter"><%= t("disclaimer") %></a> </li>
                  </ul>
                  <p class="copy_right">
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> <span>Progress</span> Organization All rights reserved
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
    <script src="<%= Rails.application.credentials[:app_host]%>/site/js/jquery-3.3.1.min.js"></script>
    <script src="<%= Rails.application.credentials[:app_host]%>/site/js/popper.min.js"></script>
    <script src="<%= Rails.application.credentials[:app_host]%>/site/js/bootstrap.min.js"></script>
    <script src="<%= Rails.application.credentials[:app_host]%>/site/js/main.js"></script>
  </body>
</html>
