
<!-- Main content -->
<section class="content">
  <div class="box-header with-border with-border4 box--header">
    <div class="box box-primary">
      <div class="box-header with-border with--border">
          <h3 class="box-title"><%= t("Notifications List")%></h3>
      </div>
        <!-- /.box-header -->
        <!-- form start -->
        <table class="table table-bordered">
          <tbody>
              <tr>
              <th style="width: 10px"><%= t("id") %></th>
              <th><%= t("Title") %></th>
              <th><%= t("Date") %></th>
              <th colspan="1"></th>
          </tr>
          <% @notifications.all.each_with_index do |notification,i|  %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= notification.title %></td>
              <td><%= notification.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>
              <td><%= link_to t("Show"), show_notification_path(id: notification.id)%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>