
<!-- Main content -->
<section class="content">
  <div class="box-header with-border with-border4 box--header">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-fw fa-hand-peace-o"></i><%= t("Reports") %></h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <table class="table table-bordered table--bordered">
        <tbody>
          <tr id="idd">
            <th style="width: 10px"><%= t("id") %></th>
            <th><%= t("Date") %></th>
            <th><%= t("Report Data") %></th>
            <th><%= t("file") %></th>
          </tr>
          <% @reports.all.each_with_index do |report,i| %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= report.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>
              <td><%= report.name %></td>
              <% if report.file.attached? %>
                <td><a ><%= link_to "Download", rails_blob_path(report.file, disposition: 'download'),:class => "btn btn-block btn-social btn-facebook fa fa-download text-center" %><i ></i></a></td>
              <% end %>
            </tr> 
          <% end %>             
        </tbody>
      </table>
    </div>
  </div>
</section>

