<!-- Main content -->
<section class="content">
  <div class="box-header with-border with-border4 box--header">
    <div class="box box-primary">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-fw fa-folder-open"></i><%= t("Required Files") %></h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <table class="table table-bordered table-borders">
        <tbody>
          <tr id="idd">
            <th><%= t("id") %></th>
            <th><%= t("Date") %></th>
            <th><%= t("Required Files") %></th>
            <th><%= t("file") %></th>
            <th><%= t("Status") %></th>
          </tr>
          <% @required_files.all.each_with_index do |required_file,i| %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= required_file.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>
              <td><%= required_file.description %></td>
              <td><% if required_file.status != "accepted"%>
                    <%= form_for required_file , :url => update_file_path do |form| %>
                      <div class="form-group">
                        <%= form.hidden_field :id, :value => required_file.id %>
                        <div class="row">
                          <div class="file-upload col-lg-6">
                            <div class="file-select">
                              <div class="file-select-button" id="fileName">Choose File</div>
                              <div class="file-select-name" id="noFile">No file chosen...</div>
                              <%= form.file_field :file, :id => "chooseFile" %>
                            </div>
                          </div>
                          <button id="pp" type="submit" class="btn btn-primary  col-lg-2">Submit</button>
                        </div>
                        <% if required_file.file.attached? %>
                          <%= required_file.file.filename %>
                        <% end %>
                      </div>                      
                    <% end %>
                  <% end %>
                  
              </td>
              <td><% if required_file.status == "created" or required_file.status == "pending" %>
                      <i class="fa fa-fw fa-hourglass-2" style="color:green"></i>
                    <% elsif required_file.status == "accepted" %> 
                      <i class="fa fa-fw fa-check"></i>
                    <% else %>
                      <i class="fa fa-fw fa-warning" style="color:red"></i>
                    <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>