<!-- Main content -->
<section class="content">
  <div class="box-header with-border with-border4">
    <h3 class="box-title box-title2"><i class="fa fa-fw fa-desktop"></i><%= t("User Data") %></h3>
    <div class="box-body">
      <table class="table table-bordered table3">
        <thead>
          <tr>
            <th><i class="fa fa-fw  fa-pencil"></i><%= t("Company Name") %></th>
            <td><%= @user.username %></td>
          </tr>
        </thead>
        <tbody>
        <tr>
          <th><i class="fa fa-fw fa-envelope"></i><%= t("Email") %></th>
          <td><%= @user.email %></td>
        </tr>
        <tr>
            <th><i class="fa fa-fw fa-file-o"></i><%= t("Company Type") %></th>
            <td><%= @user.company_type %></td>
          </tr>
          <tr>
            <th><i class="fa fa-fw fa-university"></i><%= t("Main Company Address") %></th>
            <td><%= @user.address %></td>
          </tr>
          <tr>
          </tr><tr>
            <th><i class="fa fa-fw fa-pie-chart"></i><%= t("Company Activites") %></th>
            <td><%= @user.company_activity %></td>
          </tr>
          <tr>
            <th><i class="fa fa-fw fa-phone"></i><%= t("Phone") %></th>
            <td><%= @user.phone %></td>
          </tr>
          <tr>
            <th><i class="fa fa-fw fa-fax"></i><%= t("Fax") %></th>
            <td><%= @user.fax %></td>
          </tr>
          <tr>
            <th><i class="fa fa-fw fa-male"></i><%= t("Adminstrator name") %></th>
            <td><%= @user.admin_name %></td>
          </tr>
          <tr>
            <th><i class="fa fa-fw fa-male"></i><%= t("Adminstrator job") %></th>
            <td><%= @user.admin_job %></td>
          </tr>
          <tr>
            <th><i class="fa fa-fw fa-calendar"></i><%= t("registerd_at") %></th>
            <td><%= @user.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>
          </tr>
          <tr>
            <th><i class="fa fa-fw fa-calendar"></i><%= t("updated_at") %></th>
            <td><%= @user.updated_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>
          </tr>
        </tbody>

    </table>
  </div>
</div>
</section>

<%= link_to 'Edit', edit_user_path(@user) %> |
