<!-- Main content -->
<section class="content">
  <div class="box-header with-border with-border4">
    <h3 class="box-title box-title2"><i class="fa fa-fw fa-desktop"></i><%= t("Notification") %></h3>
    <div class="box-body">
      <table class="table table-bordered table3">
        <thead>
          <tr>
            <th><i class="fa fa-fw  fa-pencil"></i><%= t("Title") %></th>
            <td><%= @notification.title %></td>
          </tr>
        </thead>
        <tbody>
        <tr>
          <th><i class="fa fa-fw fa-envelope"></i><%= t("Description") %></th>
          <td><%= @notification.description %></td>
        </tr>
        <tr>
        <th><i class="fa fa-fw fa-calendar"></i><%= t("created_at") %></th>
        <td><%= @notification.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>
        </tr>
        <tr>
        <th><i class="fa fa-fw fa-calendar"></i><%= t("updated_at") %></th>
        <td><%= @notification.updated_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>
        </tr>
        </tbody>

    </table>
  </div>
</div>
</section>

<%= link_to 'Back', notifications_path %> |
