<%= form_tag  url_for(:controller => 'users', :action => 'user_search'), :method => 'get' do %>
  <div class="row">
    <div class="col-lg-2">    
      <input type="text" name="usernamesearch" class="form-control" placeholder="<%= 'username' %>" >
    </div>
    <div class="col-lg-2">    
      <input type="text" name="emailsearch" class="form-control" placeholder="<%= 'Email' %>" >
    </div>
    <div class="col-lg-2">    
      <input type="text" name="phonesearch" class="form-control" placeholder="<%= 'phone' %>" >
    </div>
    <div class="col-lg-2">
      <%= select_tag(:active, options_for_select([['Active','Active'],['Disabled','Disabled']]),:include_blank => 'Account Status')   %>
    </div>
  </div><br>   
  <button type="submit"  class="btn btn-primary waves-effect waves-light  text-center" style="margin:auto !important;"><%= 'search' %> </button>  
<% end %>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Address</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.address %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'back', users_path %>


<%# link_to 'New User', new_user_path %>
