<%= form_with(model: visitor_service, local: true) do |form| %>
  <% if visitor_service.errors.any? %>
    <div id="error_explanation">
      <%= pluralize(visitor_service.errors.count, t("error")) %> <%= t("prohibited from being saved") %>

      <ul>
      <% visitor_service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :service_id %>
    <%= form.text_field :service_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

   <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :job_title %>
    <%= form.text_field :job_title %>
  </div> 

  <% if params[:service_id] == "ServiceRequest" or params[:service_id] == "ConsultRequest" %>

  <div class="field">
    <%= form.label :company_type %>
    <%= form.text_field :company_type %>
  </div>

  <div class="field">
    <%= form.label :adminstrator_name %>
    <%= form.text_field :adminstrator_name %>
  </div>


  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>


  <% elsif params[:service_id] == "JobRequest" %>

  <div class="field">
    <%= form.label :birth_date %>
    <%= form.date_select :birth_date, :start_year => Date.current.year, :end_year => 1960 %>
  </div>

  <div class="field">
    <%= form.label :previous_work %>
    <%= form.text_field :previous_work %>
  </div>

  <% end %>

  <div class="field">
    <%= form.label :details %>
    <%= form.text_field :details %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


<script>
    $(document).ready(function() {
      $('#visitor_service_service_id').val("<%= params[:service_id]%>");
        });
</script>