<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><%= t("Edit Visitor Service Request")%></h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <%= form_for @visitor_service , :url => admin_visitor_service_path do |form| %>
          <% if @visitor_service.errors.any? %>
            <div id="error_explanation">
              <%= pluralize(@visitor_service.errors.count, t("error")) %> <%= t("prohibited from being saved") %> 
                <ul>
                  <% @visitor_service.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
            </div>
          <% end %>
          <div class="box-body">
            <div class="form-group">
              <label for="exampleInputserviceid"><%= t("Service Type") %></label>
                <%= form.text_field :service_id, :class => "form-control", :placeholder => t("Service Type") %>
            </div>
            <div class="form-group">
              <label for="exampleInputname"><%= t("Name") %></label>
                <%= form.text_field :name, :class => "form-control", :placeholder => t("Name") %>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail"><%= t("Email") %></label>
                  <%= form.text_field :email, type: 'email', :class => "form-control", :placeholder => t("Email")%>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1"><%= t("Phone") %></label>
                  <%= form.text_field :phone, :class => "form-control", :placeholder => t("Phone") %>
              </div>
              <div class="form-group">
                <label for="exampleInputjobtitle"><%= t("Job title") %></label>
                  <%= form.text_field :job_title, :class => "form-control", :placeholder => t("Job title") %>
              </div>
              <div class="form-group">
                <label for="exampleInputAddress"><%= t("Address") %></label>
                  <%= form.text_field :address, :class => "form-control", :placeholder => t("Address")%>
              </div>
            <% if @visitor_service.service_id == "ServiceRequest" or @visitor_service.service_id == "ConsultRequest" %>
              <div class="form-group">
                <label for="exampleInputcompanytype"><%= t("Company type") %></label>
                  <%= form.text_field :company_type, :class => "form-control", :placeholder => t("Company type")%>
              </div>
              <div class="form-group">
                <label for="exampleInputadminstratorname"><%= t("Adminstrator name") %></label>
                  <%= form.text_field :adminstrator_name, :class => "form-control", :placeholder => t("Adminstrator name")%>
              </div>
            <% elsif @visitor_service.service_id == "JobRequest" %>

              <div class="form-group">
                <label><%= t("Birth Date")  %>:</label>
                <div class="input-group">
                  <div class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </div>
                  <%= form.date_field :birth_date, :class => "form-control"%>
                </div>
                <!-- /.input group -->
              </div>
              
              <div class="form-group">
                <label for="exampleInputpreviouswork"><%= t("Previous work") %></label>
                  <%= form.text_field :previous_work, :class => "form-control", :placeholder => t("Previous work") %>
              </div>
            <% end %>
              <div class="form-group">
                <label for="exampleInputdetails"><%= t("Request Details") %></label>
                  <%= form.text_area :details, :class => "form-control", :placeholder => t("Request Details") %>
              </div>
              <div class="form-group">
                <label><%= t("Request Status") %></label>
                  <%= form.select(:status, options_for_select([[t("Pending"),"Pending"],[t("Completed"),"Completed"],[t("Rejected"),"Rejected"]], :selected => form.object.status), {},:class => 'form-control',:include_blank => t("choose from list"))%>
              </div>
              <div class="form-group">
                <label for="exampleInputcode"><%= t("Request Number") %></label>
                  <%= form.text_field :code, :class => "form-control", :placeholder => t("Request Number") %>
              </div>             
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                    <button type="submit" class="btn btn-primary" id="submit" >Submit</button>
            </div>
          <% end %>
      </div>
    </div>
  </div>
</section>



<%= link_to t('Show'), admin_visitor_service_path(@visitor_service) %> |
<%= link_to t('Back'), admin_visitor_services_path %>

