
<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
        <%# @posts=params[:posts] %>

    <Table>
      <Row>
        <Cell><Data ss:Type="String"> ID</Data></Cell>
        <Cell><Data ss:Type="String">name</Data></Cell>
        
      </Row>
    <% @visitor_services.each do |posts| %>
      <Row>
        <Cell><Data ss:Type="String"><%= posts.id %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= posts.name %></Data></Cell>
      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
