 <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
          
            <div class="box-header">
              <h3 class="box-title"><%= t("Visitor Services") %></h3>
            </div>
            <%= form_tag  url_for(:controller => 'admin/visitor_services', :action => 'search'), :method => 'get' do %>
                <div class="box-body">
                  <div class="row">
                    <div class="col-xs-2">
                      <input type="text" name="search" class="form-control" placeholder="<%= t('Request Number') %>" >
                    </div>
                    <div class="col-xs-2">
                      <input type="text" name="emailsearch" class="form-control" placeholder="<%= t('Email') %>" >
                    </div>
                    <div class="col-xs-2">
                      <input type="text" name="companysearch" class="form-control" placeholder="<%=  t('Name') %>" >
                    </div>
                    <div class="col-xs-2">
                      <%= select_tag(:searchtime,options_for_select([[t('last hour'),1.hour.ago],[t('last day'),1.day.ago], [t('last week'), 7.days.ago], [t('last month'),1.month.ago],[t('last year'),1.year.ago]]),:class => 'form-control',:include_blank => t('Date'))  %>
                    </div>
                    <div class="col-xs-2">   
                      <%= select_tag(:servicetyp, options_for_select([[t('ServiceRequest'),'ServiceRequest'],[t('ConsultRequest'),'ConsultRequest'],[t('JobRequest'),'JobRequest'],[t('Suggestion'),'Suggestion']]),:class => 'form-control',:include_blank => t('Service Type') )   %>
                    </div>
                    <div class="col-xs-2">
                      <%= select_tag(:status, options_for_select([[t('Pending'),'Pending'],[t('Completed'),'Completed'],[t('Rejected'),'Rejected']]),:class => 'form-control',:include_blank => t('Request Status'))   %>
                    </div>
                    <div class="col-xs-2">
                      <button type="submit"  class="btn btn-primary waves-effect waves-light  text-center" style="margin:auto !important;"><%= 'search' %> </button>  
                    </div>
                  </div>
                </div>
            <% end %><br>
          

            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th><%= t("Service Type") %></th>
                  <th><%= t("Name") %></th>
                  <th><%= t("Email") %></th>
                  <th><%= t("Request Number") %></th> 
                  <th><%= t("Request Status") %></th> 
                  <th><%= t("created_at") %></th>
                  <th><%= t("updated_at") %></th>
                  <th colspan="3"></th>
                </tr>
                </thead>
                <tbody>
                  <% @visitor_services.each do |visitor_service| %>
                    <tr>
                      <td><%= t(visitor_service.service_id) %></td>
                      <td><%= visitor_service.name %></td>
                      <td><%= visitor_service.email %></td>
                      <td><%= visitor_service.code %></td>
                      <td><%= t(visitor_service.status) %></td>
                      <td><%= visitor_service.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>
                      <td><%= visitor_service.updated_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>                      
                      <td><%= link_to t("Show"), admin_visitor_service_path(visitor_service) %></td>
                      <td><%= link_to t("Edit"), edit_admin_visitor_service_path(visitor_service) %></td>
                      <td><%= link_to t("Destroy"), admin_visitor_service_path(visitor_service), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>               
                </tbody> 
              </table>
            </div>
          </div>
        </div>
      </div>
  </section>


<br>
<%= link_to t('Back'), admin_visitor_services_path %>

