 <section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">          
        <div class="box-header">
          <h3 class="box-title"><%= t("Details") %></h3>
        </div><br>
          
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead></thead>
              <tbody>
                <tr>
                  <td><%= t("Service Type") %></td>
                  <td><%= @visitor_service.service_id %></td>                      
                </tr>
                <tr>
                  <td><%= t("Name") %></td>
                  <td><%= @visitor_service.name %></td>                      
                </tr>
                <tr>
                  <td><%= t("Email") %></td>
                  <td><%= @visitor_service.email %></td>                      
                </tr>
                <tr>
                  <td><%= t("Phone") %></td>
                  <td><%= @visitor_service.phone %></td>                      
                </tr>
                <tr>
                  <td><%= t("Address") %></td>
                  <td><%= @visitor_service.address %></td>                      
                </tr>
                <tr>
                  <td><%= t("Job title") %></td>
                  <td><%= @visitor_service.job_title %></td>                      
                </tr>
                <% if @visitor_service.service_id == "ServiceRequest" or @visitor_service.service_id == "ConsultRequest" %>
                  <tr>
                    <td><%= t("Company type") %></td>
                    <td><%= @visitor_service.company_type %></td>                      
                  </tr>
                  <tr>
                    <td><%= t("Adminstrator name") %></td>
                    <td><%= @visitor_service.adminstrator_name %></td>                      
                  </tr>
                <% elsif @visitor_service.service_id == "JobRequest" %>
                  <tr>
                    <td><%= t("Birth Date") %></td>
                    <td><%= @visitor_service.birth_date %></td>                      
                  </tr>
                  <tr>
                    <td><%= t("Previous work") %></td>
                    <td><%= @visitor_service.previous_work %></td>                      
                  </tr>
                  <% if @visitor_service.file.attached? %>
                    <tr>
                      <td><%= t("CV") %></td>
                      <td><%= link_to "download", rails_blob_path(@visitor_service.file, disposition: 'download') %></td>                      
                    </tr>
                  <% end %>
                <% end %>

                  <tr>
                    <td><%= t("Request Details") %></td>
                    <td><%= @visitor_service.details %></td>                      
                  </tr>
                  <tr>
                    <td><%= t("Request Number") %></td>
                    <td><%= @visitor_service.code %></td>                      
                  </tr>
                  <tr>
                    <td><%= t("Request Status") %></td>
                    <td><%= @visitor_service.status %></td>                      
                  </tr>
                  <tr>
                    <td><%= t("created_at") %></td>
                    <td><%= @visitor_service.created_at %></td>                      
                  </tr>
                  <tr>
                    <td><%= t("updated_at") %></td>
                    <td><%= @visitor_service.updated_at %></td>                      
                  </tr>
                  <tr>
                    <td><%= t("Edit Status") %></td>
                    <td>
                      <%= form_for @visitor_service , :url => admin_visitor_service_path do |form| %>
                        <div class="input-group">
                          <div class="input-group-btn">
                            <button type="submit" class="btn btn-info btn-flat" id="submit" >Submit</button>
                          </div>
                          <!-- /btn-group -->
                          <%= form.select(:status, options_for_select([[t("Pending"),"Pending"],[t("Completed"),"Completed"],[t("Rejected"),"Rejected"]], :selected => form.object.status), {},:class => 'form-control')%>
                        </div>
                      <% end %>
                    </td>                      
                  </tr>
                  <tr>
                    <td><%= t("Edit Data") %></td>
                    <td><%= link_to t('Edit'), edit_admin_visitor_service_path(@visitor_service) %>                       
                    </td>                      
                  </tr>
                </tbody> 
              </table>
            </div>
          </div>
        </div>
    </div>
  </section>

  <section class="content">
  <div class="row">
    <!-- left column -->
      <div class="col-xs-12">
       <!-- quick email widget -->
          <div class="box box-info">
            <div class="box-header">
              <i class="fa fa-envelope"></i>

              <h3 class="box-title"><%= t("Send Reply")%></h3>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                  <i class="fa fa-times"></i></button>
              </div>
              <!-- /. tools -->
            </div>
            <%= form_for @visitor_service , :url => admin_visitor_service_path do |form| %>
              <div class="box-body">
                <div class="form-group">
                  <%= form.email_field :emailto, :class => "form-control", :value => @visitor_service.email , :placeholder => t("Email"), :required => true %>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" name="subject" placeholder="<%= t('Subject') %>" required>
                </div>
                <div>
                  <%= form.text_area :reply, :class => "textarea", :placeholder => t("Message"), :style => "width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;", :required => true %>
                </div>              
              </div>
              <div class="box-footer clearfix">
                <button type="submit" class="pull-right btn btn-default" id="sendEmail" ><%= t("Send") %></button>
                  <i class="fa fa-arrow-circle-right"></i></button>
              </div>
            <% end %>
          </div>
      </div>

  </div>
</section>
<br>
<%= link_to t('Back'), admin_visitor_services_path %>