<section class="our-teamsss text-center">
  <div class="teamsss">
    <div class="container">
      <section class="contact_area section-gap">
        <div class="overlay">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="map"><iframe frameborder='0' height='270' src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3453.4342194736973!2d31.259848215115312!3d30.05308558187922!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458409dfc862713%3A0x71140bd728c381!2s12+Al+Moez+Ldin+Allah+Al+Fatmi%2C+El-Gamaleya%2C+Qism+El-Gamaleya%2C+Cairo+Governorate!5e0!3m2!1sen!2seg!4v1549638078529' style='border:0' width='100%'></iframe>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3" id="form_container">
                <div class="contact_info">
                  <div class="info_item">
                    <i class="lnr lnr-home"></i>
                    <% if session[:locale] == "en" %>
                      <h6><%= @address.title_en %></h6>
                      <p><%= @address.description_en.html_safe %></p>
                    <% else %>
                      <h6><%= @address.title_ar %></h6>
                      <p><%= @address.description_ar.html_safe %></p>
                    <% end %>
                  </div>
                  <div class="info_item">
                      <i class="lnr lnr-phone-handset"></i>
                      <h6><a href="#"><%= @contacts.title_ar %></a></h6>
                      <% if session[:locale] == "en" %>
                        <p><%= @contacts.description_en.html_safe %></p>
                      <% else %>
                        <p><%= @contacts.description_ar.html_safe %></p>
                      <% end %>
                  </div>
                  <div class="info_item">
                      <i class="lnr lnr-envelope"></i>
                      <h6><a href="#"><%= @contacts.title_en %></a></h6>
                      <p>Send us your query anytime!</p>
                  </div>
                </div>
              </div>
              <div class="col-lg-9">
                <div class="info_item">
                    <h1>Get In Touch</h1>
                    <p>Santa monica bullevard omni isat erroe bullo kolo sre<br>sit voluptatem accu anima</p><br>
                    <%= form_tag  url_for(:controller => 'visitor_services', :action => 'send_email'), :method => 'post' do %>
                      <div class="contact_info">
                        <div class="row">
                          <div class="col-lg-1"></div>
                          <div class="col-lg-5">
                            <div class="form-group">
                                <input type="text" class="form-control1" id="name" name="name" placeholder="Enter your name">
                            </div>
                          </div>
                          <div class="col-lg-5">
                            <div class="form-group">
                                <input type="email" class="form-control1" id="email" name="email" placeholder="Enter email address">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-lg-1"></div>
                          <div class="col-sm-10 form-group">
                            <textarea class="form-control2" type="textarea" id="msg" name="msg" maxlength="6000" rows="7"  placeholder="Message"></textarea><br>
                              <button type="submit" value="submit" class="primary-btn">Send Message</button>
                          </div>
                          <div class="col-lg-1"></div>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>

