<section class="new-boxs">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="new-box">
           <% if session[:locale] == "en" %>
            <h4 class="text-center"><%= @customer.title_en%></h4><br>
            <%= @customer.description_en.html_safe%>
          <% else %>
            <h4 class="text-center"><%= @customer.title_ar%></h4><br>
            <%= @customer.description_ar.html_safe%>
          <% end %>
        </div>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-4 col-md-4 col-lg-offset-1 col-md-offset-1 hidden-xs hidden-sm">
        <div class="about-category">
          <div class="category-title">
            <h3 class="text-uppercase text-center"><%= t('Our_Customers')%></h3>
          </div>
          <div class="category-content">
            <ul class="text-capitalize text-center list-unstyled">
              <% Content.where("category =?", 4).all.each do |customer| %>
                <li class="active-menue">
                  <% if session[:locale] == "en" %>
                    <a href="<%= Rails.application.credentials[:app_host]%>/pages/customers/?id=<%= customer.id%>"><%= customer.title_en %></a>
                  <% else %>
                    <a href="<%= Rails.application.credentials[:app_host]%>/pages/customers/?id=<%= customer.id%>"><%= customer.title_ar %></a>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div><br><br>
        <div class="about-category">
          <div class="category-content">
            <% if @customer.images.attached?%>
              <%= image_tag @customer.images[0].variant(resize: "304x203!") %>
            <% else %>
              <img src="<%= Rails.application.credentials[:app_host]%>/site/imgs/books-business-computer-459654.jpg" alt="">
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

