<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @website_name %></title>
    <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/main.css">
    <link rel='stylesheet' href='<%= Rails.application.credentials[:app_host]%>/site/css/font-awesome.min.css'/>
    <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/animate.css">
    <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/media.css">
  </head>
  <body>
    <div id="notfound">
		  <div class="notfound">
		  	<div class="notfound-404">
			  	<h1>Oops!</h1>
			  </div>
        <h2>404 - Page not found</h2>
        <p>The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
        <% if current_user %>
          <% if current_user.role_id == "admin" %>
            <a href="/admin/dashboard"><%= t("Go To Homepage") %></a>
          <% elsif current_user.role_id == "user" %>
            <a href="/home"><%= t("Go To Homepage") %></a>
          <% end %>
        <% else %>
          <a href="/"><%= t("Go To Homepage") %></a>
        <% end %>
      </div>
    </div>
    <script src="<%= Rails.application.credentials[:app_host]%>/site/js/jquery-3.3.1.min.js"></script>
    <script src="<%= Rails.application.credentials[:app_host]%>/site/js/popper.min.js"></script>
    <script src="<%= Rails.application.credentials[:app_host]%>/site/js/bootstrap.min.js"></script>
    <script src="<%= Rails.application.credentials[:app_host]%>/site/js/main.js"></script>
  </body>
</html>
