<!-- Main content -->
<section class="content">
  <div class="box box-solid">
    <div class="box-header with-border with-border2">
      <h3 class="box-title">welcome our clients</h3>
    </div>
    <!-- /.box-header -->
    <div class="row">
      <div class="col-lg-12">
        <div class="box-body">
          <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
              <li data-target="#carousel-example-generic" data-slide-to="2" class=""></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img src="<%= Rails.application.credentials[:app_host]%>/user/dist/img/adults-business-coffee-1323592.jpg" alt="First slide">
                <div class="carousel-caption">
                  Hello
                </div>
              </div>
              <div class="item">
                <img src="<%= Rails.application.credentials[:app_host]%>/user/dist\img\apple-coffee-computer-356056.jpg" alt="Second slide">
                <div class="carousel-caption">
                  Welcome To
                </div>
              </div>
              <div class="item">
                <img src="<%= Rails.application.credentials[:app_host]%>/user/dist\img\alternative-energy-background-blue-1036936.jpg" alt="Third slide">
                <div class="carousel-caption">
                  Our Website
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
              <span class="fa fa-angle-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
              <span class="fa fa-angle-right"></span>
            </a>
          </div>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
  </div>
</section>