<!-- <h1>Pages</h1>
<%# if current_user %>
  <p><a href="<%# Rails.application.credentials[:app_host]%>users/<%# current_user.id %>" ><%# "show Myprofile" %></a></p>
  <p><a href="<%# Rails.application.credentials[:app_host]%>edit_password"><%# "Edit My Password" %></a></p>
  <p><a href="<%# Rails.application.credentials[:app_host]%>users/<%# current_user.id %>/edit"><%# "Edit My Profile" %></a></p>
  <%# if current_user.role_id == "admin" %>
    <p><a href= "<%# Rails.application.credentials[:app_host]%>/admin/dashboard"><%# "Admin Area" %></a></p>
  <%# end %>
<%# else %>
  <p><a href="<%# Rails.application.credentials[:app_host]%>pages/visitor_login" ><%# "Our Services" %></a></p>
<%# end %> -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @website_name %></title>
    <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/bootstrap.min.css">
    <% if session[:locale] == "en" %>
      <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/main.css">
    <% else %>
      <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/css2.css"> 
    <% end %>
    <link rel='stylesheet' href='<%= Rails.application.credentials[:app_host]%>/site/css/font-awesome.min.css'/>
    <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/animate.css">
    <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/media.css">
    <link href="https://fonts.googleapis.com/css?family=Assistant:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
  </head>
  <body>
    <section class="template">
      <div class="overlay-template">
        <div id="sidebar">
          <div class="social facebook">
            <a href=" https://www.facebook.com " target="_blank">
              <p>Like on Facebook <i class="fa fa-facebook "></i> </p>
            </a>
          </div>
          <div class="social twitter">
            <a href=" https://www.twitter.com " target="_blank">
              <p>Follow on Twitter<i class="fa fa-twitter"></i> </p>
            </a>
          </div>
          <div class="social google">
            <a href=" https://www.plus.google.com " target="_blank">
              <p>&nbspAdd on Google+<i class="fa fa-google-plus"></i> </p>
            </a>
          </div>
          <div class="social youtube">
            <a href=" https://www.youtube.com " target="_blank">
              <p>Subscribe on Youtub <i class="fa fa-youtube-play"></i> </p>
            </a>
          </div>
          <div class="social linkedin">
            <a href=" https://www.linkedin.com " target="_blank">
              <p>Connect on LinkedIn<i class="fa fa-linkedin"></i> </p>
            </a>
          </div>
        </div>
        <div class="container">
          <div class="banner text-center">
            <h1 class="animated animatedFadeInUp fadeInUp"><%= @website_name %></h1>
              <p class="animated animatedFadeInUp fadeInUp"><span><%= t('accounting_consultancy')%></span><br> <br></p>
                <div  class="animated animatedFadeInUp fadeInUp" id="fade">
                  <a href="/sign_in" class="btn theme_btn button_hover" id="button_hover"><i class="fa fa-group"></i><%= t("customer_login")%></a>
                    <a href="/pages/visitor_login" class="btn theme_btn button_hover"><i class="fa fa-hand-o-right"></i><%= t("visitors_login")%></a>
                </div>
          </div>
        </div>
      </div>
    </section>
    <script src="<%= Rails.application.credentials[:app_host]%>/site/js/jquery-3.3.1.min.js"></script>
    <script src="<%= Rails.application.credentials[:app_host]%>/site/js/popper.min.js"></script>
    <script src="<%= Rails.application.credentials[:app_host]%>/site/js/bootstrap.min.js"></script>
    <script src="<%= Rails.application.credentials[:app_host]%>/site/js/wow.min.js"></script>
    <script>new WOW().init();</script>
    <script src="<%= Rails.application.credentials[:app_host]%>/site/js/main.js"></script>
  </body>
</html>
