<section>
  <div class="content-innerr">
    <div class="container">
      <div class="upperbar">
        <a href="<%= Rails.application.credentials[:app_host]%>/pages/visitor_login"><%= t('home')%></a><span>/ </span><a href=""><%= t('Human_Cadres')%></a>
      </div>
      <div class="business-specialisation">
        <div class="business-specialisation-head">
          <div class="row">
            <div class="col-sm-4 ">
              <div class="business-specialisation-head-image business-specialisation-head-image-no-number">
                <% if @human_cadres.images.attached?%>
                  <%= image_tag @human_cadres.images[0].variant(resize: "200x200!") %>
                <% else %>
                  <img src="<%= Rails.application.credentials[:app_host]%>/site/imgs/إدارة المنتجات الإلكترونية - صورة مربعة.png" class="img-circle">
                <% end %>
              </div>
            </div>
            <div class="col-sm-8 ">
              <h3 class="heading-hr-with-underline business-specialisation-head-title" mq-toggle="" toggle-key="expert-support" toggle-update-url="true">
              <% if session[:locale] == "en"%>
                <%= @human_cadres.title_en%>
                </h3><br>
                <div class="business-specialisation-lead">
                  <%= @human_cadres.description_en.html_safe%>
              <% else %>
                <%= @human_cadres.title_ar%>
                </h3><br>
                <div class="business-specialisation-lead">
                  <%= @human_cadres.description_ar.html_safe%>
              <% end %>
							</div>
						</div>
					</div>
				</div>
      </div>
    </div>
  </div>
 </section>
