  <!-- more details-->
  <% if session[:locale] == "en"%>
    <% @title = @mission.title_en%>
    <% @description = @mission.description_en.html_safe%>          
  <% else %>
    <% @title = @mission.title_ar%>
    <% @description = @mission.description_ar.html_safe%>               
  <% end %>
  <section>
    <div class="content-inner">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-sm-12">
            <div class="upperbar">
                <a href="<%= Rails.application.credentials[:app_host]%>/pages/visitor_login"><%= t('home')%></a><span>/ </span><span> </span> <a href=""><%=  @title %></a>
            </div>
            <div class="paragraph9">
                <h1><%= @title %> <span></span></h1>
                <%= @description %>                             
            </div>
          </div>
          <div class="col-lg-6 col-sm-12">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" id="carouselExampleControls2">
              <div class="container">
                <div class="carousel-inner">
                  <% if @mission.images.attached?%>
                    <% @mission.images.each do |image| %> 
                      <% if @mission.images.first.id == image.id %>
                        <div class="carousel-item active">
                      <% else %>
                        <div class="carousel-item">
                      <% end %>
                        <%= image_tag image.variant(resize: "510x340!").processed,class: "card-img-top" %>
                      </div>                                     
                    <% end %> 
                  <% else %>
                    <div class="carousel-item active">
                      <img class="card-img-top" src="<%= Rails.application.credentials[:app_host]%>/site/imgs/business-coffee-device-6337.jpg" alt="Card image cap">
                    </div>
                    <div class="carousel-item">
                      <img class="card-img-top" src="<%= Rails.application.credentials[:app_host]%>/site/imgs/apple-device-cellphone-communication-594452.jpg" alt="Card image cap">
                    </div>
                    <div class="carousel-item">
                      <img class="card-img-top" src="<%= Rails.application.credentials[:app_host]%>/site/imgs/books-business-computer-459654.jpg" alt="Card image cap">
                    </div>
                  <% end %>                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>