
<div class="jumbtronnn">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-sm-12">
        <div class="upperbar">
          <a href="<%= Rails.application.credentials[:app_host]%>/pages/visitor_login"><%= t('home')%></a><span>/ </span><a href=""><%= t('News List')%></a>
        </div>
      </div>
    </div>
    <% @news.all.each do |new| %>
      <div class="row rowww">
        <div class="col-lg-12"> 
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="business-specialisationn">
              <div class="container">
                <div class="business-specialisation-headd">
                  <div class="row">
                    <div class="col-3">
                      <% if new.images.attached?%>
                        <%= image_tag new.images[0].variant(resize: "243x162!"), class:"w-100" %>
                      <% else %>
                        <img alt="laptop_from_side_925x" src="https://preview.ibb.co/jjt8iF/laptop_from_side_925x.jpg" class="w-100">
                      <% end %>
                    </div>
                    <div class="col-9">
                      <% if session[:locale] == "en"%>
                        <p class="h3"><%= new.title_en%></p>
                        <%= new.description_en.first(200).html_safe %>  
                      <% else %>
                        <p class="h3"><%= new.title_ar%></p>
                        <%= new.description_ar.first(200).html_safe %>
                      <% end %>
                      <%= link_to '...' + t('Read More'), pages_details_path(id: new.id) %>
                    </div>
                  </div>
                </div>
                <h6><%= new.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ')%></h6>
              </div>
            </div>
          </div>       
        </div>
      </div>
    <% end %>
  </div>
</div>