<section>
  <div class="content-inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="upperbar">
            <a href="<%= Rails.application.credentials[:app_host]%>/pages/visitor_login"><%= t('home')%></a><span>/ </span><a href=""><%= t('About Us')%></a><span> /</span> <a href="<%= Rails.application.credentials[:app_host]%>/pages/our_company"><%= t('About Company')%></a>
          </div>
          <div class="paragraph9">
            <% if session[:locale] == "en"%>
              <div class="page-header">              
                <h1><span><%= @about_us.title_en%></span></h1>
                <hr class="new2">
              </div>
              <%= @about_us.description_en.html_safe%>
            <% else %>
              <div class="page-header">              
                <h1><span><%= @about_us.title_ar%></span></h1>
                <hr class="new2">
              </div>
              <%= @about_us.description_ar.html_safe%>
            <% end %>       
          </div>
        </div>
        <div class="col-lg-2"></div>
        <div class="col-lg-4">
          <table class="table table-striped">
            <thead>
              <tr>
                <td><i class="fa fa-fire"></i><a href="<%= Rails.application.credentials[:app_host]%>/pages/about_us"><%= t('About_US')%></a></td>
              </tr>
              <tr>
                <td><i class="fa fa-fire"></i><a href=""><%= t('About Company')%></a></td>
              </tr>
            </thead>
          </table>
          <br><br>
          <div class="about-category">
            <div class="category-content">
              <% if @about_us.images.attached?%>
                <%= image_tag @about_us.images[0].variant(resize: "304x203!") %>
              <% else %>
                <img src="<%= Rails.application.credentials[:app_host]%>/site/imgs/books-business-computer-459654.jpg" alt="">
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


