<section class="new-boxs">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="upperbar">
          <a href="<%= Rails.application.credentials[:app_host]%>/pages/visitor_login"><%= t('home')%></a><span>/ </span><a href="<%= Rails.application.credentials[:app_host]%>/pages/privacy_policy"><%= t('privacy policy')%></a>

        </div><br>
        <div class="paragraph9">
          <% if session[:locale] == "en" %>
            <h1><%= @privacy_policy.title_en %></h1>
          <% else %>
            <h1><%= @privacy_policy.title_ar%></h1>
          <% end %>
          <hr class="new3">
          <div class="contentdiv">
            <% if session[:locale] == "en" %>
            <%= @privacy_policy.description_en.html_safe%>
            <% else %>
            <%= @privacy_policy.description_ar.html_safe%>
          <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-1"></div>
      <div class="col-lg-4 col-md-4 col-lg-offset-1 col-md-offset-1 hidden-xs hidden-sm">
        <div class="about-category">
          <div class="category-title">
            <h3 class="text-uppercase text-center">Progress</h3>
          </div>
          <div class="category-content">
            <ul class="text-capitalize text-center list-unstyled">
              <li class="active-menue">
                <a href="<%= Rails.application.credentials[:app_host]%>/pages/visitor_login"><%= t('home')%></a>
              </li>
              <li>
                <a href="<%= Rails.application.credentials[:app_host]%>/pages/about_us"><%= t('About_US')%></a>
              </li>
              <li>
                <a href="<%= Rails.application.credentials[:app_host]%>/pages/human_cadres"><%= t('Human_Cadres')%></a>
              </li>
              <li>
                <a href="<%= Rails.application.credentials[:app_host]%>/pages/news"><%= t('News') %></a>
              </li>
              <li>
                <a href="<%= Rails.application.credentials[:app_host]%>/pages/contact_us"><%= t('Contact_us')%></a>
              </li>
              <li>
                <a href="<%= Rails.application.credentials[:app_host]%>/pages/terms_of_use"><%= t('terms of use')%></a>
              </li>
              <li>
                <a href="<%= Rails.application.credentials[:app_host]%>/pages/disclaimer"><%= t('disclaimer')%></a>
              </li>
            </ul>
          </div>
        </div><br><br>
        <div class="about-category">
          <div class="category-content">
            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
              <div class="container">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img class="card-img-top" src="<%= Rails.application.credentials[:app_host]%>/site/imgs/business-coffee-device-6337.jpg" alt="Card image cap">
                  </div>
                  <div class="carousel-item">
                    <img class="card-img-top" src="<%= Rails.application.credentials[:app_host]%>/site/imgs/apple-device-cellphone-communication-594452.jpg" alt="Card image cap">
                  </div>
                  <div class="carousel-item">
                    <img class="card-img-top" src="<%= Rails.application.credentials[:app_host]%>/site/imgs/books-business-computer-459654.jpg" alt="Card image cap">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>