<section>
  <div class="content-inner">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-12">
          <div class="upperbar">
            <a href="<%= Rails.application.credentials[:app_host]%>/pages/visitor_login"><%= t('home')%></a><span>/ </span><a href=""><%= t('Our_Services')%></a><span> /</span> <a href="">
              <% if session[:locale] == "en"%>
                <%= @service.title_en %>
              <% else %>
                <%=@service.title_ar %>
              <% end %>
            </a>
          </div>
          <div class="paragraph9">
            <% if session[:locale] == "en"%>
              <h1><%= @service.title_en %></h1>
              <%= @service.description_en.html_safe %>
            <% else %>
              <h1><%=@service.title_ar %></h1>
              <%= @service.description_ar.html_safe %>
            <% end %>
          </div>
        </div>
        <div class="col-lg-6 col-sm-12">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" id="carouselExampleControls2">
            <div class="container">
              <div class="carousel-inner">
                <% if @service.images.attached?%>
                  <% @service.images.each do |image| %> 
                    <% if @service.images.first.id == image.id %>
                      <div class="carousel-item active">
                    <% else %>
                      <div class="carousel-item">
                    <% end %>
                      <%= image_tag image.variant(resize: "510x340!"),class: "card-img-top" %>
                    </div>                                     
                  <% end %> 

                <% else %>
                  <div class="carousel-item active">
                    <img class="card-img-top" src="<%= Rails.application.credentials[:app_host]%>/site/imgs/business-coffee-device-6337.jpg" alt="Card image cap">
                  </div>
                  <div class="carousel-item">
                    <img class="card-img-top" src="<%= Rails.application.credentials[:app_host]%>/site/imgs/apple-device-cellphone-communication-594452.jpg" alt="Card image cap">
                  </div>
                  <div class="carousel-item">
                    <img class="card-img-top" src="<%= Rails.application.credentials[:app_host]%>/site/imgs/books-business-computer-459654.jpg" alt="Card image cap">
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




