<!DOCTYPE html>
<% if session[:locale] == "en" %>
  <html lang="en" dir="ltr">
<% else %>
  <html lang="en" dir="rtl">  
<% end %>
  <head>
    <meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @website_name %></title>
    <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/bootstrap.min.css">
    <% if session[:locale] == "en" %>
      <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/main.css">
      <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/media.css">
    <% else %>
       <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/css2.css"> 
       <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/media2.css">
    <% end %>
    <link rel='stylesheet' href='<%= Rails.application.credentials[:app_host]%>/site/css/font-awesome.min.css'/>
    <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/animate.css">
    <link href="https://fonts.googleapis.com/css?family=Assistant:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link href="https://fonts.googleapis.com/css?family=Amiri" rel="stylesheet">
  </head>
  <body>
  <!--start section our team  -->
  <header>
    <div class="overlay2">
      <div class="open">
        <div class="toplinks">
          <div class ="container">
            <div class="row">
              <div class="col-lg-6  col-sm-12"></div>
              <div class="col-lg-6 col-sm-12">
                <ul>
                  <% if session[:locale] == "en" %>
                    <li><%= link_to "عربى", pages_change_lang_path(locale: "ar") %></li>
                  <% else %>
                     <li><%= link_to "English", pages_change_lang_path(locale: "en") %></li>
                  <% end %>
                    <li><a href="sitemap.html">Sitemap</a></li>
                    <li><a href="links.html">Links</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="toplinks-search">
          <div class ="container">
            <div class="row">
              <div class="col-lg-6 col-sm-12">
                <a class="navbar-brand" href="/"><img src="<%= Rails.application.credentials[:app_host]%>/site/imgs/logo.png"><%= "Progress" %></a>
              </div>
              <div class="col-lg-6 col-sm-12">
                <div class="input-group input-group1">
                  <input type="text" class="form-control" placeholder="Search for...">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                  </span>
                </div>
              </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light bg-ligh">
              <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                      <a class="nav-link" href="<%= Rails.application.credentials[:app_host]%>/"><%= t('home')%><span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= t('About Us')%>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="<%= Rails.application.credentials[:app_host]%>/pages/about_us"><%= t('About_US')%></a>
                        <!-- <a class="dropdown-item" href="ourcompany.html"><%= t('About_US')%></a> -->
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= t('Human_Cadres')%>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="<%= Rails.application.credentials[:app_host]%>/pages/human_cadres"><%= t('Human_Cadres')%></a>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= t('Our_Services')%>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <% Content.where("category =?", 3).all.each do |service| %>
                          <% if session[:locale] == "en" %>
                            <a class="dropdown-item" href="<%= Rails.application.credentials[:app_host]%>/pages/services/?id=<%= service.id%>"><%= service.title_en %></a>
                          <% else %>
                            <a class="dropdown-item" href="<%= Rails.application.credentials[:app_host]%>/pages/services/?id=<%= service.id%>"><%= service.title_ar %></a>
                          <% end %>
                        <% end %>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= t('Our_Customers')%>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <% Content.where("category =?", 4).all.each do |customer| %>
                          <% if session[:locale] == "en" %>
                            <a class="dropdown-item" href="<%= Rails.application.credentials[:app_host]%>/pages/customers/?id=<%= customer.id%>"><%= customer.title_en %></a>
                          <% else %>
                            <a class="dropdown-item" href="<%= Rails.application.credentials[:app_host]%>/pages/customers/?id=<%= customer.id%>"><%= customer.title_ar %></a>
                          <% end %>
                        <% end %>
                      </div>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= t('News')%>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="<%= Rails.application.credentials[:app_host]%>/pages/news"><%= t('News') %></a>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="<%= Rails.application.credentials[:app_host]%>/pages/contact_us"><%= t('Contact_us')%></a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= t('Visitor Services')%>
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <%= link_to t('ServiceRequest'), new_visitor_service_path(service_id: "ServiceRequest"),:class => "dropdown-item" %>
                        <%= link_to t('ConsultRequest'), new_visitor_service_path(service_id: "ConsultRequest"),:class => "dropdown-item" %>
                        <%= link_to t('JobRequest'), new_visitor_service_path(service_id: "JobRequest"),:class => "dropdown-item" %>
                        <%= link_to t('Suggestion'), new_visitor_service_path(service_id: "Suggestion"),:class => "dropdown-item" %>
                        <div class="dropdown-divider"></div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
      <div class="contianer">
        <div class="content text-center">
          <section class="text-center">
            <div id="flash">
              <% flash.each do |name, msg| %>
                <div class="modal-body">
                  <div class="row msg-alert2 alert box-size border-color-brand hlf-btm bg-white padding-ver-xs clearfix">
                    <button  class="col-lg-1 font-bold" type="button" class="close" data-dismiss="modal" id="close">&times;</button>
                    <h6 class="col-lg-10" class="font-bold"><%= content_tag :div, msg, :id => "flash_#{name}" %></h6>
                    <i class="fa fa-check" class="col-lg-1" style="color:red;"></i>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="content">
              <h1>Progress</h1>
                <p><%= @website_name + " " + t('accounting_consultancy') %>  <br></p>
                  <div id="root"></div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </header>
<!--  end section our team-->
  
  <!-- start section our services -->
  <section class="services text-center">
    <div class="container">
      <div class="service-color">
        <h3> <%= t('Our Mission')%></h3>
        <hr class="new1">
      </div>
    </div>
    <div class="container">
      <% @missions.in_groups_of(4).each_with_index do |group,i| %>
        <div class="row">
          <% group.each do |mission| %>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="icon">
                <i class="<%= mission.small_pic%>" aria-hidden="true"></i>
              </div>
              <div class="icon_text">
                <% if session[:locale] == "en"%>
                  <h4><%= mission.title_en%></h4>
                  <p></p>
                  <p></p><p><%= mission.description_en.first(100).html_safe %></p>
                <% else %>
                  <h4><%= mission.title_ar%></h4>
                  <p></p>
                  <p></p><p><%= mission.description_ar.first(100).html_safe %></p>
                <% end %>
                <%= link_to '...' + t('Read More'), pages_mission_path(id: mission.id) %>
              </div>
            </div>
          <% end %>    
        </div><br><br>
      <% end %> 
    </div>
  </section>

  <!-- Start section our parteners -->
  <section class="testimonials text-center">
    <div class="container">
      <h2> <%= t("What Our Clients Say")%></h2>
      <hr class="new1">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <% @customer_opinions.all.each do |customer_opinions| %>
            <% if customer_opinions.key.to_i == 1%>
              <div class="carousel-item active">
            <% else %>
              <div class="carousel-item">
            <% end %>
            <% if session[:locale] == "en" %>
              <p class="lead"><%= customer_opinions.description_en %> </p>
              <span><%= customer_opinions.name_en %></span>
            <% else %>
              <p class="lead"><%= customer_opinions.description_ar %> </p>
              <span><%= customer_opinions.name_ar %></span>
            <% end %>
              </div>
          <% end %>
        </div>
        <ol class="carousel-indicators">
          <% @customer_opinions.all.each_with_index do |customer_opinions,i| %>
            <% if customer_opinions.key.to_i == 1%>
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
            <% else %>
              <li data-target="#carouselExampleIndicators" data-slide-to="<%= i%>">
            <% end %>
            <% if customer_opinions.image.attached? %>
              <%= image_tag customer_opinions.image.variant(resize: "76x76!") %> </li>
            <% else %> 
              <img src="<%= Rails.application.credentials[:app_host]%>/site/imgs/39137895_2603627586529103_934114692064870400_n.jpg" alt="osama"/></li>
            <% end %>
          <% end %>
        </ol>
      </div>
    </div>
  </section>
<!-- end section our parteners -->
<!-- start section our info -->
<section>
  <div class="jumbtron">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <h1>Awesome Features</h1>
          <p>Curabitur mollis bibendum luctus. Duis suscipit vitae dui sed suscipit. Vestibulum auctor nunc vitae diam eleifend, in maximus metus sollicitudin. Quisque vitae sodales lectus. Nam porttitor justo sed mi finibus, vel tristique risus faucibus.</p>
          <div class="container-login100-form-btn" id="container-login100-form-btn" style="width:30%;margin:20px;">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <a href="client2.html"><button class="login100-form-btn" style="font-weight:bold;font-size:16px;letter-spacing:1px">
                OurBlog
              </button></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <img src="<%= Rails.application.credentials[:app_host]%>/site/imgs/0977_SSXL_MWC_PHP_Creation_Gallery_Stand_case_PF22_Silver-6f76dbdeae354ae5da6d5091c308de1e.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section our info -->
<!-- Start section our parteners -->
<section class="text-center user-client">
  <h1><%= t("Our Partners") %></h1>
  <hr class="new1">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="container">
      <div class="carousel-inner">
        <% @our_partners.in_groups_of(3).each_with_index do |group,i| %>
          <% if (i == 1)%>
            <div class="carousel-item active">
          <% else %> 
            <div class="carousel-item">
          <% end %>
            <div class="row">
              <% group.each do |item| %>
                <div class="col-lg-4">
                  <div class="card-group" class="d-block w-100">
                    <div class="card">
                      <% if item.image.attached? %>
                        <%= image_tag item.image.variant(resize: "348x232!"), class: "card-img-top" %> </li>
                      <% else %> 
                        <img class="card-img-top" src="<%= Rails.application.credentials[:app_host]%>/site/imgs/apple-computer-cup-7974.jpg" alt="Card image cap">
                      <% end %>
                      <div class="card-body">
                        <% if session[:locale] == "en" %>
                          <h5 class="card-title"><%= item.name_en %></h5>
                          <p class="card-text"><%= item.description_en %></p><br>
                        <% else %>
                          <h5 class="card-title"><%= item.name_ar %></h5>
                          <p class="card-text"><%= item.description_ar %></p><br>
                        <% end %>
                        <!-- <a href="card1.html"><p class="textt"><bold>More Details</bold></p></a> -->
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
            </div>
        <% end %>   
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</section>

<!-- end section our parteners -->

<!-- Start Footer -->
    <%= render :partial => 'layouts/site_footer' %>
<!-- End Footer -->


<script src="<%= Rails.application.credentials[:app_host]%>/site/js/jquery-3.3.1.min.js"></script>
<script src="<%= Rails.application.credentials[:app_host]%>/site/js/popper.min.js"></script>
<script src="<%= Rails.application.credentials[:app_host]%>/site/js/bootstrap.min.js"></script>
<script src="<%= Rails.application.credentials[:app_host]%>/site/js/wow.min.js"></script>
<script>new WOW().init();</script>
<script src="<%= Rails.application.credentials[:app_host]%>/site/js/main.js"></script>



</body>
</html>




