<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><%= t("Edit Data")%></h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <%= form_for @ticket , :url => admin_message_path do |form| %>
            <% if @ticket.errors.any? %>
                <div id="error_explanation">
                <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>
                    <ul>
                    <% @ticket.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                    </ul>
                </div>
            <% end %>
          <div class="box-body">
            <div class="form-group">
              <label><%= t("Name") %></label>
              <%= form.select(:user_id,  options_for_select(User.where(:role_id => "user").all.collect {|p| [ p.email, p.id ] }, :selected => form.object.user_id) ,{:include_blank =>  'choose from list'} ,  :class => 'form-control' ) %>
            </div>
            <div class="form-group">
                <label><%= t("Title") %></label>
                <%= form.text_field :title, :class => "form-control", :placeholder => t("Title"), :required => true %>
            </div>
            <div class="form-group">
              <label><%= t("details") %></label>
              <%= form.text_area :description, :class => "form-control", :placeholder => t("Details"), :required => true %>
            </div>
            <div class="form-group">
              <label><%= t("Status") %></label>
              <%= form.select(:status, options_for_select([[t("opened"),"opened"],[t("closed"),"closed"]], :selected => form.object.status), {},:class => 'form-control',:include_blank =>  'choose from list')%>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary" id="submit" >Submit</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>


<%= link_to t('Show'), admin_message_path(@ticket) %> |
<%= link_to t('Back'), admin_messages_path %>





