<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
          
        <div class="box-header">
          <h3 class="box-title">
            <%= t("Tickets") %>
          </h3>        
        </div>            
        <!-- /.box-header -->
          <div class="box-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th><%= t("id")%></th>
                  <th><%= t("Ticket Number")%></th>
                  <th><%= t("Title") %></th>
                  <th><%= t("Status") %></th> 
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @tickets.all.each_with_index do |ticket,i| %>
                  <tr>
                      <td><%= i+1 %></td>
                      <td><%= ticket.ticket_number %></td>
                      <td><%= ticket.title %></td>
                      <td><%= t(ticket.status) %></td>
                      <td><%= link_to t("Show"), ticket %></td>
                      <td><%= link_to t("Edit"), edit_ticket_path(ticket) %></td>
                      <td><%= link_to t("Destroy"), ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>               
                </tbody> 
              </table>
            </div>
          </div>
        </div>
      </div>
  </section>


<br>

<%= link_to t('New Ticket'), new_ticket_path %>|



