
<!-- Main content -->
<section class="content">
  <div class="box-header with-border with-border4 box--header">
    <div class="box box-primary">
      <div class="box-header with-border with--border">
        <h3 class="box-title"><i class="fa fa-fw fa-map-o"></i><%= t("New Ticket")%></h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <div class="row">
        <div class="col-lg-6">
          <%= form_for @ticket , :url => tickets_path do |form| %>
            <% if @ticket.errors.any? %>
              <div id="error_explanation">
                <h2><%= pluralize(@ticket.errors.count, "error") %> prohibited this ticket from being saved:</h2>
                  <ul>
                    <% @ticket.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
              </div>
            <% end %>
            <div class="box-body">
              <div class="box-body">
                <div class="form-group">
                  <label><%= t("Title") %></label>
                  <%= form.text_field :title, :class => "form-control", :placeholder => t("Title"), :required => true %>
                </div>
                <div class="form-group">
                  <label for="exampleInputFile"><%= t("Content") %></label>
                  <%= form.text_area :description, :class => "form-control",:rows => "3", :placeholder => t("Content"), :required => true %>
                </div>
                <div class="checkbox">
                  <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="col-lg-6 imggg">
          <img src="<%= Rails.application.credentials[:app_host]%>/user/dist/img/20119443443408.gif" alt="">
        </div>
      </div>
    </div>      
  </div>
</section>

<%= link_to 'Back', tickets_path %>
