<!-- Main content -->
<section class="content">
  <div class="box-header with-border with-border4 box--header">
    <div class="box-header with-border">
      <h3 class="box-title box3" id="title"><i class="fa fa-fw fa-envelope-o"></i>التذاكر</h3>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="info-box">
          <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>
          <div class="info-box-content">
            <span class="info-box-text"><%= @ticket.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %>  -  <%= t("Ticket Number") %> : <%= @ticket.ticket_number %> - <%= t("Status") %> : <%= t(@ticket.status) %><i class=""></i></span>
            <span class="info-box-number"><%= @ticket.title %> </span><br>
            <p><%= @ticket.description %></p><br> 

            <span class="info-box-text"></span>
          </div>
        <!-- /.info-box-content -->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="box box-default">
          <div class="box-header with-border" id="borders">
            <h3 class="box-title box3"><%= t("Tickets Replies") %></h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
           <% @ticket_replies.each do |ticket| %>
              <div class="row">
                <div class="col-lg-10">
                  <div class="callout">
                    <span class="info-box-text"><%= ticket.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %><i class=""></i></span>
                    <% if ticket.ticket_type == "admin_reply" %>
                      <p><%= t(ticket.ticket_type) %></p>
                    <% end %>
                    <p><%= ticket.description %></p>
                  </div>
                </div>
                <div class="col-lg-2">
                  <div class="user-panel">
                    <div class="pull-left image">
                      <img src="<%= Rails.application.credentials[:app_host]%>/user/dist/img/decd.jpg" class="img-circle" alt="User Image">
                    </div>
                  </div>
                </div>
              </div> 
            <% end %> 
          </div>          
        </div>
      <!-- /.box-body -->
      </div>
    </div>
  </div>
</section>
<!-- /.content -->  

<% if @ticket.status == "opened" %>
  <section class="content">
    <div class="row">
      <!-- left column -->
      <div class="col-xs-12">
       <!-- quick email widget -->
        <div class="box box-info">
          <div class="box-header">
            <i class="fa fa-envelope"></i>
              <h3 class="box-title"><%= t("Send Reply")%></h3>
          </div>
          <%= form_for Ticket.new , :url => tickets_path ,:html => { :multipart => true } do |form| %>
            <%= form.hidden_field  :ticket_id,:value =>  params['id'] %>
            <%= form.hidden_field  :user_id, :value => @ticket.user_id %>
            <%= form.hidden_field  :status, :value => 'opened' %>
            <%= form.hidden_field  :ticket_type, :value => 'user_reply' %>
            <div class="box-body">
              <div>
                <%= form.text_area :description, :class => "textarea", :placeholder => t("Content"), :style => "width: 100%; height: 125px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;", :required => true %>
              </div>              
            </div>
            <div class="box-footer clearfix">
              <button type="submit" class="pull-right btn btn-default" id="sendEmail" ><%= t("Send") %></button>
                <i class="fa fa-arrow-circle-right"></i></button>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% end %>









