<!-- <div id="clearance" class="password-reset">
  <h2><%# t(".title") %></h2>

  <p><%# t(".description") %></p>

  <%# form_for :password_reset,
        url: user_password_path(@user, token: @user.confirmation_token),
        html: { method: :put } do |form| %>
    <div class="password-field">
      <%# form.label :password %>
      <%# form.password_field :password %>
    </div>

    <div class="submit-field">
      <%# form.submit %>
    </div>
  <%# end %>
</div> -->


<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Progress Pioneers</title>
    <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/bootstrap.min.css">
    <% if session[:locale] == "en" %>
      <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/main.css">
    <% else %>
      <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/css2.css"> 
    <% end %>    <link rel='stylesheet' href='<%= Rails.application.credentials[:app_host]%>/site/css/font-awesome.min.css'/>
    <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/media.css">
  </head>
  <body>
    <section class="limiter2 text-center">
      <div class="limiter-overlay">
        <div class="container-login1002">
          <div class="modal-body" id="flash">
            <% flash.each do |name, msg| %>
              <div class="msg-alert alert box-size border-color-brand hlf-btm bg-white padding-ver-xs clearfix">
                <button  class="font-bold" type="button" class="close" data-dismiss="modal" id="close">&times;</button>
                <i class="fa fa-close" id="id3"></i>
                <h6 class="font-bold"><%= content_tag :div, msg, :id => "flash_#{name}" %></h6>
              </div>
            <% end %>
          </div>        
          <div class="wrap-login100" style="position:fixed">
          <%= form_for :password_reset,url: user_password_path(@user, token: @user.confirmation_token),html: { method: :put } do |form| %>
              <span class="login100-form-title p-b-26">
                <%= t(".title")%>
              </span>
              <div class="wrap-input100 validate-input" data-validate="Enter password">
                <%= form.password_field :password, class: "input100" %>
                <span class="focus-input100" data-placeholder="<%= t("Password")%>"></span>
              </div>
              <div class="container-login100-form-btn">
                <div class="wrap-login100-form-btn">
                  <div class="login100-form-bgbtn"></div>
                  <button class="login100-form-btn">
                    <%= t("Send")%>
                  </button>
                </div>
              </div>                
              <div class="row">
                <div class="footer-bottom1">
                  <ul>
                    <li><a href="<%= Rails.application.credentials[:app_host]%>/pages/privacy_policy" id="ctrl_footer_master_rptFooterLinks_ctl00_lnkFooter"><%= t("privacy policy") %></a> </li>
                    <li><a href="<%= Rails.application.credentials[:app_host]%>/pages/terms_of_use" id="ctrl_footer_master_rptFooterLinks_ctl01_lnkFooter"><%= t("terms of use") %></a> </li>
                    <li><a href="<%= Rails.application.credentials[:app_host]%>/pages/disclaimer" id="ctrl_footer_master_rptFooterLinks_ctl01_lnkFooter"><%= t("disclaimer") %></a> </li>
                  </ul>
                  <p class="copy_right">
                  Copyright &copy;<script>document.write(new Date().getFullYear());</script> <span>Progress</span> Organization All rights reserved
                  </p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>
    <script src="<%= Rails.application.credentials[:app_host]%>/site/js/jquery-3.3.1.min.js"></script>
    <script src="<%= Rails.application.credentials[:app_host]%>/site/js/popper.min.js"></script>
    <script src="<%= Rails.application.credentials[:app_host]%>/site/js/bootstrap.min.js"></script>
    <script src="<%= Rails.application.credentials[:app_host]%>/site/js/main.js"></script>
  </body>
</html>



