<p id="notice"><%= notice %></p>

<h1>Tickets</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Ticket</th>
      <th>Ticket number</th>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.user_id %></td>
        <td><%= ticket.ticket_id %></td>
        <td><%= ticket.ticket_number %></td>
        <td><%= ticket.title %></td>
        <td><%= ticket.description %></td>
        <td><%= ticket.status %></td>
        <td><%= ticket.type %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path %>
