<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><%= t("New Report")%></h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <%= form_for @report , :url => admin_reports_path do |form| %>
          <% if @report.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@report.errors.count, "error") %> prohibited this required_file from being saved:</h2>
                <ul>
                  <% @report.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
            </div>
          <% end %>
          <div class="box-body">
            <div class="form-group">
              <label><%= t("Name") %></label>
              <%= form.select(:user_id,  options_for_select(User.where(:role_id => "user").all.collect {|p| [ p.email, p.id ] }) ,{:include_blank =>  'choose from list'} ,  :class => 'form-control' ) %>
            </div>
            <div class="form-group">
              <label><%= t("details") %></label>
              <%= form.text_field :name, :class => "form-control", :placeholder => t("Details"), :required => true %>
            </div>
            <div class="form-group">
              <label><%= t("Attachment") %></label>
                <%= form.file_field :file, :class => "form-control"%>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary" id="submit" >Submit</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>












