<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><%= t("Edit Report Details")%></h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <%= form_for @report , :url => admin_report_path do |form| %>
          <% if @report.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@report.errors.count, "error") %> prohibited this report from being saved:</h2>
                <ul>
                  <% @report.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
            </div>
          <% end %>
          <div class="box-body">
            <div class="form-group">
              <label><%= t("UserName") %></label>
               <%= form.select(:user_id, options_for_select(User.where(:role_id => "user").all.collect {|p| [ p.email, p.id ] }, :selected => form.object.user_id), {},:class => 'form-control')%>
            </div>
            <div class="form-group">
              <label><%= t("Name") %></label>
              <%= form.text_field :name, :class => "form-control", :placeholder => t("Name"), :required => true %>
            </div>
            <div class="form-group">
              <label><%= t("Attachment") %></label>
                <%= form.file_field :file, :class => "form-control"%>
                <%= @report.file.filename %>
            </div>            
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary" id="submit" >Submit</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>


<%= link_to t('Show'), admin_report_path(@report) %> |
<%= link_to t('Back'), admin_reports_path %>
