 <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
          
            <div class="box-header">
              <h3 class="box-title"><%= t("Reports") %></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th><%= t("User") %></th>
                  <th><%= t("Name") %></th>                  
                  <th><%= t("file") %></th>
                  <th><%= t("created_at") %></th>
                  <th><%= t("updated_at") %></th>
                  <th colspan="3"></th>
                </tr>
                </thead>
                <tbody>
                  <% @reports.each do |report| %>
                    <tr>
                      <td><%= report.user.username %></td>
                      <td><%= report.name %></td>
                      <% if report.file.attached? %>
                        <td><%= link_to "download", rails_blob_path(report.file, disposition: 'download') %></td>
                      <% else %>
                         <td></td>
                      <% end %>
                      <td><%= report.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>
                      <td><%= report.updated_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>
                      <td><%= link_to t("Show"), admin_report_path(report) %></td>
                      <td><%= link_to t("Edit"), edit_admin_report_path(report) %></td>
                      <td><%= link_to t("Destroy"), admin_report_path(report), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>               
                </tbody> 
              </table>
            </div>
          </div>
        </div>
      </div>
  </section>


<br>
<%= link_to t('Back'), admin_dashboard_path %>| <%= link_to  t("New Report"), new_admin_report_path %>



