<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">      
        <div class="box-header">
          <h3 class="box-title"><%= t("Details") %></h3>
        </div>
        <br>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead></thead>
            <tbody>
                <tr>
                  <td><%= t("Name") %></td>
                  <td><%= @report.name  %></td>                      
                </tr>
                <tr>
                  <td><%= t("User") %></td>
                  <td><%= @report.user.username %></td>                      
                </tr>
                <tr>
                  <td><%= t("file") %></td>
                  <td><%= link_to "download", rails_blob_path(@report.file, disposition: 'download') %></td>                      
                </tr>
                <tr>
                  <td><%= t("created_at") %></td>
                  <td><%= @report.created_at %></td>                      
                </tr>
                <tr>
                  <td><%= t("updated_at") %></td>
                  <td><%= @report.updated_at %></td>                      
                </tr>
                <tr>
                  <td></td>
                  <td><%= link_to t('Edit'), edit_admin_report_path(@report) %> | 
                      <%= link_to t('Back'), admin_reports_path %>
                  </td>                      
                </tr>
            </tbody> 
          </table>
        </div>
      </div>
    </div>
  </div>
</section>


