<section class="content">
  <div class="row">
    <!-- left column -->
    <%= form_for @our_mission , :url => admin_our_mission_path do |form| %>
      <div class="col-md-6">
        <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><%= t("Edit Content")%></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <% if @our_mission.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@our_mission.errors.count, "error") %> prohibited this our_mission from being saved:</h2>
                    <ul>
                      <% @our_mission.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                </div>
              <% end %>
              
              <div class="box-body">
                
                <div class="form-group">
                  <label for="category"><%= t("ar_title") %></label>
                    <%= form.text_field :title_ar, :class => "form-control", :placeholder => t("ar_title"), :required => true %>
                </div>

                <div class="form-group">
                  <label for="category"><%= t("en_title") %></label>
                    <%= form.text_field :title_en, :class => "form-control", :placeholder => t("en_title"), :required => true %>
                </div>  

                <div class="form-group">
                  <label for="category"><%= t("small_pic") %></label>
                    <%= form.text_field :small_pic, :class => "form-control", :placeholder => t("en_title"), :required => true %>
                </div>              

                <div class="form-group">
                  <label for="exampleInputFile"><%= t("Image") %></label>
                  <%= form.file_field :images, multiple: true, direct_upload: true , :id => "exampleInputFile" %>
                  <p class="help-block">maximum size is </p>
                </div>

                <div class="box-footer">
                    <button type="submit" class="btn btn-primary" id="submit" >Submit</button>
                </div>
              </div>   
          </div>
      </div>
      <div class="col-md-6">
        <div class="box box-info">
          <div class="box-header">
            <h3 class="box-title"><%= t("ar_description") %></h3>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
                      <i class="fa fa-times"></i></button>
              </div>
              <!-- /. tools -->
          </div>
          <!-- /.box-header -->
          <div class="box-body pad">
            <%= form.text_area :description_ar, :id => "editor1", :name => "our_mission[description_ar]",:rows => "10" ,:cols => "80", :required => true %>
          </div>
        </div>
        <!-- /.box -->

        <div class="box box-info">
          <div class="box-header">
            <h3 class="box-title"><%= t("en_description") %></h3>
              <!-- tools box -->
              <div class="pull-right box-tools">
                <button type="button" class="btn btn-info btn-sm" data-widget="collapse" data-toggle="tooltip" title="Collapse">
                  <i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-info btn-sm" data-widget="remove" data-toggle="tooltip" title="Remove">
              </div>
              <!-- /. tools -->
          </div>
          <!-- /.box-header -->
          <div class="box-body pad">
            <%= form.text_area :description_en, :id => "editor2", :name => "our_mission[description_en]",:rows => "10" ,:cols => "80", :required => true %>
          </div>
        </div>
        <!-- /.box -->
        
      </div>
    <% end %>

  </div>
</section>






