
  
  <div class="box">
  <div class="box-header">
    <h3 class="box-title"><%= t("Our Missions") %></h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= t("ar_title") %></th>
          <th><%= t("en_title") %> </th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @our_missions.each do |our_mission| %>
          <tr>
            <td><%= our_mission.title_ar %></td>
            <td><%= our_mission.title_en %></td>
            <td><%= link_to 'Show', admin_our_mission_path(our_mission) %></td>
            <td><%= link_to 'Edit', edit_admin_our_mission_path(our_mission) %></td>
            <!-- <td><%# link_to 'Destroy', admin_our_mission_path(our_mission), method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

    



  





