<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">          
        <div class="box-header">
          <h3 class="box-title"><%= t("Our Missions") %></h3>
        </div><br>       
        <!-- /.box-header -->
          <div class="box-body">
            <div class="col-xs-6">
              <table id="example2" class="table table-bordered table-hover">
                <thead></thead>
                <tbody>
                  <tr>
                    <td><%= t("ar_title") %></td>
                    <td><%= @our_mission.title_ar %></td>                      
                  </tr>
                  <tr>
                    <td><%= t("en_title") %></td>
                    <td><%= @our_mission.title_en %></td>                      
                  </tr>
                  <tr>
                    <td><%= t("small_pic") %></td>
                    <td><%= @our_mission.small_pic %></td>                      
                  </tr>
                  <tr>
                    <td><%= t("ar_description") %></td>
                    <td><%= @our_mission.description_ar.html_safe %></td>                      
                  </tr>
                  <tr>
                    <td></td>
                    <td><%= link_to t('Edit'), edit_admin_our_mission_path(@our_mission) %> | <%# link_to t("Destroy"), admin_our_mission_path(@our_mission), method: :delete, data: { confirm: 'Are you sure?' } %></td>                      
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-xs-6">
              <table id="example2" class="table table-bordered table-hover">
                <thead></thead>
                <tbody>
                <tr>
                    <td><%= t("created_at") %></td>
                    <td><%= @our_mission.created_at %></td>                      
                  </tr>
                  <tr>
                    <td><%= t("updated_at") %></td>
                    <td><%= @our_mission.updated_at %></td>                      
                  </tr>              
                  <tr>
                    <td><%= t("Image") %></td>
                    <% if @our_mission.images.attached? %> 
                      <td> <% @our_mission.images.each do |image| %>               
                        <%= image_tag image.variant(resize: "100x100!") %>
                        <a href="<%= Rails.application.credentials[:app_host]%>/admin/delete_mission_image/?id=<%= @our_mission.id%>&attachment_id=<%= image.id%>">delete image</a><br><br>
                      <% end %>  </td>                     
                    <% end %>     
                  </tr>                  
                  <tr>
                    <td><%= t("en_description") %></td>
                    <td><%= @our_mission.description_en.html_safe %></td>                      
                  </tr>
                </tbody> 
              </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  </section>


<br>
<%= link_to t('Back'), admin_our_missions_path %>





