<section class="content">
  <div class="row">
    <!-- left column -->
    <div class="col-md-6">
      <!-- general form elements -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><%= t("Edit Data")%></h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <%= form_for @users_basic_datum , :url => admin_users_basic_datum_path do |form| %>
            <% if @users_basic_datum.errors.any? %>
                <div id="error_explanation">
                <h2><%= pluralize(@users_basic_datum.errors.count, "error") %> prohibited this required_file from being saved:</h2>
                    <ul>
                    <% @users_basic_datum.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                    </ul>
                </div>
            <% end %>
          <div class="box-body">
            <div class="form-group">
              <label><%= t("Name") %></label>
              <%= form.select(:user_id,  options_for_select(User.where(:role_id => "user").all.collect {|p| [ p.email, p.id ]}, :selected => form.object.user_id) ,{:include_blank =>  'choose from list'} ,  :class => 'form-control' ) %>
            </div>
            <div class="form-group">
              <label><%= t("Model Name") %></label>
              <%= form.select(:model_id,  options_for_select(Model.all.collect {|p| [ p.name, p.id ]}, :selected => form.object.model_id) ,{:include_blank =>  'choose from list'} ,  :class => 'form-control' ) %>
            </div>
            <div class="form-group">
              <label><%= t("Status") %></label>
               <%= form.select(:status, options_for_select([[t("pending"),"pending"],[t("accepted"),"accepted"]], :selected => form.object.status), {},:class => 'form-control')%>
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary" id="submit" >Submit</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>


<%= link_to t('Show'), admin_users_basic_data_path %> |



