 <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
          
            <div class="box-header">
              <h3 class="box-title"><%= t("Basic Data") %></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                  <th><%= t("UserName") %></th>
                  <th><%= t("Model Name") %></th>
                  <th><%= t("file") %></th>
                  <th><%= t("status") %></th>
                  <th><%= t("created_at") %></th>
                  <th><%= t("updated_at") %></th>
                  <th colspan="2"></th>
                </tr>
                </thead>
                <tbody>
                  <% @basic_data.each do |basic_datum| %>
                    <tr>
                      <td><%= basic_datum.user.email %></td>
                      <td><%= basic_datum.model.name %></td>
                      <% if basic_datum.file.attached? %>
                        <td><%= link_to basic_datum.file.filename, rails_blob_path(basic_datum.file, disposition: 'download') %></td>
                      <% else %>
                        <td></td>
                      <% end %>
                      <td><%= basic_datum.status %></td>
                      <td><%= basic_datum.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>
                      <td><%= basic_datum.updated_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>                   
                      <td><%= link_to t("Edit"), edit_admin_users_basic_datum_path(basic_datum) %></td>
                      <td><%= link_to t("Destroy"), admin_users_basic_datum_path(basic_datum), method: :delete, data: { confirm: 'Are you sure?' } %></td>
                    </tr>
                  <% end %>               
                </tbody> 
              </table>
            </div>
          </div>
        </div>
      </div>
  </section>


<br>
<%= link_to t('Back'), admin_dashboard_path %>



