<section class="new-boxs">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="paragraph9">
          <div class="page-header">
            <h1 style="margin-top:2rem"><span><%= t(params["service_id"]) %></span></h1>
              <hr class="new2">
          </div>
        </div><br><br>
        <%= form_with(model: visitor_service, local: true) do |form| %>
          <% if visitor_service.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(visitor_service.errors.count, "error") %> prohibited this visitor_service from being saved:</h2>
              <ul>
                <% visitor_service.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          
          <%= form.hidden_field :service_id %>         
          
          <div class="form-group4">
            <label for="email"><%= t("Name") %>:</label>
            <%= form.text_field :name , :placeholder => "Enter Name", :autocomplete => :off, :required => true %>
          </div>
          <div class="form-group4">
            <label for="email"><%= t("Email") %>:</label>
            <%= form.text_field :email, type: 'email', :placeholder => "Enter Email", :autocomplete => :off, :required => true  %>
          </div>
          <div class="form-group4">
            <label for="email"><%= t("Phone") %>:</label>
            <%= form.text_field :phone, :placeholder =>"Enter Phone", :autocomplete => :off, :required => true  %>
          </div>
          <div class="form-group4">
            <label for="email"><%= t("Job title") %>:</label>
            <%= form.text_field :job_title, :placeholder =>"Enter job title", :autocomplete => :off, :required => true  %>
          </div>
        <% if params[:service_id] == "ServiceRequest" or params[:service_id] == "ConsultRequest" %>
          <div class="form-group4">
            <label for="email"><%= t("Company Type") %>:</label>
            <%= form.text_field :company_type, :placeholder => "Enter company type" , :autocomplete => :off %>
          </div>
          <div class="form-group4">
            <label for="email"><%= t("Adminstrator name") %>:</label>
            <%= form.text_field :adminstrator_name, :placeholder =>"Enter adminstrator_name" , :autocomplete => :off %>
          </div>
          <div class="form-group4">
            <label for="email"><%= t("Address") %>:</label>
            <%= form.text_field :address, :placeholder =>"Enter address", :autocomplete => :off %>
          </div>
        <% elsif params[:service_id] == "JobRequest" %>
          <div class="form-group4">
            <label for="email"><%= t("Birth Date") %>:</label>
            <%= form.date_field :birth_date, :placeholder =>"Enter birth_date" %>
            <%# form.date_select :birth_date, :start_year => Date.current.year, :end_year => 1960  , :class =>"input100"%>
          </div>
          <div class="form-group4">
            <label for="email"><%= t("Previous work") %>:</label>
            <%= form.text_field :previous_work, :placeholder =>"Enter previous work", :autocomplete => :off %>
          </div>
          <div class="form-group4">
            <label for="email"><%= t("upload cv") %>:</label>
            <span class="col-sm-2" id="notice" style="color:red; "></span>
            <%= form.file_field :file, :id => "chooseFile", accept: 'image/png,image/jpeg,image/jpg,image/tiff,image/tif,application/pdf,docx,doc,xls' %>
          </div>

        <% end %>
          <div class="form-group4">
            <% if params[:service_id] == "JobRequest" %>
              <label for="email"><%= t("skills details") %>:</label>
            <% else %>
              <label for="email"><%= t("Request Details") %>:</label>
            <% end %>
            <%= form.text_area :details, :placeholder =>"Enter details", :rows => "5" , :id => "comment", :class => "form-control", :autocomplete => :off, :required => true  %>
          </div><br><br>
          <div class="container-login100-form-btn">
            <div class="wrap-login100-form-btn">
              <div class="login100-form-bgbtn"></div>
              <button type="submit" class="login100-form-btn" data-dismiss="modal">
                submit
              </button>
            </div>
          </div>
        <% end %>
      </div>
      <div class="col-lg-1"></div>
        <div class="col-lg-4 col-md-4 col-lg-offset-1 col-md-offset-1 hidden-xs hidden-sm">
          <div class="about-category">
            <div class="category-title">
              <h3 class="text-uppercase text-center"><%= t("Visitor Services")%></h3>
            </div>
            <div class="category-content">
              <ul class="text-capitalize text-center list-unstyled">
                <li class="active-menue">
                  <%= link_to t('ServiceRequest'), new_visitor_service_path(service_id: "ServiceRequest") %>
                </li>
                <li>
                  <%= link_to t('ConsultRequest'), new_visitor_service_path(service_id: "ConsultRequest")%>
                </li>
                <li>
                  <%= link_to t('JobRequest'), new_visitor_service_path(service_id: "JobRequest") %>
                </li>
                <li>
                  <%= link_to t('Suggestion'), new_visitor_service_path(service_id: "Suggestion") %>
                </li>
              </ul>
            </div>
          </div><br><br>
          <div class="about-category">
            <div class="category-content">
              <img src="<%= Rails.application.credentials[:app_host]%>/site/imgs/books-business-computer-459654.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script language="JavaScript" type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>

<script>
    $(document).ready(function() {
      $('#visitor_service_service_id').val("<%= params[:service_id] %>");
      $('input[type="file"]').change(function(){
              
              if(this.files[0].size > 2097152){
                this.value = "";
                $("#notice").text("<%= t('max_size_2MB') %>");
                $("#notice" + notice).show();
              }              
              var validtype = ["image/png","image/jpeg","image/jpg","image/tiff","image/tif","application/pdf","doc","docx","xls"]; 
              if (jQuery.inArray(this.files[0].type, validtype) == -1){
                this.value = "";
                $("#notice").text("<%= t('not_allowed_file_type') %>");
                $("#notice").show();
              }             

              });
        });
</script>









