<%= form_tag  url_for(:controller => 'visitor_services', :action => 'search'), :method => 'get' do %>
  <div class="row">
    <div class="col-lg-2">    
      <input type="text" name="search" class="form-control" placeholder="<%= 'code' %>" >
    </div>
    <div class="col-lg-2">    
      <input type="text" name="emailsearch" class="form-control" placeholder="<%= 'Email' %>" >
    </div>
    <div class="col-lg-2">    
      <input type="text" name="companysearch" class="form-control" placeholder="<%= 'company' %>" >
    </div>
    <div class="col-lg-2">    
      <%= select_tag(:searchtime,options_for_select([[t('last hour'),1.hour.ago],[t('last day'),1.day.ago], [t('last week'), 7.days.ago], [t('last month'),1.month.ago],[t('last year'),1.year.ago]]),:include_blank => 'date')  %>
    </div>
    <div class="col-lg-2">   
      <%= select_tag(:servicetyp, options_for_select([['ServiceRequest','ServiceRequest'],['ConsultRequest','ConsultRequest'],['JobRequest','JobRequest'],['Suggestion','Suggestion']]),:include_blank => ' service type' )   %>
    </div>
    <div class="col-lg-2">
      <%= select_tag(:status, options_for_select([['Pending','Pending'],['Completed','Completed'],['Rejected','Rejected']]),:include_blank => 'status')   %>
    </div>
  </div><br>   
  <button type="submit"  class="btn btn-primary waves-effect waves-light  text-center" style="margin:auto !important;"><%= 'search' %> </button>  
<% end %>

<h1>Visitor Services</h1>

<table>
  <thead>
    <tr>
      <th>Service</th>
      <th>Name</th>
      <th>Company type</th>
      <th>Email</th>
      <th>code</th>
      <th>status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visitor_services.each do |visitor_service| %>
      <tr>
        <td><%= visitor_service.service_id %></td>
        <td><%= visitor_service.name %></td>
        <td><%= visitor_service.company_type %></td>
        <td><%= visitor_service.email %></td>
        <td><%= visitor_service.code %></td>
        <td><%= visitor_service.status %></td>
        <td><%= link_to 'Show', visitor_service %></td>
        <td><%= link_to 'Edit', edit_visitor_service_path(visitor_service) %></td>
        <td><%= link_to 'Destroy', visitor_service, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# link_to 'New Visitor Service', new_visitor_service_path %>

<%= link_to 'back', visitor_services_path %>
