<p id="notice"><%= notice %></p>

<p>
  <strong>Service:</strong>
  <%= @visitor_service.service_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @visitor_service.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @visitor_service.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @visitor_service.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @visitor_service.address %>
</p>

<p>
  <strong>Job title:</strong>
  <%= @visitor_service.job_title %>
</p>

  <% if @visitor_service.service_id == "ServiceRequest" or @visitor_service.service_id == "ConsultRequest" %>

<p>
  <strong>Company type:</strong>
  <%= @visitor_service.company_type %>
</p>

<p>
  <strong>Adminstrator name:</strong>
  <%= @visitor_service.adminstrator_name %>
</p>

 <% elsif @visitor_service.service_id == "JobRequest" %>

<p>
  <strong>Birth date:</strong>
  <%= @visitor_service.birth_date %>
</p>

<p>
  <strong>Previous work:</strong>
  <%= @visitor_service.previous_work %>
</p>

<% end %>

<p>
  <strong>Details:</strong>
  <%= @visitor_service.details %>
</p>

<p>
  <strong>Code:</strong>
  <%= @visitor_service.code %>
</p>

<p>
  <strong>Status:</strong>
  <%= @visitor_service.status %>
</p>

<p>
  <strong>Created At:</strong>
  <%= @visitor_service.created_at %>
</p>

<p>
  <strong>Updated At:</strong>
  <%= @visitor_service.updated_at %>
</p>

<%= form_with(model: @visitor_service, local: true) do |form| %>
  <% if @visitor_service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@visitor_service.errors.count, "error") %> prohibited this visitor_service from being saved:</h2>

      <ul>
      <% @visitor_service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :reply %>
    <%= form.text_area :reply %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select(:status, options_for_select([["Pending","Pending"],["Completed","Completed"],["Rejected","Rejected"]], :selected => form.object.status), {},:class => 'form-control')%>
  </div>

   <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>

<%= link_to 'Edit', edit_visitor_service_path(@visitor_service) %> |
<%= link_to 'Back', visitor_services_path %>
