<%= form_with(model: audit_log, local: true) do |form| %>
  <% if audit_log.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(audit_log.errors.count, "error") %> prohibited this audit_log from being saved:</h2>

      <ul>
      <% audit_log.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :added_by %>
    <%= form.number_field :added_by %>
  </div>

  <div class="field">
    <%= form.label :foreign_id %>
    <%= form.number_field :foreign_id %>
  </div>

  <div class="field">
    <%= form.label :action_type %>
    <%= form.text_field :action_type %>
  </div>

  <div class="field">
    <%= form.label :meta_data %>
    <%= form.text_field :meta_data %>
  </div>

  <div class="field">
    <%= form.label :ip_address %>
    <%= form.text_field :ip_address %>
  </div>

  <div class="field">
    <%= form.label :user_agent %>
    <%= form.text_field :user_agent %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
