
  
  <div class="box">
  <div class="box-header">
    <h3 class="box-title"><%= t("Audit Logs") %></h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <table id="example2" class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%= t("Username") %></th>
          <th><%= t("Foreign id") %> </th>
          <th><%= t("Action type") %> </th>
          <th><%= t("Ip address") %> </th>
          <th><%= t("created_at") %> </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @audit_logs.each do |audit_log| %>
          <tr>
            <td><%= audit_log.user.username %></td>
            <td><%= audit_log.foreign_id %></td>
            <td><%= audit_log.action_type %></td>
            <td><%= audit_log.ip_address %></td>
            <td><%= audit_log.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ') %></td>
            <td><%= link_to t("Show"), admin_audit_log_path(audit_log) %></td>
            </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%# link_to t('New Content'), new_admin_content_path %>


    


