 <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
          
            <div class="box-header">
              <h3 class="box-title"><%= t("Details") %></h3>
            </div>
            <br>
          

            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead></thead>
                <tbody>
                    <tr>
                      <td><%= t("Username") %></td>
                      <td><%= @audit_log.user.username %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("Added by") %></td>
                      <td><%= @audit_log.added_by %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("Action type") %></td>
                      <td><%= @audit_log.action_type %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("Foreign id") %></td>
                      <td><%= @audit_log.foreign_id %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("operation details") %></td>
                      <td><%= @audit_log.meta_data %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("Ip address") %></td>
                      <td><%= @audit_log.ip_address %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("User agent") %></td>
                      <td><%= @audit_log.user_agent %></td>                      
                    </tr>
                    <tr>
                      <td><%= t("created_at") %></td>
                      <td><%= @audit_log.created_at %></td>                      
                    </tr>
                    <tr>
                      <td>
                        <%= link_to t('Back'), admin_audit_logs_path %>
                      </td>                      
                    </tr>
                </tbody> 
              </table>
            </div>
          </div>
        </div>
      </div>
  </section>

