
      <!-- /.box-header -->
      <!-- form start -->
      <div class="row">
        <div class="col-lg-6">
          <%= form_with(model: basic_datum, local: true, :html => { :class => 'form-horizontal'}) do |form| %>
            <% if basic_datum.errors.any? %>
              <div id="error_explanation">
                <h3><%= pluralize(basic_datum.errors.count, "error") %> prohibited this basic_datum from being saved:</h3>
                <ul>
                  <% basic_datum.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
              <div class="box-body">
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label for="inputEmail3" class="control-label"><%= t("Model Name")%></label>
                  </div>
                  <div class="col-lg-6">
                    <%= form.select(:model_id,  options_for_select(Model.where(:status => true).all.collect {|p| [ p.name, p.id ] }, :selected => form.object.model_id) ,{:include_blank =>  t('choose from list')} ,  :class => 'form-control' ) %>
                  </div>
                </div>
              </div>
              <div class="box-body">
                <div class="form-group row">
                  <div class="col-lg-3">
                    <label for="exampleInputFile"><%= t("file")%></label>
                  </div>
                  <div class="row">
                    <div class="file-upload col-lg-6">
                      <div class="file-select">
                        <div class="file-select-button" id="fileName">Choose File</div>
                        <div class="file-select-name" id="noFile">No file chosen...</div>
                        <%= form.file_field :file, :id => "chooseFile" %>
                      </div>
                    </div>
                  </div>
                  <% if basic_datum.file.attached? %> 
                    <%= basic_datum.file.filename %>
                  <% end %>                  
                </div>
              </div>  
              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>    
          <% end %>
        </div>
        <div class="col-lg-6 imggg">
          <img src="<%= Rails.application.credentials[:app_host]%>/user/dist/img/background-signup.jpg" alt="">
        </div>
      </div>      
    </div>
  </div>
</section>









