<!-- Main content -->
<section class="content">
  <div class="box-header with-border with-border4 box--header">
    <div class="box box-primary">
      <div class="box-header with-border with--border">
        <h3 class="box-title"><%= t("Edit Data")%></h3>
      </div>
      <%= render 'form', basic_datum: @basic_datum %>

<%= link_to 'Back', basic_data_path %>
