<!-- Main content -->
<section class="content">
  <div class="box-header with-border with-border4 box--header">
    <div class="box box-primary">
      <div class="box-header with-border with--border">
        <h3 class="box-title"><%= t("Show Data") %></h3>
      </div>
      <!-- /.box-header -->
      <!-- form start -->
      <table class="table table-bordered">
        <tbody>
          <tr>
            <th style="width: 10px"><%= t("id") %></th>
            <th><%= t("Model Name") %></th>
            <th><%= t("file") %></th>
            <th><%= t("created_at") %></th>
            <th><%= t("updated_at") %></th>
            <th>Label</th>
          </tr>
          <% @basic_data.each_with_index do |basic_datum,i| %>
            <tr>
              <td><%= i+1 %> </td>
              <td><%= basic_datum.model.name %></td>
              <% if basic_datum.file.attached? %>
                <td><a ><%= link_to "Download", rails_blob_path(basic_datum.file, disposition: 'download'),:class => "btn btn-block btn-social btn-facebook fa fa-download text-center" %><i ></i></a></td>
              <% else %>
                <td></td>
              <% end %>
              <td><%= basic_datum.created_at.strftime('%H:%M:%S%p at %d/%m/%Y ')  %></td>
              <td><%= basic_datum.updated_at.strftime('%H:%M:%S%p at %d/%m/%Y ')  %></td>                      
              <td><a><%= link_to 'Edit', edit_basic_datum_path(basic_datum),:class => "fa fa-edit btn btn-app2 editt" %></a><a><%= link_to 'Destroy', basic_datum, method: :delete, :class => "fa fa-trash-o btn btn-app2 delett", data: { confirm: 'Are you sure?' } %></a></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>

