<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @basic_datum.model_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @basic_datum.user_id %>
</p>

<%= link_to 'Edit', edit_basic_datum_path(@basic_datum) %> |
<%= link_to 'Back', basic_data_path %>
