@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);

.table-striped td{
  text-align: right;
}

.business-specialisation-lead p{
  font-size:1rem !important
}
.business-specialisation-headd{
  text-align: right;
}
.heading-hr-with-underline {
    text-align: right;
}
.user-client{
  overflow: hidden !important;
}
.footer-area{
  overflow: hidden !important
}


body{
font-family: 'Droid Arabic Kufi', serif !important;
   /* overflow-x: hidden; */

}
h1,h2,h3,h4,h5,h6{
  font-family: 'Droid Arabic Kufi', serif !important;
    letter-spacing: 0.5px
}
p{
  font-family: 'Droid Arabic Kufi', serif !important;
}
a{
  letter-spacing: 0.5px
}
.container.services {
    margin-top: -20px;
    background: #fff;
}


/*** Start Header ***/

 header{
   width:100% !important;
    background: url(../imgs/beautiful-caucasian-computer-914931.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}

/**start back**/
.template{
  background: url(../imgs/49848335_394696937933360_3825062436042440704_n.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:absolute;



}
.template2{
  background: url(../imgs/background-signup.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position:absolute;



}
.overlay-template{
  background-color: rgba(0,0,0,0.1);
    height:100%;
    width:100%;
    position:absolute;

}
.overlay-template2{
  background-color: rgba(0,0,0,0.1);
    height:100%;
    width:100%;
    position:absolute;

}
.banner {
    color: #fff;

}
.banner h6 {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    font-weight: 400;
    margin-top:12rem

}
.template .banner{
  margin-top:6rem
}
.banner h1 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 700;
      margin-top:12rem
}
.banner h3 {

      margin-top:6rem
}
.banner p {
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    padding: 10px 0 20px;
    color:#d8d9e099
}
.banner span {
    font-weight: 300;
    font-size: 28px;
    line-height: 40px;
    padding: 10px 0 20px;
    color:#d8d9e0
}
#button_hover {
    border-radius: 0;
    position: relative;
    z-index: 1;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    overflow: hidden;
    border: 0;
    display: inline-block;
    text-align: center;
    color:blue;
    background:#fff
}
#button_hover:hover {
    border-radius: 0;
    position: relative;
    z-index: 1;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    background: none;
    padding: 5px 35px;
    margin-right:5px;
    border:1px solid #fff
}
.theme_btn {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    background: #1b2c73;
    padding: 5px 35px;
    margin-right:5px
}
.theme_btn:hover {
  border-radius: 0;
  position: relative;
  z-index: 1;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  overflow: hidden;
  border: 0;
  display: inline-block;
  text-align: center;
  color:#ffff;
  background:none;
  border:1px solid #1b2c73;
}
#sidebar {
  height: 350px;
  width: 10px;
  position: fixed;
  text-align: center;
  padding: 20px;
  margin-left: 10px;
  vertical-align: middle;
  margin-top:10rem
}

#sidebar p i {
  left: 30px;
  position: relative;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  color:#fff;

}
.social a p:hover {
  color:#fff
}
.social  p{
  color:#fff;
  margin-top:10px;
  -moz-transition-property: margin-left;
  -moz-transition-duration: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-property: margin-left;
  -ms-transition-duration: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-property: margin-left;
  -o-transition-duration: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-property: margin-left;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s;

}



#sidebar .social {
  margin-left: -200px;
  width: 230px;
  padding: 10;
  display: inline-table;
  height: 0px;
  background-color: rgba(128, 128, 128, 0.73);
  -moz-transition-property: margin-left;
  -moz-transition-duration: 0.2s;
  -moz-transition-delay: 0.2s;
  -ms-transition-property: margin-left;
  -ms-transition-duration: 0.2s;
  -ms-transition-delay: 0.2s;
  -o-transition-property: margin-left;
  -o-transition-duration: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-property: margin-left;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s;
  box-shadow: 0px 0px 6px 0px #3E3D3D;
  cursor: pointer;
  color:#fff;
  margin-bottom:2px
}

#sidebar .social:hover {
  margin-left: -30px;
  width: 230px;

}
#sidebar .social {
  height:40px

}

#sidebar .facebook:hover {
  background-color: #3b5998;
  color:#fff !important;
  color: white;
  font-size: 25px;
}
#sidebar  .social i{
  text-align: center;
padding-right: 25px;
margin: 10px
}



#sidebar .twitter:hover {
  background-color: #4099FF;
  height: 50px;
}

#sidebar .google:hover {
  background-color: #DD4B39;
  height: 50px;
}

#sidebar .linkedin p i {
  left: 20px;
}

#sidebar .google p i {
  left: 35px;
}

#sidebar .youtube p i {
  left: 18px;
}

#sidebar .youtube:hover {
  background-color: #E52D27;
  height: 50px;
}

#sidebar .linkedin:hover {
  background-color: #0976B4;
  height: 50px;
}



/* End Navbar */

header .overlay{
    height: 100%;
    width: 100%;
    background-image: linear-gradient(to right, rgba(116, 116, 191, 0.8), rgba(52, 138, 199, 0.8));
    -webkit-background-image: linear-gradient(to right, rgba(116, 116, 191, 0.95), rgba(52, 138, 199, 0.95));
    -moz-background-image: linear-gradient(to right, rgba(116, 116, 191, 0.95), rgba(52, 138, 199, 0.95));
    -o-background-image: linear-gradient(to right, rgba(116, 116, 191, 0.95), rgba(52, 138, 199, 0.95));
}
header .overlay2{
    height: 100%;
    background: rgba(52, 53, 60, 0.3)


}

/* header .content{
    overflow: hidden;
} */
header .content h1{
    color: #fff;
    font-size: 4rem;
    margin-top: 8rem;
}
header .content p{
    display: block;
    padding: 1rem;
    color: #eee;
    font-size: 1.1rem;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    max-width: 500px;
    margin: auto;
    margin-bottom: 2rem;
    margin-top:1.3rem

}
header .content h5{
    display: block;
    color: #eee;
    font-size: 2.5rem;
    max-width: 500px;
    margin: auto;
    margin-bottom: 1rem;

}
header .open{

  background: #2d3863;

}

.navbar-collapse {
    /* background: #341600; */
}

.toplinks li >a {

    color:#fff;
    float:left;
    text-align: left;
    display: relative;
    padding-right:1rem;
}
.toplinks{
text-align:left;
font-size: 12px;
display: relative;
padding:3px 0px;
margin-bottom:0.5rem;
margin: 0 0 5px 0;




}

.open{
  display: relative !important;
  background: #24305d;


}
.input-group-btn{
  background: #e3e2e2
}
.input-group1{
  width:60%;
  float:left;
}
.input-group1 input{
  border-radius: 0px !important;
}





.bg-ligh{
    background-color: #1a2256!important;
      list-style-type:none;
      background:#444;
      box-shadow:0 0 1px rgba(0,0,0,.3);
      transition:max-height 0.5s ease-out;
      margin-top:-5px

}
.collapse{
  margin-top:-0.5rem;
  margin-bottom:-0.5rem
}



.toplinks-search .search-container button:hover {
  background: #ccc;
}
.navbar li{
  padding-right: 0.5rem  !important;
  padding-left: 0.5rem  !important;

}
.navbar a{
  padding-right: 0.5rem  !important;
  padding-left: 0.5rem  !important;


}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link  .active{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}
.nav-item a{
  font-size:16px !important
}
.navbar-toggler-icon{
  color:#fff !important
}
.navbar-light .navbar-nav .nav-link {
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}
.navbar-toggler-icon{
  color:#fff !important
}
.navbar .navbar-nav > li > a {
    color: #ffff !important;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    padding-right: 0.5rem  !important;
    padding-left: 0.5rem  !important;
    letter-spacing:0.5px


  }
  .navbar-nav > ul{
    text-align: center !important;
    margin: auto !important;
  }
.dropdown-menu {
  background-color: #f1f0f7;
  border-top: 2px solid #1488CC;
  min-width: 200px;
  left:0;
  right:auto;

}
.navbar-right .dropdown-menu{

}
.dropdown-menu > li > a{

  -webkit-transition:padding 0.5s ease;
  -o-transition:padding 0.5s ease;
  -moz-transition:padding 0.5s ease;
  transition:padding 0.5s ease;

}

.dropdown-menu .divider{
  background-color: #650909;
}



 /* .navbar ul{


} */

 .navbar ul li a{
  display:block;
  padding:12px;
  color:#27209d;
  text-decoration:none;
  box-shadow:0 0px rgba(0,0,0,.5) inset;
  transition:background .3s;
  white-space:nowrap;
  text-align: right;

}

.navbar ul li a:hover{
  background:rgba(0,0,0,.3);
}

/**portal**/
#modal-content{
  width:50%;
  margin:auto;
   box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
}
#modal-title{
  text-align:right;
  padding:10px
}


/**client2**/
#container-login100-form-btn{
  float:right;
}
.our-team{
  background: url('../imgs/لاب-توب-1300x600.jpg') no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
   min-height:600px;


}
.our-team .team{
  background: linear-gradient(to right, rgba(116, 116, 191, 0.8), rgba(52, 138, 199, 0.8));
  color:#fff;
  height: 300px;
  padding-top: 40px;
  padding-bottom: 40px;
   min-height:600px;
}
.our-teams{
  background: url('../imgs/لاب-توب-1300x600.jpg') no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
   min-height:300px;


}
.our-teamss{
  background: url('../imgs/blond-cellphone-coffee-1076814.jpg') no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
   min-height:300px;


}
.our-new-teamss{
  background: url('../imgs/background-home.jpg') no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
   min-height:300px;


}
.our-teamsss{
  background: url('../imgs/blond-cellphone-coffee-1076814.jpg') no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
   min-height:100%;


}
.our-teamsss .teamsss{
background: linear-gradient(to right, rgba(23, 23, 25, 0.8), rgba(29, 31, 33, 0.8));
  color:#d0cdcd;
  padding-top: 4rem;
  padding-bottom: 40px;
  min-height:100%;
}
.our-new-teamss .new-teamss{
background: linear-gradient(to right, rgba(60, 93, 125, 0.8), rgba(183, 179, 218, 0.8));
  color:#d0cdcd;
  padding-top: 4rem;
  padding-bottom: 40px;
  height:300px;
}
#form_container {
    padding: 15px 15px;
    margin-top: 15px;
    color: #d0cdcd;
}


.our-teams .teams{
  background: linear-gradient(to right, rgba(62, 62, 75, 0.8), rgba(31, 52, 66, 0.8));
  color:#fff;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height:300px;
}
.our-teamss .teamss{
  background: linear-gradient(to right, rgba(64, 87, 141, 0.8), rgba(90, 150, 197, 0.8));
  color:#fff;
  padding-top: 40px;
  padding-bottom: 40px;
  min-height:300px;
}
.our-team h2{
  margin-bottom: 60px;
  margin-top:6rem
}
.our-team .person{
  margin-bottom: 40px;
}
.our-team h1{
  margin-top:6rem;
}
.team .box0 .cont1{
    max-width: 80%;
    margin: auto;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    background-color:#ffff
}
.team .box11{
    max-width: 170px;
    margin: auto;
    padding:10px;
    border-radius: 3px;
    -moz-box-shadow:inset 0 0 10px #000000;
    -webkit-box-shadow:inset 0 0 10px #000000;
    box-shadow:inset 0 0 10px #b5b3b3;
    background-color:#fff;
    border:1px solid #d2cfcfa6
}
.team .box11 i,.p{
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  margin-top:7px;
  margin-bottom: -20px
}
.btn-info{
  background: linear-gradient(to right, #1b9ae4, #104c6f);
  font-size:15px;
  margin-top:5px;
}

.logo-container{


    overflow: hidden;
    margin: auto;
    margin-top:-10px;
    margin-bottom:10px;
}
 .logo-container img{
    width: 100%;
    height: 100%;
}
.navbar-brand img{
  width:50px;
  height:50px;
  float:left;

}
.navbar-brand{
  color:#fff !important;
  float:right
}
/**خدمات**/





/*---------------------------------------------*/
a {

	font-size: 15px;
	line-height: 1.7;
	/* color: #666666; */
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {

	font-size: 14px;
	line-height: 1.7;

	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #adadad;}
input:-moz-placeholder { color: #adadad;}
input::-moz-placeholder { color: #adadad;}
input:-ms-input-placeholder { color: #adadad;}

textarea::-webkit-input-placeholder { color: #adadad;}
textarea:-moz-placeholder { color: #adadad;}
textarea::-moz-placeholder { color: #adadad;}
textarea:-ms-input-placeholder { color: #adadad;}

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}


/*//////////////////////////////////////////////////////////////////
[ Utility ]*/
.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  color: #333333;
  line-height: 1.5;
}

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}
.limiter1 {
  width: 100%;
  margin: 0 auto;
  background: #f2f2f2;
  background: url(../imgs/300-sl-alternative-energy-blue-sky-371900.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;

}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #f2f2f2;
}
.container-login101 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;


}



.wrap-login100 {
  width: 390px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;

  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 30px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
}
.login100-form-title i {
  font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #adadad;
  margin-bottom: 37px;
}

.input100 {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px;
}

/*---------------------------------------------*/
.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: #6a7dfe;
  background: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  background: -o-linear-gradient(left, #21d4fd, #b721ff);
  background: -moz-linear-gradient(left, #21d4fd, #b721ff);
  background: linear-gradient(left, #21d4fd, #b721ff);
}

.focus-input100::after {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #999999;
  line-height: 1.2;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 16px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.input100:focus + .focus-input100::after {
  top: -15px;
}

.input100:focus + .focus-input100::before {
  width: 100%;
}

.has-val.input100 + .focus-input100::after {
  top: -15px;
}

.has-val.input100 + .focus-input100::before {
  width: 100%;
}

/*---------------------------------------------*/
.btn-show-pass {
  font-size: 15px;
  color: #999999;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.btn-show-pass:hover {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}

.btn-show-pass.active {
  color: #6a7dfe;
  color: -webkit-linear-gradient(left, #21d4fd, #b721ff);
  color: -o-linear-gradient(left, #21d4fd, #b721ff);
  color: -moz-linear-gradient(left, #21d4fd, #b721ff);
  color: linear-gradient(left, #21d4fd, #b721ff);
}



/*------------------------------------------------------------------
[ Button ]*/
.container-login100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}
.container-login101-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 13px;
}

.wrap-login100-form-btn {
  width: 100%;
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 25px;
  overflow: hidden;
  margin: 0 auto;
}

.login100-form-bgbtn {
  position: absolute;
  z-index: -1;
  width: 300%;
  height: 100%;
  background: #a64bf4;
  background: -webkit-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: -moz-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  background: linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #b721ff);
  top: 0;
  left: -100%;
  font-weight: bold;
  letter-spacing:0.5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}


.login100-form-btn {
  font-family: Poppins-Medium;
  font-size: 15px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
}
.login100-form-btn:hover{
  color:#ffff !important;

}
.wrap-login100-form-btn:hover .login100-form-bgbtn {
  left: 0;
}
.login100-form-title{
  margin-bottom:1.5rem
}



/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 77px 15px 33px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f06a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  background-color: #fff;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}



/**cards client2**/
.userclient{
  width:100%
}
.card {
  box-shadow: 0px 2px 10px -3px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 10px #b5b3b3;
  margin-bottom:6rem;
  margin-top: 1rem

}
.card-group{
margin-bottom:3rem
}
.carousel-control-next-icon,.carousel-control-prev-icon{
  background-color:#000
}


.card .card-title{
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-weight: bold;
}
.textt{
  font-weight: bold;
  color:#000 !important;
  font-family: "Playfair Display", serif !important;
  background: linear-gradient(to right, #000 0%, #000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textt bold:hover{
  border: 1px solid #004387;
  border-radius:50px;
  padding: 10px 10px;



}


.user-client h1{
  text-align:center;
  font-size: 3.5rem;
  margin-top: 2rem;

  text-transform: capitalize;
  color:#170c6f

}

/**start jumbtron**/
.jumbtron{
background: #f1f1f1;
padding-top: 20px;
margin-top:6rem


  }

  .jumbtron h1{
    color: #170c6f;
    font-size: 3rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-weight: lighter !important;
    text-align: right;

  }
  .jumbtron p{
    color: gray;
    font-size: 14px;
    margin-bottom: 5rem !important;
    margin-top: 2rem;
    font-weight: lighter !important;
    text-align: right;

  }
  .jumbtron img{
    width:80%;
    height:80%
  }



  /**end jumbtron**/

/**terminals**/
.testimonials{
  padding-top: 100px;
  padding-bottom: 50px;
}
.testimonials h2{
  font-weight: bold;
  margin-bottom: 20px;
  color:#170c6f
}
.testimonials .lead{
  line-height: 2em;
  margin-bottom: 10px;
}
.testimonials span{
  font-size: 15;
  font-weight: bold;
  color:#E41b17;
}
.testimonials .carousel-inner{
  min-height: 100px;
}
 .carousel-indicators{
  position:static;
  margin: auto;
  padding-top: 20px;
}
.carousel-indicators li{
  text-indent: 0px;
  width:80px;
  height: 80px;
  opacity: 0.3;
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  margin: 5px;
  -webkit-transition:all 0.5s ease;
  -o-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  transition:all 0.5s ease;
}

.carousel-indicators li.active{
  opacity: 0.9;
  background: none;
  border: 2px solid #E41b17;
  width:80px;
  height: 80px;
}
.carousel-indicators li img {
  opacity: 0.9;
  background: none;
  border: 2px solid #E41b17;
  width:80px;
  height: 80px;
}
/**services*/
.services{
    background: #fdfdff;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .services .icon {
    float: right;
    text-align: center;
    width:80px;
    padding-right: 10px
}
.services .icon i {
    background: #b1c3ea none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    display: block;
    height: 45px;
    line-height: 45px;
    text-align: center;
    vertical-align: middle;
    width: 45px;
    font-size: 20px;
    font-weight: 300;
}
.services .icon_text {
    overflow: hidden;
    position: relative;
    color:#170c6f;
    text-align: right;

}
.icon_text p{
  font-size: 15px;
  font-weight: lighter !important;
  font-family: Open Sans;
  color: #7a7a7a;
  font-weight: 400;
  line-height: -1.65;
  margin-bottom:10px
  }
  .icon_text a{
    color:#b1c3ea none repeat scroll 0 0 !important;
    margin-top:10px
  }
  .service-color{
        margin-bottom: 4rem;
  }
.service-color h3{
  font-size: 30px;
  color: #170c6f;
  line-height: 1.2em !important;
  font-weight: 700;


}
.new1{
  border-bottom: 5px solid #4149D1;
  width:6%
}
.new2{
  border-bottom: 5px solid #4149D1;
  width:20%;
  float:right;
}
.new3{
  border-bottom: 5px solid #4149D1;
  width:6%;
  float:right;
  border-radius:25px
}

.services h4{
  font-size: 20px;
  color: #170c6f;
  line-height: 1.2em !important;
  font-weight: 500;

}
.service-color  p {
    color: #222222;
    font-size: 20px;
    font-family: "Playfair Display", serif;
}
/**policy**/
.contentdiv{
  margin-top:4rem
}
.sitemap ul li{
list-style-type: circle;
}

  /**start details**/
  .table-striped{
    margin-top:4rem;
    width:100%;
    background-color: #dedede;
    float:right;


  }
  .table td{
      border-bottom:2px solid #fff
  }
  .table-striped tr a{
    color:#473f88
  }

  .table-striped  tr i{
    color:#b1c3ea !important;
    margin-right:5px;
  }
  .content-element ul li {
    font-weight: 600;
    border-bottom: 1px solid #fff;
    background: #f4f3fa;
    margin: 0;
    padding: 0 23px 0 0;
    color:#170c6f !important;

}
  .content-element{
    margin-top: 3rem
  }
.content-element ul li a {
    color: #1c0c00;
    text-decoration: none !important;
    border-left: 5px solid transparent;
    display: inline-block;
    padding: 10px 0 10px 25px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

  .paragraph9 h3{
    color:#170c6f;
    margin-bottom:2rem
  }
  .paragraph9 h1{
    color:#170c6f;
    font-size:30px
  }
  .paragraph9 h4{
    color:#170c6f;
    margin-bottom:2rem
  }
  .paragraph9 p{
  color: #7a7a7a;
  }
  .paragraph9 .b li{
    color: #7a7a7a;
  }
  .page-header span{
    color:#170c6f !important;
    /* padding-bottom: 10px;
    border-bottom: 1px solid #e2e2e2; */
  }


  .upperbar{
     overflow: hidden;
     padding: 10px 10px;
     text-align: right;

  }
  .upperbar a{
     color: #8a85b5;
     font-size: 15px;
     font-weight: lighter;
     line-height: 1.65;
     float:right

  }

  .upperbar a:hover{
    border-bottom:1px solid

  }
  .upperbar span{
    float: right
  }
  .content-inner h1{

    text-align: right;
    line-height:-1;
      color:#170c6f !important
  }
  .content-inner span{
  font-weight: lighter !important;

  }
  .content-inner p {
    margin-bottom:2rem;
    margin-top: 3rem;
    text-align: right;
  }
  .content-inner  .b li{
    list-style-type: square !important;

  }
  .content-inner ul{
    margin-bottom: 3rem;
    text-align: right
  }
  .content-inner img{

  }
  .content-inner{
    margin-top:2rem
  }
  .b{
    text-align: right;
  }
  .new-boxs{
    text-align: right;
  }
  /**index**/
  .social-icons {
      margin: 0;
      position: absolute;
      left:2.5rem;
      bottom: 2rem;
      width: auto;
  }
  /** alert**/

  /** alert**/


  .alert.msg-alert {
      -webkit-border-top-right-radius: 5px;
      -moz-border-topright-radius: 5px;
      border-top-right-radius: 5px;
      -webkit-border-top-left-radius: 5px;
      -moz-border-topleft-radius: 5px;
      border-top-left-radius: 5px;
      max-width: 480px;
      width: 100%;
      border-width: 0 0 2px 0;
      border-style: solid;

      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-shadow: 0 5px 16px 0 rgba(12, 16, 26, 0.05);
      box-shadow: 0 5px 16px 0 rgba(12, 16, 26, 0.05);
      border-bottom:2px solid blue
  }
  .msg-alert i{
    color:blue;
    float:right;
    padding: 10px
  }
  .msg-alert1 #id1{
    color:yellow;
    float:right;
    padding: 10px
  }
  .msg-alert2 #id2{
    color:red;
    float:right;
    padding: 10px
  }
  .msg-alert h6{
    float:right;
    text-align: center;
    padding: 10px;
  }
  .msg-alert1 h6{
    float:right;
    text-align: center;
    padding: 10px;
  }
  .msg-alert2 h6{
    float:right;
    text-align: center;
    padding: 10px;
  }
  .alert.msg-alert1 {
      -webkit-border-top-right-radius: 5px;
      -moz-border-topright-radius: 5px;
      border-top-right-radius: 5px;
      -webkit-border-top-left-radius: 5px;
      -moz-border-topleft-radius: 5px;
      border-top-left-radius: 5px;
      max-width: 480px;
      width: 100%;
      border-width: 0 0 2px 0;
      border-style: solid;

      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-shadow: 0 5px 16px 0 rgba(12, 16, 26, 0.05);
      box-shadow: 0 5px 16px 0 rgba(12, 16, 26, 0.05);
      border-bottom:2px solid yellow
  }

  .alert.msg-alert2 {
      -webkit-border-top-right-radius: 5px;
      -moz-border-topright-radius: 5px;
      border-top-right-radius: 5px;
      -webkit-border-top-left-radius: 5px;
      -moz-border-topleft-radius: 5px;
      border-top-left-radius: 5px;
      max-width: 480px;
      width: 100%;
      border-width: 0 0 2px 0;
      border-style: solid;

      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-box-shadow: 0 5px 16px 0 rgba(12, 16, 26, 0.05);
      box-shadow: 0 5px 16px 0 rgba(12, 16, 26, 0.05);
      border-bottom:2px solid red
  }
  #close{
    font-weight: bold;
    padding:10px
  }
/**email**/



  /**service1**/
  .cont1{
    margin-top: 2rem;

  }

    .tile {
    z-index: 0;
    position: relative;
    display: inline-block;
    float: none;
    margin: 1.5%;
    padding: 0;
    height: 270px;
    width: 100%;
    text-align: center;
    background: #eee;
    overflow: hidden;
    transition: -webkit-transform 0.2s cubic-bezier(0.625,0.125,0.305,0.875);
    transition: transform 0.2s cubic-bezier(0.625,0.125,0.305,0.875);
    transition: transform 0.2s cubic-bezier(0.625,0.125,0.305,0.875),-webkit-transform 0.2s cubic-bezier(0.625,0.125,0.305,0.875);
    height: 250px;
  }
  .tile:hover, .tile:focus {
    box-shadow: 0 10px 40px rgba(0,0,0,0.1);
  }
  .tile-quad {

    height: 250px;
  }
  .tile figure {
    z-index: 0;
    margin: 0;
    position: absolute;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
    -webkit-transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
    -moz-transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
    -ms-transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
    -o-transition: all 1.5s cubic-bezier(.190, 1.000, .220, 1.000);
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: gray; /* IE 6-9 */
  }
  .tile:hover figure, .tile:focus figure {
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
  .tile a {
    display: table;
    position: relative;
    float: left;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    transition: all .25s;
  }

  .tile a div {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    padding: 0 2rem;
  }
  .tile h3 {
    margin: 0 auto;
    font-size: 2rem;
    color: #fff;
    padding: 0 0 1rem;
    line-height: 1;
  }
  .tile p {
    margin: 0 auto;
    color: #fff;
    font-size: 1.15rem;
    font-weight: 400;
    line-height: 1.2;
    width: auto;
    transition: opacity 0s, max-height 0s;
  }
  

  .tile a:hover p, .tile a:focus p {
    color: #fff;
    transition: all .5s;
  }




  .color-red {
    background: rgba(255, 60, 78, 0.76);
  }
  .color-yellow {
    background: rgba(255, 185, 29, 0.76);
  }
  .color-green {
    background: rgba(35, 226, 94, 0.76);
  }
  .color-blue {
    background: rgba(49, 122, 255, 0.76);
  }
  .boxx{
    background-color:#ebecec;
    width: 100%;
    border-radius: 3px;
    margin-top: 2rem;
    height: 100%;
    margin-bottom:3rem;
    border-top: 3px solid #33b4e6;

  }
  .boxx img{
    width:100%;
    height:100%
  }
  .boxx .video-player strong{

    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-top:5px !important;
  }
  .boxx p{
    font-size:16px !important
    color: #333;
  }
.video-player{
  margin-top: 10px
}
/**article2**/
.darkgray-line-title {
    background-color: #3b3b3b;
    padding-top: 13px;
    padding-bottom: 13px;
    min-height: 60px;
  }
    .new-box{
      box-sizing: border-box;
    transition: all 500ms ease-in-out 0s;
    height: 100%;
    padding: 19px;
    float: left;
    width: 100%;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px inset;
    margin-top: 2rem;

}
.new-box h4{
  color:#5a4ca9 !important
}
.new-boxs{
    margin-bottom:3rem;
    text-align: right;
}
.about-category {
    background-color: #dedede;
    border-radius: 10px;
    box-sizing: border-box;
    transition: all 500ms ease-in-out 0s;
    padding: 19px;
    float: right;
    width: 100%;
    /* margin-bottom: 20px; */
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px inset;
    margin-top: 2rem;
    border-radius: 10px;
}
.about-category .category-title {
    background-color: #3b6691;
    padding: 10px;
    border-radius: 10px 10px 0 0;
    width:100%;
    color:#fff
}
.about-category .category-content li a {
   text-decoration: none;
   color: #2f43a5;
   line-height: 2;
   font-size: 20px;
}

.category-content li a {
    background: transparent;
    line-height: 48px;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
    font-weight: 500;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    cursor: pointer;

    position: relative;
    width:100%;
    color: #fff;
    background: linear-gradient(to right, #c0c7ce 0%, #a5acd0 100%);
    -webkit-border-background: linear-gradient(to right, #969fa9 0%, #aab4e7 100%);
    border-image-slice: 1;


}
.text-capitalize{
  margin-right:-40px !important
}
.category-content li a:hover {
  color:#170c6f;
    border-radius: 0px;
    border: 0px solid #fff;
    background:none
}
.category-content img{
  width:100%;
  height:100%;
  border:3px solid #fff
}
.business-specialisation{
  background: #f5f5f5;
border-top: 3px solid #33b4e6;
margin-bottom: 2.5em;

margin-top:2rem;

}
.heading-hr-with-underline{
color:#5a4ca9 !important
}

.business-specialisation1{
  background: #f4f5f9;
border-top: 3px solid #33b4e6;
margin-bottom: 2.5em;
height:30%;
margin-top:2rem;

}
.business-specialisation img{
  width:200px;
  height:200px;
  border-radius:150px
}
.business-specialisation-head {
    padding: 1.875em;
}
/**article3**/
.business-specialisation1 img{
  width:100% !important;
  height: 100%;

}
/**call us**/
/*============== contact_area css ================*/
.primary-btn {
    background: transparent;
    line-height: 48px;
    padding-left: 40px;
    padding-right: 40px;
    display: inline-block;
    font-weight: 500;
    position: relative;

    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    width:100%;
    color: #fff;
    background:linear-gradient(to right, #969fa9 0%, #182772 100%);
    -webkit-border-background: linear-gradient(to right, #969fa9 0%, #182772 100%);
    border-image-slice: 1;

}
.primary-btn:hover {
  color:#fff;
    border-radius: 0px;
    border: 2px solid #4ba0f9;
    background:none
}

.mapBox {
  height: 420px;
   }

.contact_info .info_item {
  position: relative;
  padding-bottom:50px
 }
  .contact_info .info_item i {

    left: 0;
    top: 0;
    font-size: 20px;
    line-height: 24px;
    color: #e7dfdf;
    font-weight: 600;
  }
  .contact_info .info_item h6 {
    font-size: 16px;
    line-height: 24px;

    font-weight: bold;
    margin-bottom: 0px;
    color: #e7dfdf;
  }

    .contact_info .info_item h6 a {
      color: #e7dfdf; }
  .contact_info .info_item p {
    font-size: 14px;
    line-height: 24px;
    padding: 2px 0px;
  }




  .form-control1 {
      display: block;
      width: 100%;
      height: calc(2.25rem + 2px);
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #ffff;
        background: rgba(90, 89, 93, 0.52);
      background-clip: padding-box;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
  .form-control2 {
      display: block;
      width: 100%;
      padding: .375rem .75rem;
      font-size: 1rem;
      line-height: 1.5;
      color: #fff;
      background: rgba(90, 89, 93, 0.52);
      background-clip: padding-box;
      border-radius: .25rem;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }
.contact_form .form-group {
  margin-bottom: 10px;
  margin-left:10px
}
  .contact_form .form-group .form-control {
    font-size: 13px;
    line-height: 26px;
    color: #999;

    border-radius: 0px;
    padding-left: 20px;
    background: rgba(0,0,0,0.5) !important;
  }
    .contact_form .form-group .form-control:focus {
      box-shadow: none;
      outline: none;
    }
    .contact_form .form-group .form-control.placeholder {
      color: #999;
    }
    .contact_form .form-group .form-control:-moz-placeholder {
      color: #999;
    }
    .contact_form .form-group .form-control::-moz-placeholder {
      color: #999;
     }
    .contact_form .form-group .form-control::-webkit-input-placeholder {
      color: #999;
    }
  .contact_form .form-group textarea {
    resize: none;
  }
    .contact_form .form-group textarea.form-control {
      height: 140px;
    }
.contact_form .priamry-btn {
  margin-top: 20px;
  cursor: pointer;
  box-shadow: none; }

/* Contact Success and error Area css
============================================================================================ */
.modal-message .modal-dialog {
  position: absolute;
  top: 36%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%) !important;
  margin: 0px;
  max-width: 500px;
  width: 100%; }
  .modal-message .modal-dialog .modal-content .modal-header {
    text-align: center;
    display: block;
    border-bottom: none;
    padding-top: 50px;
    padding-bottom: 50px; }
    .modal-message .modal-dialog .modal-content .modal-header .close {
      position: absolute;
      right: -15px;
      top: -15px;
      padding: 0px;
      color: #fff;
      opacity: 1;
      cursor: pointer; }
    .modal-message .modal-dialog .modal-content .modal-header h2 {
      display: block;
      text-align: center;
      color: #4ba0f9;
      padding-bottom: 10px;

    }
    .modal-message .modal-dialog .modal-content .modal-header p {
      display: block; }

/* End Contact Success and error Area css
============================================================================================ */
/* =================================== */
/** ournews**/
/** ournews**/
 .jumbtron1{
  background: #f1f1f1;
height:700px



    }

.nav-tabs a{
  margin-top:3rem
}

.tabContainer{
  height:100%;
  width:100%;
  position:relative;


}
.tabContainer:before{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  left:0;
  top:0;
  background: #f1f1f1;


}


.business-specialisationn {
    margin-bottom:2rem;
    background-color: white;
    padding: 10px;
    margin-top: 20px;
}.nav-tabs{
  border-bottom:0px;
}.nav-tabs .nav-link{
  border-radius:0px;
}
.nav-item{
  position:relative;
}
.nav-link.active:after {
content: "";
    border: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translatex(-50%);
}
@media(max-width:768px){
  .tabContainer{height:auto;}
  .responsiveTabs{
    position:relative;
      left:initial;
  top:initial;
      transform:translate(0%,0%);
  }
  .tabContainer{
  background-size:contain;
  }
}
/**about us**/
.content-inner .info-box{

}
.content-inner img{

  height:30%;
  float:right;
}

/**404 page**/


#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 410px;
  width: 100%;
  text-align: center;
}

.notfound .notfound-404 {
  height: 280px;
  position: relative;
  z-index: -1;
}

.notfound .notfound-404 h1 {

  font-size: 230px;
  margin: 0px;
  font-weight: 900;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background: url('../imgs/bg.jpg') no-repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: cover;
  background-position: center;
}


.notfound h2 {

  color: #000;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 0;
}

.notfound p {

  color: #000;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 0px;
}

.notfound a {

  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  background: #0046d5;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 40px;
  color: #fff;
  font-weight: 700;
  -webkit-box-shadow: 0px 4px 15px -5px #0046d5;
          box-shadow: 0px 4px 15px -5px #0046d5;
}


@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
      height: 142px;
    }
    .notfound .notfound-404 h1 {
      font-size: 112px;
    }
}



/**footer**/
/* footer{
    background: #000;
    color: #d2d0d0;
    padding: 20px;
    border-top:1px solid #ffff;


}

 .social-list li{
  float:right !important;
  opacity:0.7;
  margin-left:10px;
  text-align: right;
}
 .fa-facebook{
  padding: 10px 14px;
  background: #3d578f;
  color:#fff;
  font-size: 20px;
margin: 0 5px 0 0;
border-radius: 50px;
float: right;
}
.fa-twitter {
    padding: 10px;
    background: #28aae1;
    font-size: 20px;
    margin: 0 5px 0 0;
    border-radius: 50px;
    color:#fff
  }
  .fa-youtube {
    padding: 10px;
    background: #d62727;
    font-size: 20px;
    margin: 0 5px 0 0;
    border-radius: 50px;
    color:#fff
}
.fa-linkedin {
    padding: 10px;
    background: #0b78b7;
    font-size: 20px;
    margin: 0 5px 0 0;
    border-radius: 50px;
    color:#fff
}

.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}




.item:nth-child(1) {
    background: #74C390;
}

.item:nth-child(2) {
    background: #51BCE8;
}

.item:nth-child(3) {
    background: #E46653;
}

.cc{
  float: left;
  text-align: left;

}
.downlinks{
  float: left;
}
.downlinks li >a{
  float: left;
  color:#fff;
  border-right: 1px solid #ffff;
  font-size: 12px;
  margin-right:10px
}
.downlinks li{
  float: left;
  color:#fff;

}
footer p{
  text-align: left;
  color:#fff;
  font-size:12px
}
footer span{
  text-align: left;
  color:#aaaade;
  font-size:15px
} */



/* =================================== */

.footer-area {
  min-height: 100%;
  /* background: #1e1c27 !important; */
  background-image: url(../imgs/accounting-achievement-aerial-1043506.jpg);
  position: relative;

 }
 .footer-overlay{
   height: 100%;
   width: 100%;
   background-image: linear-gradient(to right, rgba(4, 4, 48, 0.8), rgba(11, 36, 54, 0.8));
   -webkit-background-image: linear-gradient(to right, rgba(4, 4, 48, 0.8), rgba(11, 36, 54, 0.8));
   -moz-background-image: linear-gradient(to right, rgba(4, 4, 48, 0.8), rgba(11, 36, 54, 0.8));
   -o-background-image:linear-gradient(to right, rgba(4, 4, 48, 0.8), rgba(11, 36, 54, 0.8));
}
.footer-bottom{
  background: #2d3863 !important;
}

  .footer-area h6 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 18px;
    font-weight: 600;
    text-align: right;
  }
  @media (max-width: 991px) {
    .footer-area .col-lg-3:nth-child(3) .single-footer-widget, .footer-area .col-lg-3:nth-child(4) .single-footer-widget {
      margin-bottom: 0; } }
  @media (max-width: 570px) {
    .footer-area .col-lg-3:nth-child(3) .single-footer-widget {
      margin-bottom: 40px; } }

.copy-right-text i,
.copy-right-text a {
  color: #4ba0f9; }

.instafeed {
  margin: 0px -24px;
  padding: 0 15px; }
  @media (max-width: 767px) {
    .instafeed {
      margin: -16px; } }
  @media (max-width: 575px) {
    .instafeed {
      margin: 0px;
      padding: 0; } }
  .instafeed li {
    overflow: hidden;
    width: 25%; }
    .instafeed li img {
      margin: 5px; }

@media (max-width: 575px) {
  .footer-social {
    margin-top: 15px; } }
.footer-social a {
  padding-left: 25px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
  @media (max-width: 575px) {
    .footer-social a:first-child {
      padding-left: 0; } }
  .footer-social a:hover i {
    color: #4ba0f9; }
.footer-social i {
  color: #cccccc;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s; }
@media (max-width: 991px) {
  .footer-social {
    text-align: left; } }

.footer-top {
  padding: 120px 0px; }

@media (max-width: 991px) {
  .single-footer-widget {
    margin-bottom: 40px; } }
.single-footer-widget .footer-nav li {
  list-style: none;
  margin-bottom: 12px; }
  @media (max-width: 991px) {
    .single-footer-widget .footer-nav li {
      margin-bottom: 3px; } }
  .single-footer-widget .footer-nav li a {
    color: #bcb5b5 !important; }
    .single-footer-widget .footer-nav li a:hover {
      color: #ffffff !important; }
.single-footer-widget input {
  border: 1px solid rgba(238, 238, 238, 0.15);
  width: 80% !important;
  font-weight: 300;
  background: #2d2d3c;
  color: #ffffff;
  padding-left: 20px;
  border-radius: 0;
  font-size: 14px;
  border-right: 0px; }
  .single-footer-widget input:focus {
    box-shadow: none;
    color: #ffffff;
    background: #222222;
    border:1px solid #fff
  }
.single-footer-widget .info {
  position: absolute;
  margin-top: 20%;
  color: #fff;
  font-size: 12px;
  background: transparent; }
  .single-footer-widget .info.valid {
    color: green; }
  .single-footer-widget .info.error {
    color: red; }
.single-footer-widget .click-btn {
  color: #fff;
  border-radius: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 6px 12px;
  border: 0; }
  .single-footer-widget .click-btn:focus {
    box-shadow: none;
    border:1px solid #fff
  }
  .single-footer-widget .click-btn i {
    color: #fff; }
.single-footer-widget ::-moz-selection {
  /* Code for Firefox */
  background-color: #191919 !important;
  color: #ffffff; }
.single-footer-widget ::selection {
  background-color: #191919 !important;
  color: #ffffff; }
.single-footer-widget ::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ffffff;
  font-weight: 300; }
.single-footer-widget :-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ffffff;
  opacity: 1;
  font-weight: 300; }
.single-footer-widget ::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ffffff;
  opacity: 1;
  font-weight: 300; }
.single-footer-widget :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ffffff;
  font-weight: 300; }
.single-footer-widget ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #ffffff;
  font-weight: 300; }

.footer-bottom {
  padding: 26px 0px;
  border-top: 1px solid #817777; }
  @media (max-width: 380px) {
    .footer-bottom {
      text-align: left !important; } }

.footer-text a,
.footer-text i {
  color: #4ba0f9; }

.footer-nav i{
  margin-right: 10px;

}

.footer-top{
  text-align: right;
}
.footer-bottom{
  text-align: right;
}
.fa-paper-plane {
    padding: 10px 22px;
    background: -webkit-linear-gradient(90deg, #4ba0f9 0%, #85f3f9 100%);
    font-size: 17px;
    border: none;
    cursor: pointer;
    padding: 10px;
margin-top: -5px;

}
.footer-bottom ul li a{
    padding: 0 5px;
    margin: 0;
    list-style: none;
    display: inline-block;
    font-size: 14px;
    line-height: 1.7;
    color: #bcb5b5 !important;
    margin-left:10px;



}
.socialbar .pull-right{
  float:left !important;
}
.footer-bottom ul{

  margin: 0 0 5px 0;
}

.footer-bottom ul li{
  display: inline-block;
}
.social-list li{
  float:right !important;
  opacity:0.7;
  margin-left:10px;
  text-align: right;

}
.footer-text {
  color:#fff !important
}
.footer-top p{
  color:#bcb5b5 !important;
  text-align: right;
}
.col .footer-nav{
  text-align: right;
}
.socialbar ul li .fa-facebook {
  padding: 5px 14px;
    background: #3d578f;
    font-size: 20px;
    margin: 0 5px 0 0;
    border-radius: 50px;
    color:#fff;
    text-align: center;
    width:40px;
    height:40px;
}
.socialbar ul li .fa-twitter {
  padding: 5px 14px;
    background: #28aae1;
    font-size: 20px;
    margin: 0 5px 0 0;
    border-radius: 50px;
    color:#fff;
    text-align: center;
    width:40px;
    height:40px;
}
.socialbar ul li .fa-youtube {
  padding: 5px 14px;
    background: #d62727;
    font-size: 20px;
    margin: 0 5px 0 0;
    border-radius: 50px;
    color:#fff;
    text-align: center;
    width:40px;
    height:40px;
}
.pull-right{
  float:left !important;
}
.single-footer-widget li a span{
  float:right;
  text-align:right
}
.socialbar ul li .fa-linkedin {
  padding: 5px 14px;
    background: #0b78b7;
    font-size: 20px;
    margin: 0 5px 0 0;
    border-radius: 50px;
    color:#fff;
    text-align: center;
    width:40px;
    height:40px;

}


.footer-bottom1 ul li a{

    margin: 0;
    list-style: none;
    display: inline-block;
    font-size: 11px;
    line-height: 1.7;
    color: #bcb5b5 !important;
    margin-left:10px;
}
.footer-bottom1{
  margin-top: 20px;
  margin-bottom: -20px;
}
.txtt{
  margin-left:10px
}
.new-text{
  margin-top:10px
}
.limiter2{
  background: url(../imgs/blur-bottle-bright-273238.jpg) no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.limiter-overlay {
  height: 100%;
  background-image: linear-gradient(to right, rgba(4, 4, 48, 0.8), rgba(11, 36, 54, 0.8));
  -webkit-background-image: linear-gradient(to right, rgba(4, 4, 48, 0.8), rgba(11, 36, 54, 0.8));
  -moz-background-image: linear-gradient(to right, rgba(4, 4, 48, 0.8), rgba(11, 36, 54, 0.8));
  -o-background-image: linear-gradient(to right, rgba(4, 4, 48, 0.8), rgba(11, 36, 54, 0.8));
}
.container-login1002 {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  text-align:right;

}



.footer-bottom1 ul{
  padding: 0;
  margin: 0 0 5px 0;
}

.footer-bottom1 ul li{
  display: inline-block;
}
.copy_right{
  font-size:12px;
    color: #bcb5b5 !important;
}
.copy_right,.footer-bottom1 ul li a:hover{

    color: #8c7e7e !important;
}
.jumbtronnn{
  background:#f0f1f5;
  height:100% !important;

}
/**
.tab-pane h3,p{
  text-align: right !important;
} **/
.tab-pane{
  margin-bottom:3rem
}
.heading-hr-with-underline .business-specialisation-head-title{
  text-align: right;
}
.business-specialisation-lead{
  text-align: right;
}
.upperbar{

  text-align: right;
}
.upperbar a{
  float:right;
}
.form-group4 input{
  background: #f5f5f5;
  display:block;
  border:none;
  border-radius:5px;
  width:100%;
  font-size:16px;
  padding:10px 0px 10px 8px;
  margin-bottom:1rem;
  color:gray

  }
  .form-group4 label{
  color:#8796c7
  }
/* =================================== */
/*  End Footer Area CSS
