@media (max-width:767px) {
  .btn .btn-info{
    margin-bottom:20px !important;
    margin-top: 20px !important;
  }
  .our-team .team {
    min-height:900px
  }
  .content-inner h1{
    font-size: 20px !important;
  }
  header .content h1{
      color: #fff;
      font-size: 2rem;
      margin-top: 14rem;
  }
  header .content p{
      display: block;
      padding: 1rem;
      color: #eee;
      font-size: 1rem;
      border-top: 2px solid #fff;
      border-bottom: 2px solid #fff;
      max-width: 500px;
      margin: auto;
      margin-bottom: 2rem;
      margin-top: 3rem;
  }
  .toplinks {
    text-align: right;
    font-size: 12px;
    display: relative;
    padding: 3px 0px;
    margin-bottom: 0.5rem;
}

  header{
    width:100% !important;
     background: url(../imgs/beautiful-caucasian-computer-914931.jpg) no-repeat fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
 }

.social-list li{
  text-align:right;
}
.toplinks li >a {
  font-size:1px !important
}
.table-dark{
  width:80% !important;

}
.input-group1{
  width:100% !important;
}
.social-list{
  float: left;
  margin-left: -50px;
}

.pull-right{
  float:right !important;
  margin-top:10px
}
.toplinks li >a {
    color: #fff;
    display: relative;
    font-size: 10px;
}
.formfooter{
  text-align: right;
  padding-right: 20px
}
.form-check {
    margin-right: 5px;
    float: right;
}
.form-check label {
  padding-right:20px
}
.container-contact100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin-left: 0px;
}
.login100-form-btn a{
  color:#fff !important
}
.container-login100-form-btn{
  width:80% !important
}
.banner h1{
  font-size:30px !important;

}
.banner p{
  width:60% !important;
  text-align: center !important;
  margin: auto !important;
  text-align: center !important;
}
.banner #fade{
  margin-top: 2rem !important;

}
.banner #fade a{
  margin: 10px !important;
}

.template{
height: 868px !important;
}

}
/*small screen*/
@media (min-width:768px) and(max-width:991px){


}
/*medium screen*/
@media (min-width:992px) and(max-width:1199px){

}
/*large screen*/

@media(min-width:300px)  {
  .our-team h2{
    margin-top:0px !important
  }

}
