<footer class="footer-area section_gap">
  <div class="footer-overlay">
		<div class="container">
			<div class="row footer-top">
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6><%= t('about_website')%></h6>
						<p>
              <%= t('about_content')%>							
						</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6><%= t('navigation_links')%></h6>
						<div class="row">
							<ul class="col footer-nav">
								<li><a href="<%= Rails.application.credentials[:app_host]%>/pages/visitor_login"><%= t('home')%></a></li>
								<li><a href="<%= Rails.application.credentials[:app_host]%>/pages/about_us"><%= t('About_US')%></a></li>
								<li><a href="<%= Rails.application.credentials[:app_host]%>/pages/human_cadres"><%= t('Human_Cadres')%></a></li>
							</ul>
							<ul class="col footer-nav">
								<li><a href="<%= Rails.application.credentials[:app_host]%>/pages/news"><%= t('News') %></a></li>
								<li><a href="<%= Rails.application.credentials[:app_host]%>/pages/our_company"><%= t('About Company')%></a></li>
								<li><a href="<%= Rails.application.credentials[:app_host]%>/pages/contact_us"><%= t('Contact_us')%></a></li>
							</ul>
						</div>
					</div>
				</div>
        <div class="col-lg-3 col-md-6 col-sm-6">
          <div class="single-footer-widget mail-content">
            <h6><%= t('Contact_us')%></h6>
            <div class="row">
              <ul class="col-lg-12 col footer-nav">
                <li><a href="client2.html"><span><i class="fa fa-envelope-o"></i> Email:</span> <%= @contacts.title_en%></a></li>
                <li><a href="client2.html"><span><i class="fa fa-phone"></i> Phone:</span> <%= @contacts.title_ar%></a></li>
                <li><a href="client2.html"><span>Social Media:</span>
      							<a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
      							<a href="https://twitter.com"><i class="fa fa-twitter"></i></a>
      							<a href="https://www.youtube.com"><i class="fa fa-youtube"></i></a>
      							<a href="https://www.linkedin.com"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
				<div class="col-lg-3  col-md-6 col-sm-6">
					<div class="single-footer-widget mail-chimp">
						<h6 class="mb-20">Instafeed</h6>
						<ul class="instafeed d-flex flex-wrap">
							<li><img src="<%= Rails.application.credentials[:app_host]%>/site/imgs/i1.jpg" alt=""></li>
							<li><img src="<%= Rails.application.credentials[:app_host]%>/site/imgs/i2.jpg" alt=""></li>
							<li><img src="<%= Rails.application.credentials[:app_host]%>/site/imgs/i3.jpg" alt=""></li>
							<li><img src="<%= Rails.application.credentials[:app_host]%>/site/imgs/i4.jpg" alt=""></li>
							<li><img src="<%= Rails.application.credentials[:app_host]%>/site/imgs/i5.jpg" alt=""></li>
							<li><img src="<%= Rails.application.credentials[:app_host]%>/site/imgs/i6.jpg" alt=""></li>
							<li><img src="<%= Rails.application.credentials[:app_host]%>/site/imgs/i7.jpg" alt=""></li>
							<li><img src="<%= Rails.application.credentials[:app_host]%>/site/imgs/i8.jpg" alt=""></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-bottom d-flex justify-content-between align-items-center flex-wrap">
			<div class="container">
        <div class="row">
					<div class="col-lg-6 col-sm-12">
            <ul>
              <li><a href="<%= Rails.application.credentials[:app_host]%>/pages/privacy_policy" id="ctrl_footer_master_rptFooterLinks_ctl00_lnkFooter"><%= t("privacy policy") %></a> </li>
              <li><a href="<%= Rails.application.credentials[:app_host]%>/pages/terms_of_use" id="ctrl_footer_master_rptFooterLinks_ctl01_lnkFooter"><%= t("terms of use") %></a> </li>
              <li><a href="<%= Rails.application.credentials[:app_host]%>/pages/disclaimer" id="ctrl_footer_master_rptFooterLinks_ctl00_lnkFooter"><%= t("disclaimer") %></a> </li>
           </ul>
							<p class="footer-text">
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> <span>Progress</span> Organization All rights reserved
              </p>
						</div>
            <div class="col-lg-6">
              <div class="socialbar pull-right">
                <ul>
                  <li><a class="fa fa-facebook" href="https://www.facebook.com" target="_blank"></a></li>
                  <li><a class="fa fa-twitter" href="https://twitter.com" target="_blank"></a></li>
                  <li><a class="fa fa-youtube" href="https://www.youtube.com" target="_blank"></a></li>
                  <li><a class="fa fa-linkedin" href="https://www.linkedin.com/company-beta/17977800" target="_blank"></a></li>
                </ul>
              </div>
            </div>
				</div>
      </div>
			</div>
		</div>
  </div>
</footer>




