
<!DOCTYPE html>
<html dir="rtl">
<head>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag 'application' %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= @website_name %></title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/admin/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/admin/bootstrap/css/bootstrap-rtl.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/admin/dist/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/admin/dist/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/admin/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/admin/dist/css/AdminLTE-rtl.min.css">
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/admin/dist/css/skins/_all-skins.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/admin/plugins/datatables/dataTables.bootstrap.css">
  <%= yield(:head_tags) %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">

    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>P</b>Co</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Progress</b>Cons</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- Messages: style can be found in dropdown.less-->
          <li class="dropdown messages-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-envelope-o"></i>
              <span class="label label-success">4</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 4 messages</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- start message -->
                    <a href="#">
                      <div class="pull-left">
                        <img src="<%= Rails.application.credentials[:app_host]%>/admin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Support Team
                        <small><i class="fa fa-clock-o"></i> 5 mins</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <!-- end message -->
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="<%= Rails.application.credentials[:app_host]%>/admin/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        AdminLTE Design Team
                        <small><i class="fa fa-clock-o"></i> 2 hours</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="<%= Rails.application.credentials[:app_host]%>/admin/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Developers
                        <small><i class="fa fa-clock-o"></i> Today</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="<%= Rails.application.credentials[:app_host]%>/admin/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Sales Department
                        <small><i class="fa fa-clock-o"></i> Yesterday</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <div class="pull-left">
                        <img src="<%= Rails.application.credentials[:app_host]%>/admin/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                      </div>
                      <h4>
                        Reviewers
                        <small><i class="fa fa-clock-o"></i> 2 days</small>
                      </h4>
                      <p>Why not buy a new awesome theme?</p>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">See All Messages</a></li>
            </ul>
          </li>
          <!-- Notifications: style can be found in dropdown.less -->
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning">10</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 10 notifications</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-aqua"></i> 5 new members joined today
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                      page and may cause design problems
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-users text-red"></i> 5 new members joined
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <i class="fa fa-user text-red"></i> You changed your username
                    </a>
                  </li>
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!-- Tasks: style can be found in dropdown.less -->
          <li class="dropdown tasks-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-flag-o"></i>
              <span class="label label-danger">9</span>
            </a>
            <ul class="dropdown-menu">
              <li class="header">You have 9 tasks</li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Design some buttons
                        <small class="pull-right">20%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">20% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Create a nice theme
                        <small class="pull-right">40%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">40% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Some task I need to do
                        <small class="pull-right">60%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">60% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                  <li><!-- Task item -->
                    <a href="#">
                      <h3>
                        Make beautiful transitions
                        <small class="pull-right">80%</small>
                      </h3>
                      <div class="progress xs">
                        <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                          <span class="sr-only">80% Complete</span>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- end task item -->
                </ul>
              </li>
              <li class="footer">
                <a href="#">View all tasks</a>
              </li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="<%= Rails.application.credentials[:app_host]%>/admin/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs"><%= current_user.username%></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="<%= Rails.application.credentials[:app_host]%>/admin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">

                <p>
                  <%= current_user.username%>
                  <small>Member since Nov. 2012</small>
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
                <div class="row">
                  <div class="col-xs-4 text-center">
                    <a href="#">Followers</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Sales</a>
                  </div>
                  <div class="col-xs-4 text-center">
                    <a href="#">Friends</a>
                  </div>
                </div>
                <!-- /.row -->
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <%= button_to t(".sign_out"), sign_out_path, method: :delete ,:class => "btn btn-default btn-flat" %>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>

    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="<%= Rails.application.credentials[:app_host]%>/admin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><%= current_user.username%></p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <% @content = Content.all %>
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="<% if controller.controller_name == 'members' %>active treeview<% else %>treeview<% end %>">
          <a href="#">
            <i class="fa fa-fw fa-user"></i> <span><%= t("Users") %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="<% if controller.action_name == 'index' %>active<% end %>"><a href="<%= Rails.application.credentials[:app_host]%>/admin/members"><i class="fa fa-circle-o"></i> <%= t("Users List") %></a></li>
            <li class="<% if controller.action_name == 'admins' %>active<% end %>"><a href="<%= Rails.application.credentials[:app_host]%>/admin/admins"><i class="fa fa-circle-o"></i> <%= t("Admins List") %></a></li>
            <li class="<% if controller.action_name == 'add_user' %>active<% end %>"><a href="<%= Rails.application.credentials[:app_host]%>/admin/add-user"><i class="fa fa-circle-o"></i> <%= t("Add User") %></a></li>
          </ul>
        </li>

        <li class="<% if (controller.controller_name == 'contents'  && controller.action_name == 'show') || (controller.controller_name == 'pages'  && controller.action_name == 'news')  %>active treeview<% else %>treeview<% end %>"> 
          <a href="#">
            <i class="fa fa-share"></i> <span><%= t("Site Pages")%></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <a href="#"><i class="fa fa-files-o"></i><%= t("About_US") %>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <% @content.where("category =?", 1).each do |content| %>
                  <li><a href="<%= Rails.application.credentials[:app_host]%>/admin/contents/<%= content.id %>"% ><i class="fa fa-circle-o"></i> <%= t(content.key) %></a></li>
                <% end %>
              </ul>
            </li>

            <li>
              <% @human_cadres = @content.where("category =?", 2).first %>
              <a href="<%= Rails.application.credentials[:app_host]%>/admin/contents/<%= @human_cadres.id %>"%><i class="fa fa-fw fa-users"></i> <%= t(@human_cadres.key) %></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-pie-chart"></i><%= t("Our_Services") %>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <% @content.where("category =?", 3).each do |content| %>
                  <li><a href="<%= Rails.application.credentials[:app_host]%>/admin/contents/<%= content.id %>"% ><i class="fa fa-circle-o"></i> <%= t(content.key) %></a></li>
                <% end %>
              </ul>
            </li>
            <li>
              <a href="#"><i class="fa fa-pie-chart"></i><%= t("Our_Customers") %>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <% @content.where("category =?", 4).each do |content| %>
                  <li><a href="<%= Rails.application.credentials[:app_host]%>/admin/contents/<%= content.id %>"% ><i class="fa fa-circle-o"></i> <%= content.key %></a></li>
                <% end %>
              </ul>
            </li>
            <li>
              <a href="<%= Rails.application.credentials[:app_host]%>/admin/our_missions"% ><i class="fa fa-fw fa-users"></i><%= t("Our Mission") %></a>
            </li>
            <li>
              <a href="#"><i class="fa  fa-newspaper-o"></i><%= t("News") %>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href="<%= Rails.application.credentials[:app_host]%>/admin/news"><i class="fa fa-calendar"></i> <%= t("News") %></a></li>
                <li><a href="<%= Rails.application.credentials[:app_host]%>/admin/news/new"><i class="fa fa-calendar"></i> <%= t("New Content") %></a></li>

              </ul>
            </li>
            <li>
              <a href="#"><i class="fa fa-phone-square"></i><%= t("Contact_us") %>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <% @content.where("category =?", 5).each do |content| %>
                  <li><a href="<%= Rails.application.credentials[:app_host]%>/admin/contents/<%= content.id %>"% ><i class="fa fa-circle-o"></i> <%= t(content.key) %></a></li>
                <% end %>
              </ul>
            </li>
          </ul>
        </li>

        <li class="<% if controller.controller_name == 'visitor_services' %>active treeview<% else %>treeview<% end %>">
          <a href="#">
            <i class="fa fa-fw fa-user"></i> <span><%= t("Visitor Services") %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="<% if controller.action_name == 'index' %>active<% end %>"><a href="<%= Rails.application.credentials[:app_host]%>/admin/visitor_services"><i class="fa fa-circle-o"></i> <%= t("Visitor Services") %></a></li>
           </ul>
        </li>

        <li class="<% if controller.controller_name == 'premium_customers' %>active treeview<% else %>treeview<% end %>">
          <a href="#">
            <i class="fa fa-fw fa-user"></i> <span><%= t("Premium Customers") %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="<% if controller.action_name == 'index' %>active<% end %>">
              <%= link_to t('customer_opinions'), admin_premium_customers_path(type: "customer_opinions"),:class => "fa fa-user" %>
            </li>
            <li class="<% if controller.action_name == 'index' %><% end %>">
              <%= link_to t('our_partners'), admin_premium_customers_path(type: "our_partners"),:class => "fa fa-user-plus" %>
            </li>
           </ul>
        </li>

        <li class="<% if controller.controller_name == 'models' %>active treeview<% else %>treeview<% end %>">
          <a href="#">
            <i class="fa fa-fw fa-file-text"></i> <span><%= t("Models") %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="<% if controller.action_name == 'index' %>active<% end %>"><a href="<%= Rails.application.credentials[:app_host]%>/admin/models"><i class="fa fa-circle-o"></i> <%= t("Models List") %></a></li>
            <li class="<% if controller.action_name == 'new' %>active<% end %>"><a href="<%= Rails.application.credentials[:app_host]%>/admin/models/new"><i class="fa fa-circle-o"></i> <%= t("New Model") %></a></li>
          </ul>
        </li>

        <li class="<% if controller.controller_name == 'users_basic_data' %>active treeview<% else %>treeview<% end %>">
          <a href="#">
            <i class="fa fa-fw fa-file-text"></i> <span><%= t("Basic Data") %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="<% if controller.action_name == 'index' %>active<% end %>"><a href="<%= Rails.application.credentials[:app_host]%>/admin/users_basic_data"><i class="fa fa-circle-o"></i> <%= t("Basic Data") %></a></li>
          </ul>
        </li>

        <li class="<% if controller.controller_name == 'required_files' %>active treeview<% else %>treeview<% end %>">
          <a href="#">
            <i class="fa fa-fw fa-file"></i> <span><%= t("Required Files") %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="<% if controller.action_name == 'index' %>active<% end %>"><a href="<%= Rails.application.credentials[:app_host]%>/admin/required_files"><i class="fa fa-circle-o"></i> <%= t("Required Files List") %></a></li>
            <li class="<% if controller.action_name == 'new' %>active<% end %>"><a href="<%= Rails.application.credentials[:app_host]%>/admin/required_files/new"><i class="fa fa-circle-o"></i> <%= t("Request New File") %></a></li>
          </ul>
        </li>

        <li class="<% if controller.controller_name == 'reports' %>active treeview<% else %>treeview<% end %>">
          <a href="#">
            <i class="fa fa-fw fa-files-o"></i> <span><%= t("Reports") %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="<% if controller.action_name == 'index' %>active<% end %>"><a href="<%= Rails.application.credentials[:app_host]%>/admin/reports"><i class="fa fa-circle-o"></i> <%= t("Reports List") %></a></li>
            <li class="<% if controller.action_name == 'new' %>active<% end %>"><a href="<%= Rails.application.credentials[:app_host]%>/admin/reports/new"><i class="fa fa-circle-o"></i> <%= t("New Report") %></a></li>
          </ul>
        </li>

        <li class="<% if controller.controller_name == 'notifications' %>active treeview<% else %>treeview<% end %>">
          <a href="#">
            <i class="fa fa-fw fa-bell"></i> <span><%= t("Users Notifications") %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="<% if controller.action_name == 'index' %>active<% end %>"><a href="<%= Rails.application.credentials[:app_host]%>/admin/notifications"><i class="fa fa-bell-o"></i> <%= t("Notifications List") %></a></li>
            <li class="<% if controller.action_name == 'new' %>active<% end %>"><a href="<%= Rails.application.credentials[:app_host]%>/admin/notifications/new"><i class="fa fa-bell-o"></i> <%= t("New Notification") %></a></li>
          </ul>
        </li>

        <li class="<% if controller.controller_name == 'messages' %>active treeview<% else %>treeview<% end %>">
          <a href="#">
            <i class="fa fa-fw fa-bell"></i> <span><%= t("Tickets") %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="<% if controller.action_name == 'index' %>active<% end %>"><a href="<%= Rails.application.credentials[:app_host]%>/admin/messages"><i class="fa fa-bell-o"></i> <%= t("Tickets List") %></a></li>
            <li class="<% if controller.action_name == 'new' %>active<% end %>"><a href="<%= Rails.application.credentials[:app_host]%>/admin/messages/new"><i class="fa fa-bell-o"></i> <%= t("New Ticket") %></a></li>
          </ul>
        </li>

        <li class="<% if controller.controller_name == 'audit_logs' %>active treeview<% else %>treeview<% end %>">
          <a href="#">
            <i class="fa fa-fw fa-file"></i> <span><%= t("Audit Logs") %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="<% if controller.controller_name == 'audit_logs' %>active<% end %>"><a href="<%= Rails.application.credentials[:app_host]%>/admin/audit_logs"><i class="fa fa-fw fa-file"></i> <%= t("Audit Logs") %></a></li>
          </ul>
        </li>
        <br><br>
        



        
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Version 2.0</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="<%= Rails.application.credentials[:app_host]%>/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Info boxes -->
      <div class="row">
        <% flash.each do |key, value| -%>
          <div class="col-sm-3">
            <div class="box-color accent pos-rlt">
              <span class="arrow bottom b-accent"></span>
                <div class="box-body">
                  <div id="flash_<%= key %>"><%=h value %></div>
                </div>
            </div>
          </div>
        <% end %>
      </div>
        <%= yield %>
      
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1
    </div>
    <strong>Copyright &copy; 2019-2020 <a href="<%= Rails.application.credentials[:app_host]%>/">Progress Pioneers</a>.</strong> All rights
    reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Create the tabs -->
    <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
      <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-home"></i></a></li>
      <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading">Recent Activity</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-birthday-cake bg-red"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                <p>Will be 23 on April 24th</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-user bg-yellow"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Frodo Updated His Profile</h4>

                <p>New phone +1(800)555-1234</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-envelope-o bg-light-blue"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Nora Joined Mailing List</h4>

                <p>nora@example.com</p>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <i class="menu-icon fa fa-file-code-o bg-green"></i>

              <div class="menu-info">
                <h4 class="control-sidebar-subheading">Cron Job 254 Executed</h4>

                <p>Execution time 5 seconds</p>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

        <h3 class="control-sidebar-heading">Tasks Progress</h3>
        <ul class="control-sidebar-menu">
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Custom Template Design
                <span class="label label-danger pull-right">70%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-danger" style="width: 70%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Update Resume
                <span class="label label-success pull-right">95%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-success" style="width: 95%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Laravel Integration
                <span class="label label-warning pull-right">50%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-warning" style="width: 50%"></div>
              </div>
            </a>
          </li>
          <li>
            <a href="javascript:void(0)">
              <h4 class="control-sidebar-subheading">
                Back End Framework
                <span class="label label-primary pull-right">68%</span>
              </h4>

              <div class="progress progress-xxs">
                <div class="progress-bar progress-bar-primary" style="width: 68%"></div>
              </div>
            </a>
          </li>
        </ul>
        <!-- /.control-sidebar-menu -->

      </div>
      <!-- /.tab-pane -->

      <!-- Settings tab content -->
      <div class="tab-pane" id="control-sidebar-settings-tab">
        <form method="post">
          <h3 class="control-sidebar-heading">General Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Report panel usage
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Some information about this general settings option
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Allow mail redirect
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Other sets of options are available
            </p>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Expose author name in posts
              <input type="checkbox" class="pull-right" checked>
            </label>

            <p>
              Allow the user to show his name in blog posts
            </p>
          </div>
          <!-- /.form-group -->

          <h3 class="control-sidebar-heading">Chat Settings</h3>

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Show me as online
              <input type="checkbox" class="pull-right" checked>
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Turn off notifications
              <input type="checkbox" class="pull-right">
            </label>
          </div>
          <!-- /.form-group -->

          <div class="form-group">
            <label class="control-sidebar-subheading">
              Delete chat history
              <a href="javascript:void(0)" class="text-red pull-right"><i class="fa fa-trash-o"></i></a>
            </label>
          </div>
          <!-- /.form-group -->
        </form>
      </div>
      <!-- /.tab-pane -->
    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>

</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="<%= Rails.application.credentials[:app_host]%>/admin/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="<%= Rails.application.credentials[:app_host]%>/admin/bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="<%= Rails.application.credentials[:app_host]%>/admin/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="<%= Rails.application.credentials[:app_host]%>/admin/dist/js/app.min.js"></script>
<!-- Sparkline -->
<script src="<%= Rails.application.credentials[:app_host]%>/admin/plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="<%= Rails.application.credentials[:app_host]%>/admin/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="<%= Rails.application.credentials[:app_host]%>/admin/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- SlimScroll 1.3.0 -->
<script src="<%= Rails.application.credentials[:app_host]%>/admin/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- ChartJS 1.0.1 -->
<script src="<%= Rails.application.credentials[:app_host]%>/admin/plugins/chartjs/Chart.min.js"></script>
<!-- DataTables -->
<script src="<%= Rails.application.credentials[:app_host]%>/admin/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="<%= Rails.application.credentials[:app_host]%>/admin/plugins/datatables/dataTables.bootstrap.min.js"></script>
  <script>
    $(function () {
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false
      });
    });
  </script>

</body>
</html>
