<!DOCTYPE html>
<html>
<head>
  <%# javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
 <!-- <script language="JavaScript" type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
 <%# stylesheet_link_tag "application",  media: "all",  "data-turbolinks-track" => true %>
 <%# javascript_include_tag "application",  "data-turbolinks-track" => true %> 

</head>
<body>
  <!-- <div id="header">
    <%# if signed_in? -%>
      <%# button_to t(".sign_out"), sign_out_path, method: :delete %>
    <%# else -%>
      <%# link_to t(".sign_in"), sign_in_path %>
    <%# end -%>
  </div> -->

  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

  <%= yield %>
</body>
</html>
