<% @contacts = Content.where(:category => 5, :key => "contacts").first %>

<!DOCTYPE html>
<% if session[:locale] == "en" %>
  <html lang="en" dir="ltr">
<% else %>
  <html lang="en" dir="rtl">
<% end %>
  <head>
    <%= javascript_include_tag 'application' %>
    <meta charset="utf-8" />
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= @website_name %></title>
    <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/bootstrap.min.css">
    <% if session[:locale] == "en" %>
      <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/main.css">
    <% else %>
      <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/css2.css"> 
    <% end %>
    <link rel='stylesheet' href='<%= Rails.application.credentials[:app_host]%>/site/css/font-awesome.min.css'/>
    <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/animate.css">
    <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/site/css/media.css">
    <link href="https://fonts.googleapis.com/css?family=Assistant:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link href="https://fonts.googleapis.com/css?family=Amiri" rel="stylesheet">
  </head>

  <body>
  <!--start section our team  -->
    <div class="open">
      <div class="toplinks">
        <div class ="container">
          <div class="row">
            <div class="col-lg-6"></div>
            <div class="col-lg-6">
              <ul>
                <% if session[:locale] == "en" %>
                  <li><%= link_to "عربى", pages_change_lang_path(locale: "ar") %></li>
                <% else %>
                  <li><%= link_to "English", pages_change_lang_path(locale: "en") %></li>
                <% end %>
                <li><a href="sitemap.html">Sitemap</a></li>
                <li><a href="links.html">Links</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="toplinks-search">
        <div class ="container">
          <div class="row">
            <div class="col-lg-6 col-sm-6">
              <a class="navbar-brand" href="/"><img src="<%= Rails.application.credentials[:app_host]%>/site/imgs/logo.png"><%= "Progress" %></a>
            </div>
            <div class="col-lg-6 col-sm-6">
              <div class="input-group input-group1">
                <input type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
                </span>
              </div>
            </div>
          </div>
          <nav class="navbar navbar-expand-lg navbar-light bg-ligh">
            <div class="container">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="<%= Rails.application.credentials[:app_host]%>/pages/visitor_login"><%= t('home')%><span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= t('About Us')%>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="<%= Rails.application.credentials[:app_host]%>/pages/about_us"><%= t('About_US')%></a>
                      <a class="dropdown-item" href="<%= Rails.application.credentials[:app_host]%>/pages/our_company"><%= t('About Company')%></a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= t('Human_Cadres')%>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="<%= Rails.application.credentials[:app_host]%>/pages/human_cadres"><%= t('Human_Cadres')%></a>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= t('Our_Services')%>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <% Content.where("category =?", 3).all.each do |service| %>
                        <% if session[:locale] == "en" %>
                          <a class="dropdown-item" href="<%= Rails.application.credentials[:app_host]%>/pages/services/?id=<%= service.id%>"><%= service.title_en %></a>
                        <% else %>
                          <a class="dropdown-item" href="<%= Rails.application.credentials[:app_host]%>/pages/services/?id=<%= service.id%>"><%= service.title_ar %></a>
                        <% end %>
                      <% end %>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= t('Our_Customers')%>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <% Content.where("category =?", 4).all.each do |customer| %>
                        <% if session[:locale] == "en" %>
                          <a class="dropdown-item" href="<%= Rails.application.credentials[:app_host]%>/pages/customers/?id=<%= customer.id%>"><%= customer.title_en %></a>
                        <% else %>
                          <a class="dropdown-item" href="<%= Rails.application.credentials[:app_host]%>/pages/customers/?id=<%= customer.id%>"><%= customer.title_ar %></a>
                        <% end %>
                      <% end %>
                    </div>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= t('News')%>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="<%= Rails.application.credentials[:app_host]%>/pages/news"><%= t('News') %></a>
                    </div>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="<%= Rails.application.credentials[:app_host]%>/pages/contact_us"><%= t('Contact_us')%></a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= t('Visitor Services')%>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <%= link_to t('ServiceRequest'), new_visitor_service_path(service_id: "ServiceRequest"),:class => "dropdown-item" %>
                      <%= link_to t('ConsultRequest'), new_visitor_service_path(service_id: "ConsultRequest"),:class => "dropdown-item" %>
                      <%= link_to t('JobRequest'), new_visitor_service_path(service_id: "JobRequest"),:class => "dropdown-item" %>
                      <%= link_to t('Suggestion'), new_visitor_service_path(service_id: "Suggestion"),:class => "dropdown-item" %>
                      <div class="dropdown-divider"></div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
      <% if !(controller.controller_name == 'pages'  && controller.action_name == 'contact_us') %>
        <section class="our-teams text-center">
          <div class="teams">
            <div class="container">
            </div>
          </div>
        </section>
      <% end %>
    </div> 
    <!--  end section our team-->

    <%= yield %>


    <!-- Start Footer -->
      <%= render :partial => 'layouts/site_footer' %>
    <!-- End Footer -->


  <script src="<%= Rails.application.credentials[:app_host]%>/site/js/jquery-3.3.1.min.js"></script>
  <script src="<%= Rails.application.credentials[:app_host]%>/site/js/popper.min.js"></script>
  <script src="<%= Rails.application.credentials[:app_host]%>/site/js/bootstrap.min.js"></script>
  <script src="<%= Rails.application.credentials[:app_host]%>/site/js/wow.min.js"></script>
  <script>new WOW().init();</script>
  <script src="<%= Rails.application.credentials[:app_host]%>/site/js/main.js"></script>

</body>
</html>
