
<!DOCTYPE html>
<html dir="rtl">
<head>
  <%= csrf_meta_tag %>
  <%= javascript_include_tag 'application' %>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title><%= @website_name %></title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.6 -->
  <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/user/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/user/bootstrap/css/bootstrap-rtl.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/user/dist/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/user/dist/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/user/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/user/dist/css/AdminLTE-rtl.min.css">
  <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/user/dist/css/skins/mains.css">

  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/user/dist/css/skins/_all-skins.min.css">
  <!-- DataTables -->
  <link rel="stylesheet" href="<%= Rails.application.credentials[:app_host]%>/user/plugins/datatables/dataTables.bootstrap.css">
  <%= yield(:head_tags) %>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">

    <!-- Logo -->
    <a href="/" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>P</b>P</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Progress</b>Pioneers</span>
    </a>

    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          
          <!-- Notifications: style can be found in dropdown.less -->
          <% @notifications = Notification.where(user_id: current_user.id, seen: false).order('created_at DESC') %>
          <li class="dropdown notifications-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <i class="fa fa-bell-o"></i>
              <span class="label label-warning"><%= @notifications.count %></span>
            </a>
            <ul class="dropdown-menu">
              <li class="header"><%= t("You have") + " " + @notifications.count.to_s + " " + t("New Notification") %></li>
              <li>
                <!-- inner menu: contains the actual data -->
                <ul class="menu">
                  <% @notifications.limit(5).each do |notification| %>
                      <li>
                        <a href="#">
                          <i class="fa fa-users text-aqua"></i> <%= notification.description%>
                        </a>
                      </li>
                  <% end %>        
                </ul>
              </li>
              <li class="footer"><a href="#">View all</a></li>
            </ul>
          </li>
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="<%= Rails.application.credentials[:app_host]%>/user/dist/img/blank-profile-pic.png" class="user-image" alt="User Image">
              <span class="hidden-xs"><%= current_user.username%></span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="<%= Rails.application.credentials[:app_host]%>/user/dist/img/blank-profile-pic.png" class="img-circle" alt="User Image">

                <p>
                  <%= current_user.username%>
                  <small>Member since <%= current_user.created_at.strftime(' %d/%m/%Y ')%></small>
                </p>
              </li>
              
              <li class="user-footer">
                <div class="pull-left">
                <% if session[:locale] == "en" %>
                  <%= link_to "عربى", pages_change_lang_path(locale: "ar") ,class:"btn btn-default btn-flat" %>
                <% else %>
                  <%= link_to "English", pages_change_lang_path(locale: "en"),class:"btn btn-default btn-flat" %>
                <% end %>
                </div>
                <div class="pull-right">
                  <%= button_to t("Sign Out"), sign_out_path, method: :delete ,:class => "btn btn-default btn-flat" %>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="<%= Rails.application.credentials[:app_host]%>/user/dist/img/blank-profile-pic.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p><%= current_user.username%></p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu">
        <li class="header"></li>
        <li class="<% if controller.controller_name == 'users' and controller.action_name != 'models' and controller.action_name != 'reports' and controller.action_name != 'required_files' and controller.action_name != 'notifications' %>active treeview<% else %>treeview<% end %>">
          <a href="#">
            <i class="fa fa-fw fa-user"></i> <span><%= t("User Data") %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="<% if controller.action_name == 'show' %>active<% end %>"><a href="<%= Rails.application.credentials[:app_host]%>/users/<%= current_user.id %>"><i class="fa  fa-sticky-note"></i> <%= t("User Data") %></a></li>
            <li class="<% if controller.action_name == 'edit' %>active<% end %>"><a href="<%= Rails.application.credentials[:app_host]%>/users/<%= current_user.id %>/edit"><i class="fa fa-wrench"></i> <%= t("Edit User Data") %></a></li>
            <li class="<% if controller.action_name == 'edit_password' %>active<% end %>"><a href="<%= Rails.application.credentials[:app_host]%>/edit_password"><i class="fa fa-lock"></i> <%= t("Edit Password") %></a></li>
          </ul>
        </li>

        <li class="<% if (controller.controller_name == 'basic_data')  %>active treeview<% else %>treeview<% end %>"> 
          <a href="#">
            <i class="fa fa-folder-open"></i> <span><%= t("Basic Data")%></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <li class="<% if controller.action_name == 'new' %>active<% end %>"><a href="<%= Rails.application.credentials[:app_host]%>/basic_data/new"><i class="fa  fa-file-text-o"></i> <%= t("Add New Data") %></a></li>
              <li class="<% if controller.action_name == 'index' %>active<% end %>"><a href="<%= Rails.application.credentials[:app_host]%>/basic_data"><i class="fa  fa-folder"></i> <%= t("Show Data") %></a></li>         
            </li>            
          </ul>
        </li>

        <li class="<% if controller.controller_name == 'users' and controller.action_name == 'required_files'  %>active treeview<% else %>treeview<% end %>">
          <a href="<%= Rails.application.credentials[:app_host]%>/required_files">
            <i class="fa fa-upload" aria-hidden="true"></i><span><%= t("Upload the Required Data") %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>

        <li class="<% if controller.controller_name == 'users' and controller.action_name == 'reports'  %>active treeview<% else %>treeview<% end %>">
          <a href="<%= Rails.application.credentials[:app_host]%>/reports">
            <i class="fa fa-files-o" aria-hidden="true"></i><span><%= t("Reports") %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>

        <li class="<% if controller.controller_name == 'users' and controller.action_name == 'models'  %>active treeview<% else %>treeview<% end %>">
          <a href="<%= Rails.application.credentials[:app_host]%>/models">
            <i class="fa fa-file" aria-hidden="true"></i><span><%= t("Models") %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
        </li>

        <li class="<% if controller.controller_name == 'users' and controller.action_name == 'notifications'  %>active treeview<% else %>treeview<% end %>">
          <a href="<%= Rails.application.credentials[:app_host]%>/notifications">
            <i class="fa fa-bell-o" aria-hidden="true"></i><span><%= t("Mail") %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
              <% if @notifications.count != 0 %>
                <small class="label pull-right bg-red"><%= @notifications.count %></small>
              <% end %>
            </span>
          </a>
        </li>

        <li class="<% if controller.controller_name == 'tickets' %>active treeview<% else %>treeview<% end %>">
          <a href="#">
            <i class="fa fa-fw fa-envelope-o"></i> <span><%= t("Messages and proposals") %></span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="<% if controller.action_name == 'index' %>active<% end %>"><a href="<%= Rails.application.credentials[:app_host]%>/tickets"><i class="fa fa-envelope-square"></i> <%= t("Messages") %></a></li>
            <li class="<% if controller.action_name == 'new' %>active<% end %>"><a href="<%= Rails.application.credentials[:app_host]%>/tickets/new"><i class="fa fa-commenting"></i> <%= t("New message") %></a></li>

           </ul>
        </li>

      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Dashboard
        <small>Version 2.0</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="<%= Rails.application.credentials[:app_host]%>/admin/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Dashboard</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Info boxes -->
      <div class="row">
        <% flash.each do |key, value| -%>
          <div class="col-sm-3">
            <div class="box-color accent pos-rlt">
              <span class="arrow bottom b-accent"></span>
                <div class="box-body">
                  <div id="flash_<%= key %>"><%=h value %></div>
                </div>
            </div>
          </div>
        <% end %>
      </div>
        <%= yield %>
      
      <!-- /.row -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b></b> 
    </div>
    <strong>Copyright &copy; 2019-2020 <a href="<%= Rails.application.credentials[:app_host]%>/">Progress Pioneers</a>.</strong> All rights
    reserved.
  </footer>

  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>

</div>
<!-- ./wrapper -->

<!-- jQuery 2.2.3 -->
<script src="<%= Rails.application.credentials[:app_host]%>/user/plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Bootstrap 3.3.6 -->
<script src="<%= Rails.application.credentials[:app_host]%>/user/bootstrap/js/bootstrap.min.js"></script>
<!-- FastClick -->
<script src="<%= Rails.application.credentials[:app_host]%>/user/plugins/fastclick/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="<%= Rails.application.credentials[:app_host]%>/user/dist/js/app.min.js"></script>
<!-- Sparkline -->
<script src="<%= Rails.application.credentials[:app_host]%>/user/plugins/sparkline/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="<%= Rails.application.credentials[:app_host]%>/user/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
<script src="<%= Rails.application.credentials[:app_host]%>/user/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
<!-- SlimScroll 1.3.0 -->
<script src="<%= Rails.application.credentials[:app_host]%>/user/plugins/slimScroll/jquery.slimscroll.min.js"></script>
<!-- ChartJS 1.0.1 -->
<script src="<%= Rails.application.credentials[:app_host]%>/user/plugins/chartjs/Chart.min.js"></script>
<!-- DataTables -->
<script src="<%= Rails.application.credentials[:app_host]%>/user/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="<%= Rails.application.credentials[:app_host]%>/user/plugins/datatables/dataTables.bootstrap.min.js"></script>
  <script>
    $(function () {
      $('#example2').DataTable({
        "paging": true,
        "lengthChange": false,
        "searching": false,
        "ordering": true,
        "info": true,
        "autoWidth": false
      });
    });
  </script>

</body>
</html>
